Repository carbon-design-system/ibm-products, pull requests merged in 2020-11, with the labels that each got.

#163 feat: Import component
  .yarn/offline-mirror/@carbon-icons-react-10.20.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.22.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.23.1.tgz
  packages/experimental/package.json
  packages/experimental/src/components/ImportModal/ImportModal-test.js
  packages/experimental/src/components/ImportModal/ImportModal.js
  packages/experimental/src/components/ImportModal/ImportModal.mdx
  packages/experimental/src/components/ImportModal/ImportModal.stories.js
  packages/experimental/src/components/ImportModal/_import-modal.scss
  packages/experimental/src/components/ImportModal/_index.scss
  packages/experimental/src/components/ImportModal/_storybook-styles.scss
  packages/experimental/src/components/ImportModal/index.js
  packages/jest-config/setup/setupFilesAfterEnv.js
  yarn.lock
Labels: status: ready for review

#189 fix: page header responsiveness update for breadcrumb and title row
  packages/experimental/src/components/PageHeader/_page-header.scss
Labels: status: approved

#211 build(kodiak): add Kodiak configuration
  .kodiak.toml
Labels: status: approved

#209 build(codeql): add CodeQL workflow configuration
  .github/workflows/codeql.yml
Labels: status: approved, status: ready to merge

#208 chore(stale): add file for default configuration
  .github/stale.yml
Labels: status: approved, status: ready to merge

#215 docs(storybook): filter out stories in individual package `node_modules`
  packages/core/.storybook/main.js
  packages/core/package.json
Labels: status: ready to merge

#214 Fix feature flags locations
  common-files/feature-flags/_feature-flags.scss
  common-files/feature-flags/feature-flags.js
  package.json
  packages/cdai/src/generated/feature-flags/_feature-flags.scss
  packages/cdai/src/generated/feature-flags/feature-flags.js
  packages/cdai/src/globals/scss/_carbon-settings.scss
  packages/core/.storybook/index.scss
  packages/core/CHANGELOG.md
  packages/core/generated/feature-flags/_feature-flags.scss
  packages/core/generated/feature-flags/feature-flags.js
  packages/experimental/src/generated/feature-flags/_feature-flags.scss
  packages/experimental/src/generated/feature-flags/feature-flags.js
  packages/experimental/src/global/js/settings.js
  packages/experimental/src/global/styles/_carbon-settings.scss
  packages/feature-flags/feature-flags.js
  scripts/copy-common-files.sh
Labels: status: ready to merge

#207 build(babel): revert Rollup to Babel, add common configuration
  .yarn/offline-mirror/@babel-helper-module-imports-7.12.5.tgz
  .yarn/offline-mirror/@babel-plugin-transform-runtime-7.12.1.tgz
  .yarn/offline-mirror/@babel-types-7.12.6.tgz
  package.json
  packages/babel-preset-ibm-cloud-cognitive/index.js
  packages/babel-preset-ibm-cloud-cognitive/package.json
  packages/cdai/package.json
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/scripts/build.js
  packages/core/.babelrc.js
  packages/core/package.json
  packages/core/scripts/build.js
  packages/experimental/package.json
  packages/experimental/scripts/build.js
  packages/experimental/src/components/EmptyState/EmptyState-test.js
  packages/experimental/src/components/EmptyState/EmptyState.js
  packages/experimental/src/components/EmptyState/EmptyState.stories.js
  packages/experimental/src/components/EmptyState/assets/dark/error.svg
  packages/experimental/src/components/EmptyState/assets/dark/nodata.svg
  packages/experimental/src/components/EmptyState/assets/dark/notags.svg
  packages/experimental/src/components/EmptyState/assets/dark/notfound.svg
  packages/experimental/src/components/EmptyState/assets/dark/notifications.svg
  packages/experimental/src/components/EmptyState/assets/dark/unauthorized.svg
  packages/experimental/src/components/EmptyState/assets/light/error.svg
  packages/experimental/src/components/EmptyState/assets/light/nodata.svg
  packages/experimental/src/components/EmptyState/assets/light/notags.svg
  packages/experimental/src/components/EmptyState/assets/light/notfound.svg
  packages/experimental/src/components/EmptyState/assets/light/notifications.svg
  packages/experimental/src/components/EmptyState/assets/light/unauthorized.svg
  packages/security/package.json
  packages/security/scripts/build.js
  yarn.lock
Labels: status: ready to merge

#220 Improve Tearsheet stories
  packages/experimental/src/components/Tearsheet/Tearsheet.stories.js
  packages/experimental/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/experimental/src/components/Tearsheet/_storybook-styles.scss
Labels: status: ready to merge

#200 feat: apikey modal
  packages/core/.storybook/index.scss
  packages/core/.storybook/preview.js
  packages/experimental/src/components/APIKeyDownloader/APIKeyDownloader-test.js
  packages/experimental/src/components/APIKeyDownloader/APIKeyDownloader.js
  packages/experimental/src/components/APIKeyDownloader/index.js
  packages/experimental/src/components/APIKeyModal/APIKeyModal-test.js
  packages/experimental/src/components/APIKeyModal/APIKeyModal.js
  packages/experimental/src/components/APIKeyModal/APIKeyModal.mdx
  packages/experimental/src/components/APIKeyModal/APIKeyModal.stories.js
  packages/experimental/src/components/APIKeyModal/_api-key-modal.scss
  packages/experimental/src/components/APIKeyModal/_index.scss
  packages/experimental/src/components/APIKeyModal/_storybook-styles.scss
  packages/experimental/src/components/APIKeyModal/index.js
Labels: status: ready for review

#221 fix: update import and remove modal stories
  packages/experimental/src/components/ImportModal/ImportModal.stories.js
  packages/experimental/src/components/RemovalModal/RemovalModal.stories.js
Labels: status: ready for code review, status: ready to merge

#229 Make tearsheets stackable
  packages/experimental/src/components/Tearsheet/TearsheetShell.js
  packages/experimental/src/components/Tearsheet/TearsheetStacking.stories.js
  packages/experimental/src/components/Tearsheet/_tearsheet.scss
  packages/experimental/src/components/Tearsheet/index.js
  packages/experimental/src/components/index.js
Labels: status: ready to merge

#216 docs(security): remove IBM Security stories
  packages/security/src/ComboButton/ComboButton.stories.js
  packages/security/src/Decorator/Decorator.stories.js
  packages/security/src/ErrorPage/ErrorPage.stories.js
  packages/security/src/ICA/ICA.stories.js
Labels: status: ready to merge

#234 docs(codesandbox): add basic CodeSandbox example
  .github/ISSUE_TEMPLATE/bug-report.md
  README.md
  examples/codesandbox/package.json
  examples/codesandbox/public/index.html
  examples/codesandbox/src/index.js
Labels: status: approved, status: ready to merge

#230 fix: small stories update to RemovalModal
  packages/experimental/src/components/RemovalModal/RemovalModal.mdx
  packages/experimental/src/components/RemovalModal/RemovalModal.stories.js
Labels: status: ready for code review, status: ready to merge

#237 fix: docgen optional chaining issue TagSet and ModifiedTabs
  packages/experimental/src/components/ModifiedTabs/ModifiedTabs.js
  packages/experimental/src/components/TagSet/TagSet.js
Labels: status: ready to merge

#241 chore: reorg stories for tearsheets
  packages/experimental/src/components/Tearsheet/Tearsheet.stories.js
  packages/experimental/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/experimental/src/components/Tearsheet/TearsheetShell.stories.js
  packages/experimental/src/components/Tearsheet/TearsheetStacking.stories.js
  packages/experimental/src/components/Tearsheet/TearsheetStackingNarrow.stories.js
Labels: status: ready to merge

#240 build(stale): update assigned label
  .github/stale.yml
Labels: status: ready to merge

#239 build: fix code scanning alert
  packages/core/scripts/build.js
Labels: status: ready to merge

#245 build(Prettier): ignore CHANGELOGs from formatting
  .prettierignore
  package.json
Labels: status: ready to merge

#244 chore(release): correct repository information in package.jsons
  packages/automation/package.json
  packages/babel-preset-ibm-cloud-cognitive/package.json
  packages/cdai/package.json
  packages/cli/package.json
  packages/cli/src/commands/sync/packageJson.js
  packages/cloud-cognitive/package.json
  packages/common-services/package.json
  packages/core/package.json
  packages/experimental/package.json
  packages/jest-config/package.json
  packages/rollup-config/package.json
  packages/security/package.json
  packages/storybook-addon-carbon-theme/package.json
Labels: status: ready to merge

#242 docs(templates): add dependency guidance
  .github/ISSUE_TEMPLATE/new-component-or-pattern-template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: ready to merge
