Repository carbon-design-system/ibm-products, pull requests merged in 2020-10, with the labels that each got.

#119 feat: added remove component
  packages/experimental-package/src/components/RemoveModal/RemovalModal.js
  packages/experimental-package/src/components/RemoveModal/RemovalModal.stories.js
  packages/experimental-package/src/components/RemoveModal/_index.scss
  packages/experimental-package/src/components/RemoveModal/_removal-modal.scss
  packages/experimental-package/src/components/RemoveModal/_storybook-styles.scss
  packages/experimental-package/src/components/RemoveModal/index.js
  packages/experimental-package/src/global/js/utils/uuidv4.js
Labels: status: in review

#153 Removal modal testing
  packages/experimental-package/src/components/RemovalModal/RemovalModal-test.js
Labels: status: ready for review

#156 fix: small RemovalModal docs update
  packages/experimental/src/components/RemovalModal/RemovalModal.mdx
  packages/experimental/src/components/RemovalModal/RemovalModal.stories.js
Labels: status: ready for review

#158 feat: various review updates
  packages/experimental/src/components/PageHeader/PageHeader.js
  packages/experimental/src/components/PageHeader/PageHeader.stories.js
  packages/experimental/src/components/PageHeader/_page-header.scss
Labels: status: approved

#160 fix: broken carbon tabs
  .yarn/offline-mirror/@carbon-colors-10.14.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.19.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.21.0.tgz
  .yarn/offline-mirror/carbon-components-10.22.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.20.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.22.0.tgz
  packages/core/package.json
  packages/experimental/package.json
  packages/experimental/src/components/PageHeader/PageHeader-test.js
  packages/experimental/src/components/PageHeader/_page-header.scss
  yarn.lock
Labels: status: changes requested
