Repository carbon-design-system/ibm-products, pull requests merged in 2022-06, with the labels that each got.

#2009 fix: Added styles to datagrid drag and drop pattern
  cspell.json
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DraggableElement.js
  packages/cloud-cognitive/src/components/Datagrid/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/draggableElement.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/index.scss
Labels: component: Datagrid

#2019 fix: Add select modifier functionality
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectSidebar.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
Labels: status: ready to merge

#2026 chore(caption in productive card): caption fixed
  packages/cloud-cognitive/src/components/ProductiveCard/ProductiveCard.stories.js
Labels: status: ready to merge

#2028 fix(ComboButton): remove getInstanceId and use our internal uuid util
  packages/cloud-cognitive/src/components/ComboButton/ComboButton.js
Labels: status: ready to merge

#2025 feat: inline edit release
  docs/reviews/RELEASE_REVIEW_GUIDELINES.md
  package.json
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/_index-released-only.scss
  packages/cloud-cognitive/src/global/js/package-settings.js
Labels: status: ready to merge

#2051 chore: update SidePanel
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.stories.js
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: Carbon v11

#2027 chore(narrow tearsheet header): border bottom fix
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/Tearsheet/_tearsheet.scss
Labels: status: ready to merge

#2066 feat(WebTerminal): Changes width to 640px
  packages/cloud-cognitive/src/components/WebTerminal/_web-terminal.scss
Labels: status: ready to merge
