Repository carbon-design-system/ibm-products, pull requests merged in 2022-04, with the labels that each got.

#1881 fix: ssr maybe - moves document.body inside useEffect
  packages/cloud-cognitive/src/components/TagSet/TagSet.js
Labels: status: ready to merge

#1883 fix(DataSpreadsheet): correct cursor placement
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/_data-spreadsheet.scss
Labels: status: ready to merge

#1894 fix: add select global filter
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  packages/cloud-cognitive/src/components/AddSelect/add-select-utils.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
Labels: status: ready to merge

#1901 fix(select): inline background color on tearsheet
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/Tearsheet/_tearsheet.scss
Labels: type: bug, status: ready to merge, component: Tearsheet

#1903 fix: show export modal close icon
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/ExportModal/_export-modal.scss
Labels: status: ready to merge

#1910 feat(DataSpreadsheet): add select all button functionality
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.test.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheetHeader.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleMultipleKeys.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/selectAllCells.js
Labels: status: ready to merge

#1911 chore: add select documentation
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.mdx
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.test.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.mdx
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.stories.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.test.js
Labels: status: ready to merge

#1905 feat: add portal target prop to tearsheet shell
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.test.js
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.test.js
  packages/cloud-cognitive/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.test.js
  packages/cloud-cognitive/src/components/TagSet/TagSet.js
  packages/cloud-cognitive/src/components/TagSet/TagSet.stories.js
  packages/cloud-cognitive/src/components/Tearsheet/Tearsheet.stories.js
  packages/cloud-cognitive/src/components/Tearsheet/Tearsheet.test.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.stories.js
  packages/cloud-cognitive/src/global/js/package-settings.js
Labels: status: ready to merge

#1917 feat(DataSpreadsheet): support shortcuts when user agent is not mac
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/hooks/useMultipleKeyTracking.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleMultipleKeys.js
Labels: component: DataSpreadsheet

#1919 fix(AboutModal): scrolling content fade visible
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/AboutModal/_about-modal.scss
Labels: type: bug, status: ready to merge

#1934 feat(DataSpreadsheet): support horizontal scrolling/add sticky headers
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.stories.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.test.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheetBody.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheetHeader.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/_data-spreadsheet.scss
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/generateData.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/getSpreadsheetWidth.js
Labels: component: DataSpreadsheet

#1932 chore(datagrid): Align nested rows with PAL guidance
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/useNestedRows.scss
  packages/cloud-cognitive/src/components/Datagrid/useNestedRows.js
  packages/cloud-cognitive/src/components/Datagrid/useRowExpander.js
Labels: type: bug, component: Datagrid

#1938 fix: adds global filter tags to add select
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.stories.js
Labels: status: ready to merge

#1943 fix(SidePanel): fix static panel height without actions
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: status: ready to merge

#1942 docs: update docu for security components and patterns
  packages/security/src/components/Card/Card-story.js
  packages/security/src/components/ErrorPage/ErrorPage-story.js
  packages/security/src/components/Header/Header-story.js
  packages/security/src/components/Icon/Icon-story.js
  packages/security/src/components/Nav/Nav-story.js
  packages/security/src/components/Panel/Panel-story.js
  packages/security/src/components/PanelV2/PanelV2-story.js
  packages/security/src/components/ProfileImage/ProfileImage-story.js
  packages/security/src/components/Shell/Shell-story.js
  packages/security/src/components/StatusIcon/StatusIcon-story.js
  packages/security/src/components/StatusIndicator/StatusIndicator-story.js
  packages/security/src/components/SummaryCard/SummaryCard-story.js
  packages/security/src/components/Tearsheet/Tearsheet-story.js
  packages/security/src/components/Tearsheet/TearsheetSmall/TearsheetSmall-story.js
  packages/security/src/components/Toolbar/Toolbar-story.js
  packages/security/src/components/TrendingCard/TrendingCard-story.js
  packages/security/src/components/Wizard/Wizard-story.js
Labels: status: ready to merge
