Repository carbon-design-system/ibm-products, pull requests merged in 2022-07, with the labels that each got.

#2053 chore(page header): header top value fix
  packages/cloud-cognitive/src/components/PageHeader/PageHeaderUtils.js
Labels: status: ready to merge

#2039 feat: align expandable rows
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/index.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/useExpandedRow.scss
  packages/cloud-cognitive/src/components/Datagrid/useExpandedRow.js
Labels: status: ready to merge, component: Datagrid

#2063 feat: index cloud cognitive
  cspell.json
  packages/cloud-cognitive/carbon.yml
  packages/cloud-cognitive/thumbnails/about-modal.svg
  packages/cloud-cognitive/thumbnails/action-bar.svg
  packages/cloud-cognitive/thumbnails/action-set.svg
  packages/cloud-cognitive/thumbnails/api-key-modal.svg
  packages/cloud-cognitive/thumbnails/breadcrumb-with-overflow.svg
  packages/cloud-cognitive/thumbnails/button-menu.svg
  packages/cloud-cognitive/thumbnails/button-set-with-overflow.svg
  packages/cloud-cognitive/thumbnails/cascade.svg
  packages/cloud-cognitive/thumbnails/combo-button.svg
  packages/cloud-cognitive/thumbnails/create-full-page.svg
  packages/cloud-cognitive/thumbnails/create-modal.svg
  packages/cloud-cognitive/thumbnails/create-tearsheet-narrow.svg
  packages/cloud-cognitive/thumbnails/create-tearsheet.svg
  packages/cloud-cognitive/thumbnails/data-grid.svg
  packages/cloud-cognitive/thumbnails/data-spreadsheet.svg
  packages/cloud-cognitive/thumbnails/edit-side-panel.svg
  packages/cloud-cognitive/thumbnails/empty-state.svg
  packages/cloud-cognitive/thumbnails/export-modal.svg
  packages/cloud-cognitive/thumbnails/expressive-card.svg
  packages/cloud-cognitive/thumbnails/http-error.svg
  packages/cloud-cognitive/thumbnails/import-modal.svg
  packages/cloud-cognitive/thumbnails/inline-edit.svg
  packages/cloud-cognitive/thumbnails/modified-tabs.svg
  packages/cloud-cognitive/thumbnails/multi-add-select.svg
  packages/cloud-cognitive/thumbnails/notifications-panel.svg
  packages/cloud-cognitive/thumbnails/options-tile.svg
  packages/cloud-cognitive/thumbnails/page-header.svg
  packages/cloud-cognitive/thumbnails/productive-card.svg
  packages/cloud-cognitive/thumbnails/remove-modal.svg
  packages/cloud-cognitive/thumbnails/saving.svg
  packages/cloud-cognitive/thumbnails/side-panel.svg
  packages/cloud-cognitive/thumbnails/single-add-select.svg
  packages/cloud-cognitive/thumbnails/status-icon.svg
  packages/cloud-cognitive/thumbnails/tag-set.svg
  packages/cloud-cognitive/thumbnails/tearsheet.svg
  packages/cloud-cognitive/thumbnails/toolbar.svg
  packages/cloud-cognitive/thumbnails/user-profile-image.svg
  packages/cloud-cognitive/thumbnails/web-terminal.svg
Labels: status: ready to merge

#2068 fix: add select refactor
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBreadcrumbs.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBreadcrumbs.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectColumn.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectMetaPanel.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectSidebar.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectSort.js
  packages/cloud-cognitive/src/components/AddSelect/add-select-utils.js
  packages/cloud-cognitive/src/components/AddSelect/hooks/useParentSelect.js
  packages/cloud-cognitive/src/components/AddSelect/hooks/usePath.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
Labels: status: ready to merge

#2087 fix(web-terminal): spans 100% when less than 640px
  packages/cloud-cognitive/src/components/WebTerminal/_web-terminal.scss
Labels: status: ready to merge

#2106 fix(WebTerminal): small fixes for release review
  packages/cloud-cognitive/src/components/WebTerminal/WebTerminal.js
Labels: status: ready to merge

#2098 chore: testing for add select
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
Labels: status: ready to merge

#2111 chore: add select utils testing
  packages/cloud-cognitive/src/components/AddSelect/add-select-utils.test.js
Labels: status: ready to merge

#2115 chore: update RemoveModal accessibility
  packages/cloud-cognitive/src/components/RemoveModal/RemoveModal.js
  packages/cloud-cognitive/src/components/RemoveModal/RemoveModal.test.js
Labels: Carbon v11

#2116 chore: update TagSet test
  packages/cloud-cognitive/src/components/TagSet/TagSet.test.js
Labels: Carbon v11

#1975 feat(edit and update): edit and update tearsheet
  packages/cloud-cognitive/src/__tests__/index-all-enabled.test.js
  packages/cloud-cognitive/src/components/EditFullPage/EditFullPage.js
  packages/cloud-cognitive/src/components/EditFullPage/EditFullPage.mdx
  packages/cloud-cognitive/src/components/EditFullPage/EditFullPage.stories.js
  packages/cloud-cognitive/src/components/EditFullPage/EditFullPage.test.js
  packages/cloud-cognitive/src/components/EditFullPage/_edit-full-page.scss
  packages/cloud-cognitive/src/components/EditFullPage/_index.scss
  packages/cloud-cognitive/src/components/EditFullPage/_storybook-styles.scss
  packages/cloud-cognitive/src/components/EditFullPage/index.js
  packages/cloud-cognitive/src/components/EditFullPage/storybook_assets/edit-full-page-1.png
  packages/cloud-cognitive/src/components/EditTearsheet/EditTearsheet.js
  packages/cloud-cognitive/src/components/EditTearsheet/EditTearsheet.mdx
  packages/cloud-cognitive/src/components/EditTearsheet/EditTearsheet.stories.js
  packages/cloud-cognitive/src/components/EditTearsheet/EditTearsheet.test.js
  packages/cloud-cognitive/src/components/EditTearsheet/EditTearsheetForm.js
  packages/cloud-cognitive/src/components/EditTearsheet/_edit-tearsheet.scss
  packages/cloud-cognitive/src/components/EditTearsheet/_index.scss
  packages/cloud-cognitive/src/components/EditTearsheet/_storybook-styles.scss
  packages/cloud-cognitive/src/components/EditTearsheet/index.js
  packages/cloud-cognitive/src/components/EditTearsheet/preview-components/MultiFormEditTearsheet.js
  packages/cloud-cognitive/src/components/EditTearsheet/storybook_assets/edit-tearsheet-2.png
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/EditTearsheetNarrow.js
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/EditTearsheetNarrow.mdx
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/EditTearsheetNarrow.stories.js
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/EditTearsheetNarrow.test.js
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/_edit-tearsheet-narrow.scss
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/_index.scss
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/_storybook-styles.scss
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/index.js
  packages/cloud-cognitive/src/components/EditTearsheetNarrow/storybook_assets/edit-tearsheet-1.png
  packages/cloud-cognitive/src/components/_index.scss
  packages/cloud-cognitive/src/components/index.js
  packages/cloud-cognitive/src/global/js/package-settings.js
  packages/core/story-structure.js
Labels: status: ready to merge

#2118 chore: add select body testing
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectSidebar.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
Labels: status: ready to merge

#2119 fix(PageHeader): solved unexpected scrollbar issue
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/PageHeader/_page-header.scss
Labels: status: ready to merge

#2008 chore(Datagrid): add unit test coverage
  cspell.packages.txt
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/styles/useExpandedRow.scss
  packages/cloud-cognitive/src/components/Datagrid/useExpandedRow.js
Labels: component: Datagrid

#2125 chore: finish up add select testing
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBreadcrumbs.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectColumn.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
Labels: status: ready to merge

#1973 feat(Datatable): table header
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/Datagrid.js
  packages/cloud-cognitive/src/components/Datagrid/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/datagrid.scss
Labels: status: ready to merge, component: Datagrid

#2128 chore: update ModifiedTabs component to use new v11 Tabs api
  packages/cloud-cognitive/src/components/ModifiedTabs/ModifiedTabLabelNew.js
  packages/cloud-cognitive/src/components/ModifiedTabs/ModifiedTabLabelWithClose.js
  packages/cloud-cognitive/src/components/ModifiedTabs/ModifiedTabs.js
  packages/cloud-cognitive/src/components/ModifiedTabs/ModifiedTabs.stories.js
  packages/cloud-cognitive/src/components/ModifiedTabs/_modified-tabs.scss
Labels: status: ready to merge

#1516 feat: Create Getting Started layout
  packages/core/story-structure.js
  packages/security/.storybook/index.js
  packages/security/src/__tests__/scss/__snapshots__/styles-test.js.snap
  packages/security/src/components/GettingStartedLayout/GettingStartedLayout-story.js
  packages/security/src/components/GettingStartedLayout/Microlayout.js
  packages/security/src/components/GettingStartedLayout/_index.scss
  packages/security/src/components/GettingStartedLayout/_variables.scss
  packages/security/src/components/GettingStartedLayout/docs/Troubleshooting/images/github.png
  packages/security/src/components/GettingStartedLayout/docs/Troubleshooting/images/slack.png
  packages/security/src/components/GettingStartedLayout/docs/Troubleshooting/index.mdx
  packages/security/src/components/GettingStartedLayout/docs/examples/GettingStarted/images/gettingStarted.png
  packages/security/src/components/GettingStartedLayout/docs/examples/GettingStarted/index.mdx
  packages/security/src/components/GettingStartedLayout/images/placeholder.svg
  packages/security/src/components/GettingStartedLayout/index.js
  packages/security/src/components/GettingStartedLayout/index.mdx
  packages/security/src/components/PageLayouts/Detail-story.js
  packages/security/src/components/PageLayouts/GettingStarted-story.js
  packages/security/src/components/PageLayouts/Overview-story.js
  packages/security/src/components/PageLayouts/stories/index.js
  packages/security/src/components/__tests__/__snapshots__/public-api-test.js.snap
  packages/security/src/components/_index.scss
  packages/security/src/images/aurora_full_width.png
  packages/security/src/index.js
Labels: package: Security
