Repository carbon-design-system/ibm-products, pull requests merged in 2022-09, with the labels that each got.

#2242 fix: Remove `@carbon/elements` from `@carbon/ibm-cloud-cognitive-cdai`'s peer dependencies
  packages/cdai/package.json
  yarn.lock
Labels: status: ready to merge, package: CDAI

#2243 fix: Require only one of `arial-label` or `aria-labelledby` in `<IdeNavigation>`
  packages/cdai/src/components/IdeNavigation/Navigation/IdeNavigation.js
  packages/cdai/src/components/IdeNavigation/Navigation/__snapshots__/IdeNavigation.spec.js.snap
Labels: status: ready to merge, package: CDAI

#2244 fix: Update IdeCard.js
  packages/cdai/src/components/IdeCard/IdeCard.js
Labels: package: CDAI

#2161 chore(Datagrid): allow label text values to be passed in to Datagrid
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Actions.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsModal.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ModalWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
  packages/cloud-cognitive/src/components/Datagrid/useCustomizeColumns.js
  packages/cloud-cognitive/src/components/Datagrid/useDisableSelectRows.js
  packages/cloud-cognitive/src/components/Datagrid/useRowSize.js
Labels: status: ready to merge, component: Datagrid

#2247 docs: index compatible design kits
  packages/cloud-cognitive/carbon.yml
  packages/cloud-cognitive/thumbnails/toolbar.svg
  packages/security/carbon.yml
Labels: status: ready to merge

#2246 feat(WebTerminal): Releases the WebTerminal 🚀
  packages/cloud-cognitive/carbon.yml
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/_index-released-only.scss
  packages/cloud-cognitive/src/global/js/package-settings.js
Labels: status: ready to merge

#2220 feat(DataSpreadsheet): add cell deletion and theme prop for designs
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/_data-spreadsheet.scss
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleCellDeletion.js
  packages/cloud-cognitive/src/global/js/utils/rangeWithCallback.js
  packages/cloud-cognitive/src/global/js/utils/rangeWithCallback.test.js
Labels: status: ready to merge, component: DataSpreadsheet

#2228 feat(Datagrid): inline edit - useInlineEdit hook, text and number types
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/Datagrid.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/InlineEditButton.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/index.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/index.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditContext/InlineEditContext.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditContext/getCellIdAsObject.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditContext/index.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditContext/returnUpdatedActiveCell.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridFocus.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/index.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_index.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/cloud-cognitive/src/components/Datagrid/useInlineEdit.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
  packages/cloud-cognitive/src/components/index.js
  packages/cloud-cognitive/src/global/js/hooks/useClickOutside.js
Labels: status: ready to merge, component: Datagrid

#2253 feat(ProductiveCard): include ghost button in the Action Bar
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/Card/Card.js
  packages/cloud-cognitive/src/components/Card/CardFooter.js
  packages/cloud-cognitive/src/components/Card/CardFooter.test.js
  packages/cloud-cognitive/src/components/Card/CardHeader.js
  packages/cloud-cognitive/src/components/ProductiveCard/ProductiveCard.js
  packages/cloud-cognitive/src/components/ProductiveCard/ProductiveCard.stories.js
  packages/cloud-cognitive/src/components/ProductiveCard/_productive-card.scss
Labels: status: ready to merge, component: Card

#2267 chore: remove scheduled v11 releases
  .github/workflows/release-v11.yml
Labels: status: ready to merge

#2238 feat(Datagrid): #2237 datagrid inline edit `date` type
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/InlineEditButton.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/cloud-cognitive/src/components/Datagrid/useInlineEdit.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
  packages/cloud-cognitive/src/components/Datagrid/utils/makeData.js
Labels: component: Datagrid

#2268 chore(DataSpreadsheet): add aria-owns for voice over support
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheetBody.js
Labels: status: ready to merge, component: DataSpreadsheet

#2269 feat(Datagrid): add inline edit keyboard shortcuts
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleMultipleKeys.js
Labels: component: Datagrid

#2272 chore(Datagrid): keep active cell visible in scrollable area
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/InlineEditButton.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditContext/returnUpdatedActiveCell.js
Labels: component: Datagrid

#2274 chore(Datagrid): start storybook reorganization for Datagrid
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/Header/Header.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/Settings/Settings.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useActionsColumn.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useStickyColumn.scss
  packages/cloud-cognitive/src/components/Datagrid/useActionsColumn.js
  packages/cloud-cognitive/src/components/Datagrid/useSelectAllToggle.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridPagination.js
  packages/cloud-cognitive/src/components/Datagrid/utils/Wrapper.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getArgTypes.js
  packages/cloud-cognitive/src/global/js/utils/story-helper.js
  packages/core/story-structure.js
Labels: component: Datagrid

#2275 feat(Examples): add Datagrid example for codesandbox and gallery config
  examples/carbon-for-ibm-products/Datagrid/.codesandbox/workspace.json
  examples/carbon-for-ibm-products/Datagrid/gallery.config.json
  examples/carbon-for-ibm-products/Datagrid/package.json
  examples/carbon-for-ibm-products/Datagrid/public/index.html
  examples/carbon-for-ibm-products/Datagrid/src/Example/Example.js
  examples/carbon-for-ibm-products/Datagrid/src/Example/utils/getInlineEditColumns.js
  examples/carbon-for-ibm-products/Datagrid/src/Example/utils/makeData.js
  examples/carbon-for-ibm-products/Datagrid/src/ThemeSelector/ThemeContext.js
  examples/carbon-for-ibm-products/Datagrid/src/ThemeSelector/ThemeDropdown.js
  examples/carbon-for-ibm-products/Datagrid/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/Datagrid/src/_carbon.scss
  examples/carbon-for-ibm-products/Datagrid/src/_index.scss
  examples/carbon-for-ibm-products/Datagrid/src/config.js
  examples/carbon-for-ibm-products/Datagrid/src/index.js
  examples/carbon-for-ibm-products/Datagrid/thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/Datagrid--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
Labels: component: Datagrid

#2281 fix(Datagrid): allow sticky columns to stick again
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/hooks/useMultipleKeyTracking.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: component: Datagrid

#2292 fix(Datagrid): allow sticky column to stick again (v11)
  packages/cloud-cognitive/src/components/DataSpreadsheet/hooks/useMultipleKeyTracking.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: component: Datagrid, Carbon v11

#2288 fix(Datagrid): row size drop down alignment
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
Labels: status: ready to merge

#2298 fix: inline edit newline fix
  packages/cloud-cognitive/src/components/InlineEdit/InlineEdit.js
  packages/cloud-cognitive/src/components/InlineEdit/InlineEdit.test.js
Labels: status: needs v11 PR

#2300 fix: inline edit newline fix v11
  packages/cloud-cognitive/src/components/InlineEdit/InlineEdit.js
  packages/cloud-cognitive/src/components/InlineEdit/InlineEdit.test.js
Labels: Carbon v11

#2248 chore: update pre-commit hook
  package.json
Labels: status: ready to merge, status: needs v11 PR

#2303 chore(Datagrid): add column alignment story extension (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnAlignment/ColumnAlignment.stories.js
  packages/cloud-cognitive/src/components/Datagrid/utils/makeData.js
  packages/core/story-structure.js
Labels: Carbon v11

#2282 fix(Data Grid): review feedback fix
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
Labels: component: Datagrid

#2306 fix(Data Grid): review feedback fix (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
Labels: component: Datagrid, Carbon v11

#2313 fix: update option title truncation issue
  packages/cloud-cognitive/src/components/OptionsTile/OptionsTile.js
  packages/cloud-cognitive/src/components/OptionsTile/_options-tile.scss
Labels: status: ready to merge

#2308 chore(Datagrid): add clickable row storybook extension
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/RowHeightSettings/RowHeightSettings.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/makeData.js
  packages/core/story-structure.js
  yarn.lock
Labels: status: ready to merge

#2311 fix(InlineEdit): fix calc interpolation issue
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEdit/_inline-edit.scss
Labels: status: needs v11 PR

#2317 feat(Datagrid): add validation to inline editing (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2316 feat(Datagrid): add validation to inline editing
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
Labels: status: ready to merge, component: Datagrid

#2321 fix(InlineEdit): fix calc interpolation issue (v11)
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEdit/_inline-edit.scss
Labels: status: ready to merge, Carbon v11

#2284 chore(Datagrid): review feedback, region focus outline fix
  packages/cloud-cognitive/src/components/DataSpreadsheet/hooks/useMultipleKeyTracking.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleMultipleKeys.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
Labels: component: Datagrid

#2293 chore(Datagrid): review feedback, region focus outline fix (v11)
  packages/cloud-cognitive/src/components/DataSpreadsheet/hooks/useMultipleKeyTracking.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleMultipleKeys.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
Labels: component: Datagrid, Carbon v11
