Repository carbon-design-system/ibm-products, pull requests merged in 2022-10, with the labels that each got.

#2336 chore(Datagrid): add inline edit extension directory for story organization (v11)
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/InlineEdit/InlineEdit.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.mdx
  packages/core/story-structure.js
Labels: component: Datagrid, Carbon v11

#2335 chore(Datagrid): add inline edit extension directory for story organization
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/InlineEdit/InlineEdit.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/core/story-structure.js
Labels: status: ready to merge, component: Datagrid

#2337 chore(Datagrid): create customize columns storybook extension
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/getArgTypes.js
  packages/core/story-structure.js
Labels: component: Datagrid

#2338 chore(Datagrid): create customize columns storybook extension (v11)
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ButtonWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsModal.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsModal.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/getArgTypes.js
  packages/core/story-structure.js
Labels: component: Datagrid, Carbon v11

#2312 fix(SidePanel): motion refactor using framer motion
  .yarn/cache/chalk-npm-5.0.1-6afcb94227-7b45300372.zip
  config/jest-config-ibm-cloud-cognitive/setup/setupFiles.js
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/CreateSidePanel/CreateSidePanel.test.js
  packages/cloud-cognitive/src/components/EditSidePanel/EditSidePanel.test.js
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
  packages/cloud-cognitive/src/components/SidePanel/motion/variants.js
  packages/cloud-cognitive/src/global/js/utils/getBezierValues.js
  packages/cloud-cognitive/src/global/js/utils/motionConstants.js
  yarn.lock
Labels: component: SidePanel

#2314 fix(SidePanel): motion refactor using framer motion (v11)
  config/jest-config-ibm-cloud-cognitive/setup/setupFiles.js
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/CreateSidePanel/CreateSidePanel.test.js
  packages/cloud-cognitive/src/components/EditSidePanel/EditSidePanel.test.js
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.stories.js
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
  packages/cloud-cognitive/src/components/SidePanel/_storybook-styles.scss
  packages/cloud-cognitive/src/components/SidePanel/motion/variants.js
  packages/cloud-cognitive/src/global/js/utils/getBezierValues.js
  packages/cloud-cognitive/src/global/js/utils/motionConstants.js
  yarn.lock
Labels: component: SidePanel, Carbon v11

#2330 feat: inline edit refactor
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.mdx
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.stories.js
  packages/cloud-cognitive/src/components/InlineEditV2/_index.scss
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
  packages/cloud-cognitive/src/components/InlineEditV2/index.js
  packages/cloud-cognitive/src/components/_index.scss
  packages/cloud-cognitive/src/components/index.js
  packages/cloud-cognitive/src/global/js/package-settings.js
  packages/core/story-structure.js
Labels: status: ready to merge, status: needs v11 PR

#2340 fix: add inline edit v2 stories
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.stories.js
Labels: status: ready to merge

#2344 chore: add inline edit v2 tests
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.mdx
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.test.js
Labels: status: ready to merge

#2350 chore(Datagrid): add more docs and fix codesandbox example
  examples/carbon-for-ibm-products/Datagrid/package.json
  examples/carbon-for-ibm-products/Datagrid/src/_carbon.scss
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
Labels: component: Datagrid

#2322 fix(CreateTearsheetNarrow): Update formTitle prop as optional - v11
  packages/cloud-cognitive/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.js
Labels: Carbon v11

#2358 fix(builds): add script to fix `node_modules` path in sass source maps
  packages/cloud-cognitive/package.json
  scripts/updateSourceMaps.js
Labels: status: ready to merge

#2359 fix(builds): add script to fix `node_modules` path in sass source maps (v11)
  packages/cloud-cognitive/package.json
  scripts/updateSourceMaps.js
Labels: status: ready to merge, Carbon v11

#2212 feat(EditUpdateCards): Edit and update cards
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.js
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.mdx
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.stories.js
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.test.js
  packages/cloud-cognitive/src/components/EditUpdateCards/_edit-update-cards.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/_index.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/_storybook-styles.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/index.js
  packages/cloud-cognitive/src/components/_index.scss
  packages/cloud-cognitive/src/components/index.js
  packages/cloud-cognitive/src/global/js/package-settings.js
  packages/core/story-structure.js
Labels: status: ready to merge, Epic

#2374 feat(EditUpdateCards): Edit and update cards - v11
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.js
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.mdx
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.stories.js
  packages/cloud-cognitive/src/components/EditUpdateCards/EditUpdateCards.test.js
  packages/cloud-cognitive/src/components/EditUpdateCards/_carbon-imports.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/_edit-update-cards.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/_index-with-carbon.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/_index.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/_storybook-styles.scss
  packages/cloud-cognitive/src/components/EditUpdateCards/index.js
  packages/cloud-cognitive/src/components/_index-with-carbon.scss
  packages/cloud-cognitive/src/components/_index.scss
  packages/cloud-cognitive/src/components/index.js
  packages/cloud-cognitive/src/global/js/package-settings.js
  packages/core/story-structure.js
Labels: status: ready to merge, Carbon v11

#2376 fix: design review fixes
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
Labels: status: ready to merge, status: needs v11 PR

#2373 chore: update netlify urls to v11
  netlify.toml
  packages/core/.storybook/manager-head.html
Labels: status: ready to merge, Carbon v11

#2369 fix(Datagrid): get default table height for inifinite scroll fn
  packages/cloud-cognitive/src/components/Datagrid/useInfiniteScroll.js
Labels: status: ready to merge, component: Datagrid

#2381 feat(Datagrid): allow for customizable virtual height
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: status: ready to merge

#2363 chore: update dev dependencies
  .yarn/cache/@types-reach__router-npm-1.3.10-0e2a3d099f-fdcb761d3b.zip
  .yarn/cache/@types-webpack-npm-4.41.32-34a78d0b36-e594a1357c.zip
  .yarn/cache/body-parser-npm-1.20.0-1820eff49a-12fffdeac8.zip
  .yarn/cache/convert-source-map-npm-1.8.0-037f671dde-985d974a2d.zip
  .yarn/cache/defaults-npm-1.0.3-e829107b9e-96e2112da6.zip
  .yarn/cache/express-npm-4.18.1-842e583ae1-c3d44c92e4.zip
  .yarn/cache/istanbul-lib-instrument-npm-5.2.0-6aa783f498-7c242ed782.zip
  .yarn/cache/micromark-npm-3.0.10-8d661b8a4a-04663fe030.zip
  .yarn/cache/minimist-npm-1.2.6-f4cee4b4af-d15428cd1e.zip
  .yarn/cache/qs-npm-6.10.3-172e1a3fb7-0fac5e6c71.zip
  .yarn/cache/regenerator-runtime-npm-0.13.9-6d02340eec-65ed455fe5.zip
  .yarn/cache/shell-quote-npm-1.7.3-76a78a6d77-aca58e73a3.zip
  .yarn/cache/terminal-link-npm-2.1.1-de80341758-ce3d2cd3a4.zip
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/cli/package.json
  config/jest-config-ibm-cloud-cognitive/package.json
  config/storybook-addon-carbon-theme/package.json
  config/stylelint-config-ibm-products/package.json
  package.json
  packages/cdai/package.json
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/src/components/CreateModal/CreateModal.test.js
  packages/cloud-cognitive/src/components/CreateSidePanel/CreateSidePanel.test.js
  packages/cloud-cognitive/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.test.js
  packages/cloud-cognitive/src/components/EditSidePanel/EditSidePanel.test.js
  packages/cloud-cognitive/src/components/ExampleComponent/ExampleComponent.test.js
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.test.js
  packages/cloud-cognitive/src/components/StatusIcon/StatusIcon.test.js
  packages/cloud-cognitive/src/components/UserProfileImage/UserProfileImage.test.js
  packages/core/package.json
  packages/security/package.json
  yarn.lock
Labels: status: ready to merge

#2386 chore(releases): set v11 to release weekly
  .github/workflows/release-v11.yml
Labels: status: ready to merge

#2396 fix(SidePanel): address positioning in static version (v11)
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: component: SidePanel, Carbon v11

#2401 fix(Datagrid): customize columns checkbox fix
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2402 docs: add external docs urls for v11
  packages/cloud-cognitive/carbon.yml
  packages/security/carbon.yml
Labels: status: ready to merge, Carbon v11

#2353 fix(CreateTearsheet): fix initialStep issue when open=true
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.js
  packages/cloud-cognitive/src/global/js/hooks/useResetCreateComponent.js
  packages/cloud-cognitive/src/global/js/utils/getNumberOfHiddenSteps.js
  yarn.lock
Labels: component: CreateTearsheet

#2354 fix(CreateTearsheet): fix initialStep issue when open=true - v11
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.js
  packages/cloud-cognitive/src/global/js/hooks/useResetCreateComponent.js
  packages/cloud-cognitive/src/global/js/utils/getNumberOfHiddenSteps.js
Labels: component: CreateTearsheet, Carbon v11

#2391 fix(PageHeader): button alignment logic based on variable value
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.js
Labels: type: bug, status: ready to merge

#2348 docs: add external docs urls
  packages/cloud-cognitive/carbon.yml
  packages/security/carbon.yml
Labels: status: ready to merge, status: needs v11 PR

#2410 fix(PageHeader): restrict useEffect logic to prevent scrolling
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.js
Labels: component: PageHeader

#2411 fix(PageHeader): restrict useEffect logic to prevent scrolling (v11)
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.js
Labels: component: PageHeader, Carbon v11

#2415 fix(Datagrid): render pagination as component
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: component: Datagrid

#2418 docs: add initial content for v2 migration guide (v11)
  docs/guides/v2.md
Labels: status: ready to merge, Carbon v11

#2405 docs: add initial content for v2 migration guide
  docs/guides/v2.md
Labels: status: ready to merge

#2414 chore: add v11 example template (v11 branch)
  .eslintignore
  examples/carbon-for-ibm-products/Carbon-v11-template/.codesandbox/workspace.json
  examples/carbon-for-ibm-products/Carbon-v11-template/gallery.config.json
  examples/carbon-for-ibm-products/Carbon-v11-template/package.json
  examples/carbon-for-ibm-products/Carbon-v11-template/public/index.html
  examples/carbon-for-ibm-products/Carbon-v11-template/src/App.js
  examples/carbon-for-ibm-products/Carbon-v11-template/src/PageWrapper.js
  examples/carbon-for-ibm-products/Carbon-v11-template/src/ThemeSelector/ThemeContext.js
  examples/carbon-for-ibm-products/Carbon-v11-template/src/ThemeSelector/ThemeDropdown.js
  examples/carbon-for-ibm-products/Carbon-v11-template/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/Carbon-v11-template/src/app.scss
  examples/carbon-for-ibm-products/Carbon-v11-template/src/config.js
  examples/carbon-for-ibm-products/Carbon-v11-template/src/index.js
  examples/carbon-for-ibm-products/Carbon-v11-template/src/index.scss
  examples/carbon-for-ibm-products/Carbon-v11-template/thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/Carbon-v11-template--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
Labels: status: ready to merge, Carbon v11
