Repository carbon-design-system/ibm-products, pull requests merged in 2022-08, with the labels that each got.

#2133 fix(EmptyState): update text-styles, spacing and button-size
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/EmptyStates/EmptyStateContent.js
  packages/cloud-cognitive/src/components/EmptyStates/_empty-state.scss
Labels: status: ready to merge

#2149 fix: single add select css updates
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  yarn.lock
Labels: status: ready to merge

#2156 fix(Datagrid): fix style issues between Datagrid and Carbon data table
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge

#2158 fix(InlineEdit): fix sass calc issue with carbon token
  packages/cloud-cognitive/src/components/InlineEdit/_inline-edit.scss
Labels: status: ready to merge

#2022 feat(Datagrid): Batch actions
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/Datagrid.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/cloud-cognitive/src/components/Datagrid/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
Labels: component: Datagrid

#2162 feat(WebTerminal): A11y test, iconDescription tests, and storybook
  packages/cloud-cognitive/src/components/WebTerminal/WebTerminal.js
  packages/cloud-cognitive/src/components/WebTerminal/WebTerminal.stories.js
  packages/cloud-cognitive/src/components/WebTerminal/WebTerminal.test.js
  packages/cloud-cognitive/src/components/WebTerminal/WebTerminalContentWrapper.js
  packages/cloud-cognitive/src/components/WebTerminal/_index.scss
  packages/cloud-cognitive/src/components/WebTerminal/_storybook-styles.scss
  packages/cloud-cognitive/src/components/WebTerminal/_web-terminal.scss
  packages/cloud-cognitive/src/components/WebTerminal/hooks/index.js
  packages/cloud-cognitive/src/components/WebTerminal/index.js
  packages/cloud-cognitive/src/components/WebTerminal/preview-components/Navigation.js
  packages/cloud-cognitive/src/components/WebTerminal/preview-components/documentationLinks.js
  packages/cloud-cognitive/src/components/WebTerminal/preview-components/index.js
Labels: status: ready to merge

#2197 docs: update library descriptions
  packages/cloud-cognitive/carbon.yml
  packages/cloud-cognitive/thumbnails/action-bar.svg
  packages/cloud-cognitive/thumbnails/button-menu.svg
  packages/cloud-cognitive/thumbnails/create-tearsheet.svg
  packages/cloud-cognitive/thumbnails/page-header.svg
  packages/cloud-cognitive/thumbnails/status-icon.svg
  packages/cloud-cognitive/thumbnails/tag-set.svg
  packages/cloud-cognitive/thumbnails/tearsheet.svg
  packages/security/carbon.yml
  packages/security/thumbnails/filter-panel.svg
  packages/security/thumbnails/icon-button-bar.svg
  packages/security/thumbnails/tag-wall.svg
  packages/security/thumbnails/time-indicator.svg
Labels: status: ready to merge

#2210 feat(Datagrid): #2070 add datagrid actions dropdown example
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge

#2195 fix: Add select design review updates
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBreadcrumbs.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectColumn.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.mdx
Labels: component: AddSelect

#2194 feat(Datagrid): add frozen left column support
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useStickyColumn.scss
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
  packages/cloud-cognitive/src/components/Datagrid/useStickyColumn.js
Labels: status: ready to merge, component: Datagrid

#2214 fix(Datagrid): export useColumnOrder hook
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/index.js
  packages/cloud-cognitive/src/components/Datagrid/useColumnOrder.js
  packages/cloud-cognitive/src/components/index.js
Labels: status: ready to merge, component: Datagrid

#2211 fix(DataSpreadsheet): add missing aria labels and update arialabelled-by
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.stories.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.test.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheetHeader.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleMultipleKeys.js
Labels: status: ready to merge, component: DataSpreadsheet

#2219 fix: reset state on submit or close
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
Labels: status: ready to merge

#2241 fix(Datagrid): add withSelectColumns when using useSelectRows
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
  packages/cloud-cognitive/src/components/Datagrid/useStickyColumn.js
Labels: component: Datagrid

#2239 fix(SidePanel): style update for title truncation issue
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: status: ready to merge, component: SidePanel
