Repository carbon-design-system/ibm-products, pull requests merged in 2022-11, with the labels that each got.

#2429 fix: remove read only from inline edit v2
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.stories.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.test.js
Labels: status: ready to merge

#2424 docs(Datagrid): add column alignment and inline edit docs (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: type: documentation, status: ready to merge, component: Datagrid, Carbon v11

#2436 fix: various updates from release review
  packages/cloud-cognitive/src/components/InlineEdit/InlineEdit.js
  packages/cloud-cognitive/src/components/InlineEdit/index.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.stories.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.test.js
  packages/cloud-cognitive/src/components/InlineEditV2/_index.scss
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
  packages/cloud-cognitive/src/components/InlineEditV2/_storybook-styles.scss
Labels: status: ready to merge

#2441 fix(Datagrid): #2417 datagrid select rows filter issue (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2440 fix(Datagrid): #2417 datagrid select rows filter issue
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
Labels: status: ready to merge, component: Datagrid

#2433 fix(Datagrid): CustomizeColumns flyout offset fix
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
Labels: status: ready to merge

#2434 fix(Datagrid): allow keyboard interaction with row expander
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useExpandedRow.scss
  packages/cloud-cognitive/src/components/Datagrid/useRowExpander.js
Labels: status: ready to merge, component: Datagrid

#2435 fix(Datagrid): allow keyboard interaction with row expander (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useExpandedRow.scss
  packages/cloud-cognitive/src/components/Datagrid/useRowExpander.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2430 chore: use new carbon-bot token for releases
  .github/workflows/release-v11.yml
  .github/workflows/release.yml
Labels: status: ready to merge, type: process improvement

#2431 chore: use new carbon-bot token for releases (v11)
  .github/workflows/release-v11.yml
  .github/workflows/release.yml
Labels: status: ready to merge, type: process improvement

#2446 chore: lock update
  yarn.lock
Labels: status: ready to merge

#2444 fix(Datagrid): #2291 extend last nested row border (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useNestedRows.scss
  packages/cloud-cognitive/src/components/Datagrid/useNestedRowExpander.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2443 fix(Datagrid): #2291 extend last nested row border
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useNestedRows.scss
  packages/cloud-cognitive/src/components/Datagrid/useNestedRowExpander.js
Labels: status: ready to merge

#2448 fix(ActionSet): allow for non expressive buttons (v11)
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/ActionSet/ActionSet.js
  packages/cloud-cognitive/src/components/ActionSet/ActionSet.test.js
  packages/cloud-cognitive/src/components/ActionSet/_action-set.scss
Labels: Carbon v11

#2454 chore: inline edit sandbox example
  examples/carbon-for-ibm-products/InlineEdit/.codesandbox/workspace.json
  examples/carbon-for-ibm-products/InlineEdit/gallery.config.json
  examples/carbon-for-ibm-products/InlineEdit/package.json
  examples/carbon-for-ibm-products/InlineEdit/public/index.html
  examples/carbon-for-ibm-products/InlineEdit/src/Example/Example.js
  examples/carbon-for-ibm-products/InlineEdit/src/ThemeSelector/ThemeContext.js
  examples/carbon-for-ibm-products/InlineEdit/src/ThemeSelector/ThemeDropdown.js
  examples/carbon-for-ibm-products/InlineEdit/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/InlineEdit/src/_carbon.scss
  examples/carbon-for-ibm-products/InlineEdit/src/_index.scss
  examples/carbon-for-ibm-products/InlineEdit/src/config.js
  examples/carbon-for-ibm-products/InlineEdit/src/index.js
  examples/carbon-for-ibm-products/InlineEdit/thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/InlineEdit--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
Labels: status: ready to merge

#2459 feat(OptionsTile): add onChange prop and useControllableState hook (v11)
  packages/cloud-cognitive/src/components/OptionsTile/OptionsTile.js
  packages/cloud-cognitive/src/components/OptionsTile/OptionsTile.stories.js
  packages/cloud-cognitive/src/components/OptionsTile/OptionsTile.test.js
  packages/cloud-cognitive/src/global/js/hooks/index.js
  packages/cloud-cognitive/src/global/js/hooks/useControllableState.js
Labels: Carbon v11, component: OptionsTile

#2456 feat(OptionsTile): add onChange prop and useControllableState hook
  packages/cloud-cognitive/src/components/OptionsTile/OptionsTile.js
  packages/cloud-cognitive/src/components/OptionsTile/OptionsTile.stories.js
  packages/cloud-cognitive/src/components/OptionsTile/OptionsTile.test.js
  packages/cloud-cognitive/src/global/js/hooks/index.js
  packages/cloud-cognitive/src/global/js/hooks/useControllableState.js
Labels: status: ready to merge

#2455 fix: add select filter fix
  .yarn/cache/loader-utils-npm-1.4.0-a56254a277-d150b15e7a.zip
  packages/cloud-cognitive/src/components/AddSelect/add-select-utils.js
Labels: status: ready to merge

#2469 chore: fix broken Netlify badges v11
  .all-contributorsrc
  README.md
  packages/cloud-cognitive/README.md
Labels: status: ready to merge, Carbon v11

#2466 feat: adds FilterSummary
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/cloud-cognitive/src/components/FilterSummary/FilterSummary.js
  packages/cloud-cognitive/src/components/FilterSummary/FilterSummary.stories.js
  packages/cloud-cognitive/src/components/FilterSummary/_filter-summary.scss
  packages/cloud-cognitive/src/components/FilterSummary/_index.scss
  packages/cloud-cognitive/src/components/FilterSummary/_storybook-styles.scss
  packages/cloud-cognitive/src/components/FilterSummary/index.js
  packages/cloud-cognitive/src/components/_index.scss
  packages/core/story-structure.js
Labels: status: ready to merge

#2476 fix(DataSpreadsheet): prevent delete error from header cells
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleCellDeletion.js
Labels: status: ready to merge, component: DataSpreadsheet

#2477 fix(DataSpreadsheet): prevent delete error from header cells (v11)
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleCellDeletion.js
Labels: status: ready to merge, component: DataSpreadsheet, Carbon v11

#2472 fix(PageHeader): Page header title truncation
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/PageHeader/PageHeaderTitle.js
  packages/cloud-cognitive/src/components/PageHeader/_page-header.scss
Labels: status: ready to merge

#2484 chore: fix CI badges v11
  README.md
  packages/cloud-cognitive/README.md
Labels: Carbon v11

#2490 chore: fix yarn audit
  scripts/audit.js
Labels: Carbon v11

#2487 fix: Multi add select review fixes
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBreadcrumbs.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectColumn.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectMetaPanel.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectMetaPanel.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectSidebar.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectSort.test.js
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  packages/cloud-cognitive/src/components/AddSelect/_index.scss
  packages/cloud-cognitive/src/components/AddSelect/_storybook-styles.scss
  packages/cloud-cognitive/src/components/AddSelect/add-select-utils.js
  packages/cloud-cognitive/src/components/AddSelect/add-select-utils.test.js
  packages/cloud-cognitive/src/components/AddSelect/hooks/useItemSort.js
  packages/cloud-cognitive/src/components/AddSelect/hooks/useParentSelect.js
  packages/cloud-cognitive/src/components/AddSelect/hooks/usePath.js
  packages/cloud-cognitive/src/components/AddSelect/index.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.test.js
  packages/cloud-cognitive/src/components/MultiAddSelect/_index.scss
  packages/cloud-cognitive/src/components/MultiAddSelect/_multi-add-select.scss
  packages/cloud-cognitive/src/components/MultiAddSelect/_storybook-styles.scss
  packages/cloud-cognitive/src/components/MultiAddSelect/index.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.stories.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.test.js
  packages/cloud-cognitive/src/components/SingleAddSelect/_index.scss
  packages/cloud-cognitive/src/components/SingleAddSelect/_single-add-select.scss
  packages/cloud-cognitive/src/components/SingleAddSelect/_storybook-styles.scss
  packages/cloud-cognitive/src/components/SingleAddSelect/index.js
Labels: status: ready to merge, status: needs v11 PR

#2406 feat(Datagrid): Filter flyout
  .yarn/cache/anymatch-npm-3.1.2-1d5471acfa-985163db22.zip
  .yarn/cache/compute-scroll-into-view-npm-1.0.17-708f0ecc3d-b20c05a10c.zip
  .yarn/cache/global-dirs-npm-3.0.0-45faebeb68-953c17cf14.zip
  .yarn/cache/ignore-npm-5.2.0-fc4b58a4f3-6b1f926792.zip
  .yarn/cache/jest-pnp-resolver-npm-1.2.2-da20f8bdfe-bd85dcc0e7.zip
  .yarn/cache/listr2-npm-4.0.5-e9e44decc1-7af31851ab.zip
  .yarn/cache/longest-streak-npm-3.0.1-b7643ecd4e-3b59c4c04c.zip
  .yarn/cache/postcss-selector-parser-npm-6.0.10-a4d7aaa270-46afaa60e3.zip
  .yarn/cache/vfile-message-npm-3.1.2-3afbe8534c-96fbd9e9b5.zip
  .yarn/cache/w3c-xmlserializer-npm-3.0.0-3419fc8f05-0af8589942.zip
  packages/cdai/src/components/IdeNavigation/Navigation/_IdeNavigation.scss
  packages/cloud-cognitive/src/components/ActionSet/_action-set.scss
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/Datagrid.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useInitialStateFromFilters.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/index.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/utils.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnAlignment/ColumnAlignment.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/index.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_index.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_FilterFlyout.scss
  packages/cloud-cognitive/src/components/Datagrid/useFiltering.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
  packages/cloud-cognitive/src/components/Datagrid/utils/makeData.js
  packages/cloud-cognitive/src/components/InlineEditV1/_inline-edit-v1.scss
  packages/cloud-cognitive/src/components/PageHeader/_page-header.scss
  yarn.lock
Labels: component: Datagrid

#2497 chore(Datagrid): add nested row indicator for child rows (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/useNestedRows.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2496 chore(Datagrid): add nested row indicator for child rows
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/useNestedRows.js
Labels: status: ready to merge, component: Datagrid
