Repository carbon-design-system/ibm-products, pull requests merged in 2022-12, with the labels that each got.

#2187 chore(Datagrid): toolbar responsive behavior
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: component: Datagrid

#2422 chore(Datagrid): toolbar responsive behavior-v11
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge, Carbon v11

#2522 fix(create full page): modal close issue fixed
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.js
Labels: Carbon v11

#2488 fix(create full page): modal close issue fixed
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.js
Labels: status: ready to merge

#2531 fix(InlineEdit): move warning inside component
  packages/cloud-cognitive/src/components/InlineEditV1/InlineEditV1.js
  packages/cloud-cognitive/src/components/InlineEditV1/InlineEditV1.test.js
Labels: component: InlineEdit

#2528 fix(Datagrid): fixed some issues in filter flyout
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
Labels: status: ready to merge

#2540 chore: Code sandbox batch3
  examples/carbon-for-ibm-products/CreateFullPage/package.json
  examples/carbon-for-ibm-products/CreateFullPage/src/_carbon.scss
  examples/carbon-for-ibm-products/CreateSidePanel/package.json
  examples/carbon-for-ibm-products/CreateSidePanel/src/_carbon.scss
  examples/carbon-for-ibm-products/ProductiveCard/package.json
  examples/carbon-for-ibm-products/ProductiveCard/src/_carbon.scss
  examples/carbon-for-ibm-products/RemoveModal/package.json
  examples/carbon-for-ibm-products/RemoveModal/src/_carbon.scss
  examples/carbon-for-ibm-products/Saving/package.json
  examples/carbon-for-ibm-products/Saving/src/_carbon.scss
  examples/carbon-for-ibm-products/SidePanel/package.json
  examples/carbon-for-ibm-products/SidePanel/src/_carbon.scss
  examples/carbon-for-ibm-products/StatusIcon/package.json
  examples/carbon-for-ibm-products/StatusIcon/src/_carbon.scss
  examples/carbon-for-ibm-products/Tearsheet/package.json
  examples/carbon-for-ibm-products/Tearsheet/src/_carbon.scss
  examples/carbon-for-ibm-products/UserProfileImage/package.json
  examples/carbon-for-ibm-products/UserProfileImage/src/_carbon.scss
  examples/carbon-for-ibm-products/WebTerminal/package.json
  examples/carbon-for-ibm-products/WebTerminal/src/_carbon.scss
  examples/carbon-for-ibm-products/prefix-example/package.json
  examples/carbon-for-ibm-products/prefix-example/src/_carbon.scss
Labels: status: ready to merge

#2547 fix(Datagrid): update inline edit selection type to support string items (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
Labels: component: Datagrid, Carbon v11

#2546 fix(Datagrid): update inline edit selection type to support string items
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
Labels: component: Datagrid

#2549 fix: card action bug fix
  packages/cloud-cognitive/src/components/Card/Card.js
Labels: status: ready to merge, component: Card

#2553 docs: add jagathgj as contributor for code
  .all-contributorsrc
  README.md
  cspell.contributors.txt
  cspell.html.txt
Labels: status: ready to merge, Carbon v11

#2558 feat(Datagrid): add empty state type option
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getArgTypes.js
Labels: component: Datagrid

#2555 chore(DataSpreadsheet): add spreadsheet code sandbox example
  examples/carbon-for-ibm-products/DataSpreadsheet/.codesandbox/workspace.json
  examples/carbon-for-ibm-products/DataSpreadsheet/gallery.config.json
  examples/carbon-for-ibm-products/DataSpreadsheet/package.json
  examples/carbon-for-ibm-products/DataSpreadsheet/public/index.html
  examples/carbon-for-ibm-products/DataSpreadsheet/src/Example/Example.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/Example/utils/generateData.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/ThemeSelector/ThemeContext.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/ThemeSelector/ThemeDropdown.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/DataSpreadsheet/src/_carbon.scss
  examples/carbon-for-ibm-products/DataSpreadsheet/src/_index.scss
  examples/carbon-for-ibm-products/DataSpreadsheet/src/config.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/index.js
  examples/carbon-for-ibm-products/DataSpreadsheet/thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/DataSpreadsheet--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
Labels: status: ready to merge, component: DataSpreadsheet

#2556 chore(DataSpreadsheet): add spreadsheet code sandbox example (v11)
  examples/carbon-for-ibm-products/DataSpreadsheet/.codesandbox/workspace.json
  examples/carbon-for-ibm-products/DataSpreadsheet/gallery.config.json
  examples/carbon-for-ibm-products/DataSpreadsheet/package.json
  examples/carbon-for-ibm-products/DataSpreadsheet/public/index.html
  examples/carbon-for-ibm-products/DataSpreadsheet/src/Example/Example.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/Example/utils/generateData.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/ThemeSelector/ThemeContext.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/ThemeSelector/ThemeDropdown.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/DataSpreadsheet/src/_carbon.scss
  examples/carbon-for-ibm-products/DataSpreadsheet/src/_index.scss
  examples/carbon-for-ibm-products/DataSpreadsheet/src/config.js
  examples/carbon-for-ibm-products/DataSpreadsheet/src/index.js
  examples/carbon-for-ibm-products/DataSpreadsheet/thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/DataSpreadsheet--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
Labels: status: ready to merge, component: DataSpreadsheet, Carbon v11

#2467 fix(DataGrid): virtual scrollbar not visible v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/useParentDimensions.js
Labels: status: ready to merge, Carbon v11

#2559 fix(Datagrid): fixes bugs and issues for design review
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/cloud-cognitive/src/components/Datagrid/useFiltering.js
  packages/cloud-cognitive/src/components/FilterSummary/_filter-summary.scss
Labels: status: ready to merge

#2563 test(DataSpreadsheet): add more test coverage
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.test.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleCellDeletion.js
Labels: status: ready to merge, component: DataSpreadsheet

#2564 test(DataSpreadsheet): add more test coverage (v11)
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.test.js
  packages/cloud-cognitive/src/components/DataSpreadsheet/utils/handleCellDeletion.js
Labels: component: DataSpreadsheet, Carbon v11

#2568 feat(Datagrid): makes seperate story file and adds docs for FilterFlyout (v10)
  cspell.contributors.txt
  cspell.json
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories/index.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/Filtering/Filtering.stories.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getArgTypes.js
Labels: status: ready to merge

#2575 fix(Datagrid): resolve react hook error from datagrid row (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
Labels: component: Datagrid, Carbon v11

#2574 fix(Datagrid): resolve react hook error from datagrid row
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
Labels: component: Datagrid

#2562 fix(DataGrid): empty state enhancement with action and link v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
Labels: status: ready to merge, Carbon v11

#2572 fix: update to Carbon v10 compatible versions to latest
  config/stylelint-config-ibm-products/package.json
  package.json
  yarn.lock
Labels: status: ready to merge

#2578 chore(Datagrid): provide context for columns using validation (v11)
  packages/cloud-cognitive/src/components/Datagrid/Extensions/InlineEdit/InlineEdit.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
Labels: component: Datagrid, Carbon v11

#2576 chore(Datagrid): make note about validation on storybook example
  packages/cloud-cognitive/src/components/Datagrid/Extensions/InlineEdit/InlineEdit.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
Labels: status: ready to merge, component: Datagrid

#2570 feat(Datagrid): makes seperate story file and adds docs for FilterFlyout (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/Filtering/Filtering.stories.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getArgTypes.js
Labels: status: ready to merge
