Repository carbon-design-system/ibm-products, pull requests merged in 2023-02, with the labels that each got.

#2634 fix(Expandable rows): spacing updated
  packages/cloud-cognitive/src/components/Datagrid/styles/_useExpandedRow.scss
Labels: status: ready to merge

#2645 fix(Tearsheet): prevent description breaking
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/Tearsheet/_tearsheet.scss
Labels: component: Tearsheet

#2646 fix(Tearsheet): prevent description breaking v11
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/Tearsheet/_tearsheet.scss
Labels: component: Tearsheet, Carbon v11

#2643 fix(DataGrid): filter summary add heights options v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge

#2644 fix(DataGrid): filter summary add heights options
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge

#2642 chore: update dev dependencies
  .yarn/cache/@sinonjs-fake-timers-npm-9.1.2-3ff37ab7fb-7d3aef54e1.zip
  .yarn/cache/@types-graceful-fs-npm-4.1.5-91d62e1050-d076bb61f4.zip
  .yarn/cache/@types-yargs-npm-15.0.14-07ba249dbb-8e358aeb8f.zip
  .yarn/cache/aria-query-npm-4.2.2-e0c4f1a309-38401a9a40.zip
  .yarn/cache/async-each-npm-1.0.3-464af5d2f3-868651cfeb.zip
  .yarn/cache/aws4-npm-1.11.0-283476ad94-5a00d045fd.zip
  .yarn/cache/axobject-query-npm-2.2.0-6553738f52-96b8c7d807.zip
  .yarn/cache/content-type-npm-1.0.4-3b1a5ca16b-3d93585fda.zip
  .yarn/cache/deepmerge-npm-4.2.2-112165ced2-a8c43a1ed8.zip
  .yarn/cache/dom-accessibility-api-npm-0.5.14-0d20df4aa2-782c813f75.zip
  .yarn/cache/es-get-iterator-npm-1.1.2-e8db4dc1b9-f75e66acb6.zip
  .yarn/cache/eslint-config-prettier-npm-8.5.0-a1dd58b6d8-0d0f5c32e7.zip
  .yarn/cache/eslint-import-resolver-node-npm-0.3.6-d9426786c6-6266733af1.zip
  .yarn/cache/eslint-plugin-import-npm-2.26.0-959fe14a01-0bf77ad803.zip
  .yarn/cache/http-cache-semantics-npm-4.1.0-860520a31f-974de94a81.zip
  .yarn/cache/klona-npm-2.0.5-5d403f2d77-8c976126ea.zip
  .yarn/cache/mdast-util-from-markdown-npm-1.2.0-0e8d4c3b86-fadc3521a3.zip
  .yarn/cache/mdast-util-to-string-npm-3.1.0-d888f00663-f42ddd4e22.zip
  .yarn/cache/punycode-npm-2.1.1-26eb3e15cf-823bf443c6.zip
  .yarn/cache/redux-npm-4.2.0-4688cc8d65-75f3955c89.zip
  .yarn/cache/resolve.exports-npm-1.1.0-81756e03ba-52865af8ed.zip
  .yarn/cache/semver-npm-7.3.7-3bfe704194-2fa3e87756.zip
  .yarn/cache/serialize-javascript-npm-6.0.0-0bb8a3c88d-56f90b562a.zip
  .yarn/cache/unist-util-is-npm-5.1.1-eeef3df35f-e8743a19a3.zip
  .yarn/cache/unist-util-stringify-position-npm-3.0.2-e0b49394fc-2dfd7a0fb2.zip
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/cli/package.json
  config/jest-config-ibm-cloud-cognitive/package.json
  config/jest-config-ibm-cloud-cognitive/setup/setupFiles.js
  config/storybook-addon-carbon-theme/package.json
  package.json
  packages/cdai/package.json
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.test.js
  packages/core/package.json
  packages/security/package.json
  packages/security/src/globals/layout/_index.scss
  packages/security/src/globals/type/_index.scss
  yarn.lock
Labels: status: ready to merge

#2654 chore: add select docs update
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.mdx
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.mdx
  yarn.lock
Labels: status: ready to merge

#2652 chore: reduce dependency update frequency
  .github/workflows/update.yml
Labels: status: ready to merge

#2656 chore: add select column coverage
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectColumn.js
  packages/cloud-cognitive/src/components/MultiAddSelect/MultiAddSelect.stories.js
Labels: status: ready to merge

#2640 fix(Datagrid): inline edit cell tokens
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
Labels: status: ready to merge, status: needs v11 PR

#2661 fix(Datagrid): column customization styles v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DraggableElement.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_draggableElement.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsTearsheet.scss
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2662 feat: imports all DataTable pieces from `@carbon/react` (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridHead.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSimpleBody.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge

#2664 chore: add select release
  packages/cloud-cognitive/carbon.yml
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/_index-released-only.scss
  packages/cloud-cognitive/src/global/js/package-settings.js
Labels: status: ready to merge

#2668 chore: add select release v11
  packages/cloud-cognitive/carbon.yml
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/MultiAddSelect/_multi-add-select.scss
  packages/cloud-cognitive/src/components/SingleAddSelect/_single-add-select.scss
  packages/cloud-cognitive/src/components/_index-released-only-with-carbon.scss
  packages/cloud-cognitive/src/components/_index-released-only.scss
  packages/cloud-cognitive/src/global/js/package-settings.js
Labels: status: ready to merge

#2667 feat(Datagrid): show fixed columns in column customization v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DraggableElement.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_draggableElement.scss
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2665 feat(Datagrid): show fixed columns in column customization
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DraggableElement.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_draggableElement.scss
Labels: status: ready to merge, component: Datagrid

#2678 chore: add accessibility review template
  .github/ISSUE_TEMPLATE/accessibilty-review.md
  cspell.html.txt
Labels: status: ready to merge, type: process improvement

#2679 chore: add accessibility review template v11
  .github/ISSUE_TEMPLATE/accessibilty-review.md
  cspell.html.txt
Labels: status: ready to merge, type: process improvement, Carbon v11

#2694 docs(tearsheet): update "portalTarget" prop name in stories (v11)
  packages/cloud-cognitive/src/components/Tearsheet/Tearsheet.js
  packages/cloud-cognitive/src/components/Tearsheet/Tearsheet.stories.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetNarrow.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.stories.js
Labels: status: ready to merge

#2617 docs(tearsheet): update "portalTarget" prop name in stories
  packages/cloud-cognitive/src/components/Tearsheet/Tearsheet.js
  packages/cloud-cognitive/src/components/Tearsheet/Tearsheet.stories.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetNarrow.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.stories.js
Labels: status: ready to merge

#2688 feat(Datagrid): Custom hook to handle `ActionSet` disabled state for `FilterPanel` & `FilterFlyout `(v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/hooks/index.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useShouldDisableButtons.js
Labels: status: ready to merge

#2676 feat(Datagrid): Custom hook to handle `ActionSet` disabled state for `FilterPanel` & `FilterFlyout`
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/hooks/index.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useShouldDisableButtons.js
Labels: status: ready to merge

#2691 fix(Datagrid): row height settings style fixes v11
  packages/cloud-cognitive/src/components/Datagrid/Extensions/RowHeightSettings/RowHeightSettings.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge, Carbon v11

#2625 fix: datagrid design review row height settings
  packages/cloud-cognitive/src/components/Datagrid/Extensions/RowHeightSettings/RowHeightSettings.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge

#2701 fix(DataGrid): any option in filter panel v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
Labels: status: ready to merge

#2687 fix(DataGrid): any option in filter panel flyout
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
Labels: status: ready to merge, status: needs v11 PR

#2692 fix(DataGrid): restore toolbar responsiveness
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge, status: needs v11 PR

#2673 fix(DataGrid): sort column focus
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSortableColumns.scss
  packages/cloud-cognitive/src/components/Datagrid/useSortableColumns.js
Labels: status: ready to merge

#2674 fix(DataGrid): sort column focus v11
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSortableColumns.scss
  packages/cloud-cognitive/src/components/Datagrid/useSortableColumns.js
Labels: status: ready to merge
