Repository carbon-design-system/ibm-products, pull requests merged in 2023-01, with the labels that each got.

#2519 fix(DataGrid): customize column focus and search highlight - V11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_draggableElement.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsModal.scss
Labels: status: ready to merge, component: Datagrid

#2518 fix(DataGrid): customize column focus and search highlight
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_draggableElement.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsModal.scss
Labels: status: ready to merge, component: Datagrid

#2551 fix(CreateTearsheet): Add firstFocusElement
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.js
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.js
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.stories.js
  packages/cloud-cognitive/src/components/CreateTearsheet/preview-components/MultiStepTearsheet.js
  packages/cloud-cognitive/src/global/js/hooks/useCreateComponentFocus.js
Labels: type: bug, status: ready to merge, component: CreateTearsheet

#2595 chore: add gallery test skip comment
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  scripts/example-gallery-builder/gallery-config.js
Labels: status: ready to merge

#2552 fix(CreateTearsheet): add firstFocusElement v11
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.js
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.js
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.stories.js
  packages/cloud-cognitive/src/components/CreateTearsheet/preview-components/MultiStepTearsheet.js
  packages/cloud-cognitive/src/global/js/hooks/useCreateComponentFocus.js
Labels: type: bug, status: ready to merge, component: CreateTearsheet

#2598 fix: exports useFiltering (v11)
  packages/cloud-cognitive/src/components/index.js
Labels: status: ready to merge

#2597 fix: exports useFiltering (v10)
  packages/cloud-cognitive/src/components/index.js
Labels: status: ready to merge

#2600 chore: fix example gallery tests
  examples/carbon-for-ibm-products/.babelrc
  examples/carbon-for-ibm-products/gallery-examples.test.js
  scripts/example-gallery-builder/gallery-config.js
Labels: status: ready to merge

#2582 fix(Datagrid): ColumnCustomizationModal to Tearsheet Narrow
  examples/carbon-for-ibm-products/TagSet/src/Example/Example.js
  examples/carbon-for-ibm-products/WebTerminal/src/Example/Example.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Actions.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ButtonWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ModalWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/TearsheetWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/index.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_draggableElement.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_index.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsModal.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsTearsheet.scss
  packages/cloud-cognitive/src/components/Datagrid/useCustomizeColumns.js
Labels: status: ready to merge

#2587 fix(Datagrid): ColumnCustomizationModal to Tearsheet Narrow - v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Actions.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ButtonWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ModalWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/TearsheetWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/index.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_draggableElement.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_index.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsModal.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsTearsheet.scss
  packages/cloud-cognitive/src/components/Datagrid/useCustomizeColumns.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2601 fix: single add select fixes v11
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/hooks/usePath.js
  packages/cloud-cognitive/src/components/SingleAddSelect/SingleAddSelect.mdx
  packages/cloud-cognitive/src/components/Tearsheet/_tearsheet.scss
Labels: status: ready to merge, Carbon v11

#2593 fix(DataGrid): date input to accept string date v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
  packages/cloud-cognitive/src/components/Datagrid/utils/makeData.js
Labels: status: ready to merge

#2592 fix(DataGrid): date input to accept string date
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getInlineEditColumns.js
  packages/cloud-cognitive/src/components/Datagrid/utils/makeData.js
Labels: status: ready to merge

#2611 fix: tagset overflow first open
  packages/cloud-cognitive/src/components/TagSet/TagSetOverflow.js
Labels: status: ready to merge

#2612 fix(ButtonMenu): menu size
  packages/cloud-cognitive/src/components/ButtonMenu/ButtonMenu.js
Labels: status: ready to merge, Carbon v11

#2619 fix(DataGrid): date input support typing date
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
Labels: status: ready to merge

#2614 chore(Datagrid): fix actions dropdown styles v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2632 fix(Datagrid): export useColumnCenterAlign v11
  packages/cloud-cognitive/src/components/index.js
Labels: component: Datagrid, Carbon v11

#2631 fix(Datagrid): export useColumnCenterAlign
  packages/cloud-cognitive/src/components/index.js
Labels: status: ready to merge, component: Datagrid

#2639 feat(Datagrid): exports FilterFlyout from datagridState (v11)
  packages/cloud-cognitive/src/components/Datagrid/useFiltering.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge, component: Datagrid, Carbon v11

#2638 feat(Datagrid): exports FilterFlyout through datagridState
  packages/cloud-cognitive/src/components/Datagrid/useFiltering.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge
