Repository carbon-design-system/ibm-products, pull requests merged in 2023-04, with the labels that each got.

#2709 fix: add select keyboard accessibility adjustments
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBreadcrumbs.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFilter.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
Labels: status: ready to merge

#2795 fix(TearsheetNarrow): increase description width to 80%
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/Tearsheet/_tearsheet.scss
Labels: status: ready to merge

#2806 build(security): pin `accessibility-checker` rules
  packages/security/achecker.js
Labels: status: needs v2 PR

#2807 fix(create-full-page): fix grid usage examples
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.stories.js
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPageStep.js
  packages/cloud-cognitive/src/components/CreateFullPage/_create-full-page.scss
Labels: v2

#2781 fix(empty-state): update header spacing (#2766)
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/EmptyStates/_empty-state.scss
Labels: v2

#2809 fix(create-full-page): revert `max` grid regression
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/CreateFullPage/_create-full-page.scss
Labels: status: ready to merge, v2

#2814 fix(side-panel): fix icon button alignment
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: status: ready to merge, status: needs v2 PR

#2805 fix(Datagrid): address bug with keyboard interaction for inline edit (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2804 fix(Datagrid): address bug with keyboard interaction for inline edit
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: status: ready to merge, component: Datagrid

#2803 fix: add select keyboard accessibility fixes
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBreadcrumbs.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
Labels: status: ready to merge

#2827 fix(Datagrid): filter action columns from `Columns` component to prevent ordering issues (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: status: ready to merge, component: Datagrid, v2

#2826 fix(Datagrid): filter action columns from `Columns` component to prevent ordering issues
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: status: ready to merge, component: Datagrid

#2834 fix(side-panel): fix icon button alignment (#2814)
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge'

#2828 fix(Datagrid): add background to virtual body header, fix svg scoping
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSortableColumns.scss
  packages/cloud-cognitive/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid

#2836 fix(Datagrid): add background to virtual body header, fix svg scoping (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSortableColumns.scss
  packages/cloud-cognitive/src/components/Datagrid/useSortableColumns.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2813 fix(create-tearsheet): fix grid usage examples
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheetStep.js
  packages/cloud-cognitive/src/components/CreateTearsheet/_create-tearsheet.scss
  packages/cloud-cognitive/src/components/CreateTearsheet/preview-components/MultiStepTearsheet.js
  packages/cloud-cognitive/src/components/CreateTearsheet/preview-components/MultiStepWithIntro.js
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge'

#2748 feat: possible feature flag usage
  packages/cloud-cognitive/README.md
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/useInfiniteScroll.js
  packages/cloud-cognitive/src/components/ExampleComponent/ExampleComponent.js
  packages/cloud-cognitive/src/components/ExampleComponent/ExampleComponent.stories.js
  packages/cloud-cognitive/src/components/ExampleComponent/ExampleComponent.test.js
  packages/cloud-cognitive/src/components/ExampleComponent/useExample.js
  packages/cloud-cognitive/src/global/js/package-settings.js
  packages/cloud-cognitive/src/global/js/utils/test-helper.js
  packages/core/.storybook/index.scss
  packages/core/.storybook/preview.js
Labels: status: ready to merge

#2566 chore: [WIP] adds motion for inline edit v2
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
Labels: status: ready to merge

#2835 fix(side-panel): fix close button hover state
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: status: ready to merge, status: needs v2 PR

#2844 chore(Datagrid): pass event to `onRowClick` callback
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/cloud-cognitive/src/components/Datagrid/useOnRowClick.js
Labels: status: ready to merge, component: Datagrid

#2845 chore(Datagrid): pass event to `onRowClick` callback (v11)
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/cloud-cognitive/src/components/Datagrid/useOnRowClick.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2817 fix: Add select accessibility refactor v11
  cspell.json
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectFormControl.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectList.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectRow.js
  packages/cloud-cognitive/src/components/AddSelect/_add-select.scss
  packages/cloud-cognitive/src/components/AddSelect/hooks/useFocus.js
Labels: status: ready to merge

#2855 fix(side-panel): fix close button hover state (#2835)
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/SidePanel/_side-panel.scss
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge'

#2860 feat(Datagrid): add auto size column support (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/index.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getAutoSizedColumnWidth.js
  packages/cloud-cognitive/src/components/index.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2859 feat(Datagrid): add auto size column support
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/index.js
  packages/cloud-cognitive/src/components/Datagrid/utils/getAutoSizedColumnWidth.js
  packages/cloud-cognitive/src/components/index.js
Labels: status: ready to merge, component: Datagrid

#2815 fix(Datagrid): fix batch action logic to show one/two actions (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2786 fix(sidepanel toolbar): tooltip truncate issue fix
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
Labels: status: ready to merge

#2863 feat(storybook): new fn getSelectedCarbonTheme
  packages/cloud-cognitive/src/global/js/utils/story-helper.js
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge', Novice to pro

#2864 fix(Datagrid): fix how `RowSizeDropdown` open state value is set
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ButtonWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
Labels: component: Datagrid

#2840 fix(Datagrid): sortable and customizable columns work together now
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/TearsheetWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/useSortableColumns.js
Labels: status: ready to merge, component: Datagrid, status: needs v2 PR

#2865 fix(Datagrid): fix how `RowSizeDropdown` open state value is set (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
Labels: component: Datagrid, v2, kodiak: merge.method = 'merge'

#2867 fix(Datagrid): sortable and customizable columns work together now (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/TearsheetWrapper.js
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_CustomizeColumnsTearsheet.scss
  packages/cloud-cognitive/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v2, kodiak: merge.method = 'merge'

#2858 chore: copy v1 animation for inline edit
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV1/InlineEditV1.js
  packages/cloud-cognitive/src/components/InlineEditV1/_inline-edit-v1.scss
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
Labels: status: ready to merge

#2872 fix: Inline edit fixes package v2
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV1/_inline-edit-v1.scss
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
Labels: status: ready to merge

#2870 fix: inline edit fixes package v1
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV1/_inline-edit-v1.scss
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
Labels: status: ready to merge

#2873 fix(Datagrid): tooltip placement change for row height settings
  cspell.json
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
  packages/cloud-cognitive/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2887 feat(Datagrid): add support for NotFound empty state
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
Labels: status: ready to merge, component: Datagrid

#2888 feat(Datagrid): add support for NotFound empty state (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2874 fix: user profile image focus v11
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/UserProfileImage/_user-profile-image.scss
Labels: status: ready to merge

#2890 fix: styling issues found in 2830
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/ActionBar/_action-bar.scss
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.js
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.stories.js
  packages/cloud-cognitive/src/components/PageHeader/_page-header.scss
Labels: status: ready to merge

#2899 docs: add glapadre as a contributor for code
  .all-contributorsrc
  README.md
  cspell.contributors.txt
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge', type: contributors

#2897 fix(TagSet): remove tag radius in overflow
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/TagSet/_tag-set.scss
Labels: status: ready to merge, component: TagSet, v2

#2906 docs: add lily-peng and mgallo25 as contributors for code
  .all-contributorsrc
  README.md
  cspell.contributors.txt
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge', type: contributors

#2883 fix(Datagrid): invalid aria role v11
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRefBody.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSimpleBody.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: status: ready to merge, kodiak: merge.method = 'merge'

#2912 feat: Remove react resize detector
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/src/components/AboutModal/AboutModal.js
  packages/cloud-cognitive/src/components/ActionBar/ActionBar.js
  packages/cloud-cognitive/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.js
  packages/cloud-cognitive/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.js
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
  packages/cloud-cognitive/src/components/TagSet/TagSet.js
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.js
  packages/cloud-cognitive/src/global/js/hooks/useResizeObserver.js
  packages/cloud-cognitive/src/global/js/hooks/useWindowResize.js
  packages/cloud-cognitive/src/global/js/hooks/useWindowScroll.js
  yarn.lock
Labels: status: ready to merge, kodiak: merge.method = 'merge'

#2920 docs(Datagrid): add missing hook documentation, part 1
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
Labels: type: documentation, status: ready to merge, component: Datagrid, v1

#2926 docs(Datagrid): docs update part 2 (v2)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSelectAllToggle.scss
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2925 docs(Datagrid): docs update part 2
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSelectAllToggle.scss
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
Labels: status: ready to merge, component: Datagrid, v1

#2919 feat: update InlineEditV2
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV1/_inline-edit-v1.scss
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.stories.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
Labels: status: ready to merge, v2, component: EditableContent

#2918 feat: update InlineEditV2
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.stories.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
Labels: status: ready to merge, component: EditableContent, v1

#2915 feat(Datagrid): add keyboard support for clickable rows (v2)
  packages/cloud-cognitive/src/components/Datagrid/useOnRowClick.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2774 fix(page-header): fix 'back' breadcrumb regression
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.js
  packages/cloud-cognitive/src/components/BreadcrumbWithOverflow/_breadcrumb-with-overflow.scss
Labels: status: ready to merge, v2

#2932 feat: Ellipsis for inline edit v2 pkg v2
  packages/ibm-products/src/components/InlineEditV2/InlineEditV2.js
  packages/ibm-products/src/components/InlineEditV2/InlineEditV2.stories.js
  packages/ibm-products/src/components/InlineEditV2/_inline-edit-v2.scss
  packages/ibm-products/src/components/InlineEditV2/_storybook-styles.scss
Labels: status: ready to merge, v2

#2931 feat: add ellipsis to inline-edit v2 pkg v1
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.js
  packages/cloud-cognitive/src/components/InlineEditV2/InlineEditV2.stories.js
  packages/cloud-cognitive/src/components/InlineEditV2/_inline-edit-v2.scss
  packages/cloud-cognitive/src/components/InlineEditV2/_storybook-styles.scss
Labels: status: ready to merge, v2

#2936 feat: Rename inline edit to EditInPlace
  docs/guides/v2.md
  packages/core/story-structure.js
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/EditInPlace/EditInPlace.js
  packages/ibm-products/src/components/EditInPlace/EditInPlace.mdx
  packages/ibm-products/src/components/EditInPlace/EditInPlace.stories.js
  packages/ibm-products/src/components/EditInPlace/EditInPlace.test.js
  packages/ibm-products/src/components/EditInPlace/_carbon-imports.scss
  packages/ibm-products/src/components/EditInPlace/_edit-in-place.scss
  packages/ibm-products/src/components/EditInPlace/_index-with-carbon.scss
  packages/ibm-products/src/components/EditInPlace/_index.scss
  packages/ibm-products/src/components/EditInPlace/_storybook-styles.scss
  packages/ibm-products/src/components/EditInPlace/index.js
  packages/ibm-products/src/components/InlineEdit/InlineEdit.js
  packages/ibm-products/src/components/InlineEdit/index.js
  packages/ibm-products/src/components/InlineEditV1/InlineEditV1.js
  packages/ibm-products/src/components/InlineEditV1/InlineEditV1.mdx
  packages/ibm-products/src/components/InlineEditV1/InlineEditV1.stories.js
  packages/ibm-products/src/components/InlineEditV1/InlineEditV1.test.js
  packages/ibm-products/src/components/InlineEditV1/_index-with-carbon.scss
  packages/ibm-products/src/components/InlineEditV1/_index.scss
  packages/ibm-products/src/components/InlineEditV1/_inline-edit-v1.scss
  packages/ibm-products/src/components/InlineEditV2/InlineEditV2.mdx
  packages/ibm-products/src/components/InlineEditV2/_index-with-carbon.scss
  packages/ibm-products/src/components/InlineEditV2/_storybook-styles.scss
  packages/ibm-products/src/components/InlineEditV2/index.js
  packages/ibm-products/src/components/PageHeader/PageHeader.js
  packages/ibm-products/src/components/PageHeader/PageHeaderTitle.js
  packages/ibm-products/src/components/_index-released-only-with-carbon.scss
  packages/ibm-products/src/components/_index-released-only.scss
  packages/ibm-products/src/components/_index-with-carbon.scss
  packages/ibm-products/src/components/_index.scss
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: v2

#2941 chore: update tests for dev dependencies
  packages/cloud-cognitive/src/__tests__/index-all-enabled.test.js
  packages/cloud-cognitive/src/components/AboutModal/AboutModal.test.js
  packages/cloud-cognitive/src/components/ActionBar/ActionBar.test.js
  packages/cloud-cognitive/src/components/ActionBar/ActionBarItem.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelect.test.js
  packages/cloud-cognitive/src/components/AddSelect/AddSelectBody.test.js
  packages/cloud-cognitive/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.test.js
  packages/cloud-cognitive/src/components/CreateSidePanel/CreateSidePanel.test.js
  packages/cloud-cognitive/src/components/CreateTearsheet/CreateTearsheet.test.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.test.js
  packages/cloud-cognitive/src/components/EditSidePanel/EditSidePanel.test.js
  packages/cloud-cognitive/src/components/EditTearsheet/EditTearsheet.test.js
  packages/cloud-cognitive/src/components/PageHeader/PageHeader.test.js
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.test.js
  packages/cloud-cognitive/src/components/TagSet/TagSet.test.js
  packages/cloud-cognitive/src/components/Tearsheet/Tearsheet.test.js
  packages/security/src/__tests__/scss/__snapshots__/styles-test.js.snap
Labels: dependencies, v1
