Repository carbon-design-system/ibm-products, pull requests merged in 2023-07, with the labels that each got.

#3179 fix: a11y issues with some forms
  packages/core/src/component-playground/components/Tearsheet/TearsheetWide.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.js
  packages/ibm-products/src/components/AboutModal/AboutModal.test.js
  packages/ibm-products/src/components/ActionBar/ActionBar.js
  packages/ibm-products/src/components/ActionBar/ActionBarItem.test.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.test.js
  packages/ibm-products/src/components/CreateModal/CreateModal.docs-page.js
  packages/ibm-products/src/components/CreateModal/CreateModal.js
  packages/ibm-products/src/components/CreateModal/CreateModal.test.js
  packages/ibm-products/src/components/CreateSidePanel/CreateSidePanel.docs-page.js
  packages/ibm-products/src/components/CreateSidePanel/CreateSidePanel.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.test.js
  packages/ibm-products/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.js
  packages/ibm-products/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.test.js
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.js
  packages/ibm-products/src/components/ExportModal/ExportModal.test.js
  packages/ibm-products/src/components/ImportModal/ImportModal.test.js
  packages/ibm-products/src/components/RemoveModal/RemoveModal.test.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.test.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
  packages/ibm-products/src/components/WebTerminal/WebTerminal.test.js
Labels: status: ready to merge

#3140 fix: example galleries when run locally
  examples/carbon-for-ibm-products/example-gallery/package.json
Labels: status: ready to merge

#3183 chore: always use prefix in dev storybook
  packages/core/.storybook/_prefix-index.scss
  packages/core/.storybook/index.scss
  packages/core/.storybook/preview.js
Labels: status: ready to merge

#3029 chore: mechanism to upgrade example dependencies
  .github/workflows/test-example-upgrade.yml
  package.json
Labels: status: ready to merge

#3187 chore: add datagrid docs back to storybook
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.js
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnAlignment/ColumnAlignment.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnAlignment/ColumnAlignment.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Filtering.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Header/Header.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowHeightSettings/RowHeightSettings.stories.js
  packages/ibm-products/src/global/js/utils/StoryDocsPage.js
Labels: status: ready to merge, component: Datagrid, v2

#3168 feat(FilterSummary): adds custom label render and DisplayBox
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.stories.js
  packages/ibm-products/src/components/FilterSummary/_storybook-styles.scss
Labels: status: ready to merge

#3199 chore(Datagrid): move toggle tip to popover, row settings
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
  packages/ibm-products/src/components/Datagrid/_datagrid.scss
Labels: status: ready to merge, component: Datagrid, v2

#3233 fix: improve a11y tests
  packages/core/src/component-playground/components/Tearsheet/TearsheetWide.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.js
  packages/ibm-products/src/components/AboutModal/AboutModal.test.js
  packages/ibm-products/src/components/ActionBar/ActionBar.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.test.js
  packages/ibm-products/src/components/CreateModal/CreateModal.js
  packages/ibm-products/src/components/CreateModal/CreateModal.mdx
  packages/ibm-products/src/components/CreateModal/CreateModal.test.js
  packages/ibm-products/src/components/CreateSidePanel/CreateSidePanel.js
  packages/ibm-products/src/components/CreateSidePanel/CreateSidePanel.mdx
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.test.js
  packages/ibm-products/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.js
  packages/ibm-products/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.test.js
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.js
  packages/ibm-products/src/components/ExportModal/ExportModal.test.js
  packages/ibm-products/src/components/ImportModal/ImportModal.test.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.test.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
  packages/ibm-products/src/components/WebTerminal/WebTerminal.test.js
Labels: v1

#3142 fix(Datagrid): Invalid prop value was passed through table toolbar search component
  packages/ibm-products/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge

#3237 chore(Datagrid): add skeleton story (v1)
  packages/core/story-structure.js
  packages/ibm-products/src/components/Datagrid/Extensions/Skeleton/Skeleton.stories.js
  packages/ibm-products/src/components/Datagrid/utils/getArgTypes.js
Labels: status: ready to merge, component: Datagrid, v1

#3203 chore(Datagrid): add skeleton story (v2)
  packages/core/story-structure.js
  packages/ibm-products/src/components/Datagrid/Extensions/Skeleton/Skeleton.stories.js
  packages/ibm-products/src/components/Datagrid/utils/getArgTypes.js
Labels: status: ready to merge, component: Datagrid, v2

#3234 fix: update example Carbon versions to latest
  examples/carbon-for-ibm-products/APIKeyModal/package.json
  examples/carbon-for-ibm-products/AboutModal/package.json
  examples/carbon-for-ibm-products/Cascade/package.json
  examples/carbon-for-ibm-products/CreateFullPage/package.json
  examples/carbon-for-ibm-products/CreateModal/package.json
  examples/carbon-for-ibm-products/CreateSidePanel/package.json
  examples/carbon-for-ibm-products/CreateTearsheet/package.json
  examples/carbon-for-ibm-products/CreateTearsheetNarrow/package.json
  examples/carbon-for-ibm-products/DataSpreadsheet/package.json
  examples/carbon-for-ibm-products/Datagrid/package.json
  examples/carbon-for-ibm-products/EditInPlace/package.json
  examples/carbon-for-ibm-products/EmptyStates/package.json
  examples/carbon-for-ibm-products/ExportModal/package.json
  examples/carbon-for-ibm-products/ExpressiveCard/package.json
  examples/carbon-for-ibm-products/HTTPErrors/package.json
  examples/carbon-for-ibm-products/ImportModal/package.json
  examples/carbon-for-ibm-products/NotificationsPanel/package.json
  examples/carbon-for-ibm-products/OptionsTile/package.json
  examples/carbon-for-ibm-products/PageHeader/package.json
  examples/carbon-for-ibm-products/ProductiveCard/package.json
  examples/carbon-for-ibm-products/RemoveModal/package.json
  examples/carbon-for-ibm-products/Saving/package.json
  examples/carbon-for-ibm-products/SidePanel/package.json
  examples/carbon-for-ibm-products/StatusIcon/package.json
  examples/carbon-for-ibm-products/TagSet/package.json
  examples/carbon-for-ibm-products/Tearsheet/package.json
  examples/carbon-for-ibm-products/UserProfileImage/package.json
  examples/carbon-for-ibm-products/WebTerminal/package.json
  examples/carbon-for-ibm-products/example-gallery/package.json
  examples/carbon-for-ibm-products/prefix-example/package.json
Labels: status: ready to merge

#3238 chore(Datagrid): move skeleton story to base component
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Skeleton/Skeleton.stories.js
Labels: component: Datagrid, v2

#3232 feat: add welcome animation
  packages/core/package.json
  packages/core/src/welcome/Welcome.js
  packages/core/src/welcome/_storybook-styles.scss
  packages/core/src/welcome/welcome-banner-v2.svg
  packages/core/src/welcome/welcome-lottie.json
  yarn.lock
Labels: status: ready to merge, v2

#3251 docs(Guidebanner): Update doc after review
  packages/ibm-products/src/components/Guidebanner/Guidebanner.mdx
Labels: status: ready to merge

#3224 fix(Datagrid): clickable row stories
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
Labels: status: ready to merge, component: Datagrid, v2

#3225 fix(Datagrid): clickable row stories
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
Labels: status: ready to merge, component: Datagrid, v1

#3222 fix(TearSheet): wide button 2xl size
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Tearsheet/_tearsheet.scss
Labels: status: ready to merge

#3248 docs(NonLinearReading): Update doc after review
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.mdx
Labels: status: ready to merge

#3110 fix(editable card): buttons added on CardHeader
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Card/Card.js
  packages/ibm-products/src/components/Card/CardFooter.js
  packages/ibm-products/src/components/Card/CardFooter.test.js
  packages/ibm-products/src/components/Card/CardHeader.js
  packages/ibm-products/src/components/EditUpdateCards/EditUpdateCards.js
  packages/ibm-products/src/components/EditUpdateCards/EditUpdateCards.stories.js
  packages/ibm-products/src/components/EditUpdateCards/_edit-update-cards.scss
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.js
  packages/ibm-products/src/components/ProductiveCard/_productive-card.scss
Labels: status: ready to merge

#3235 chore: update dev dependencies
  .yarn/cache/@types-hast-npm-2.3.4-7249cc0ece-fff47998f4.zip
  .yarn/cache/@types-unist-npm-2.0.6-82641b4aa5-25cb860ff1.zip
  .yarn/cache/collect-v8-coverage-npm-1.0.1-39dec86bad-4efe0a1fcc.zip
  .yarn/cache/semver-npm-5.7.1-40bcea106b-57fd0acfd0.zip
  .yarn/cache/semver-npm-6.3.0-b3eace8bfd-1b26ecf6db.zip
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/cli/package.json
  config/jest-config-ibm-cloud-cognitive/package.json
  config/storybook-addon-carbon-theme/package.json
  config/stylelint-config-ibm-products/package.json
  examples/carbon-for-ibm-products/APIKeyModal/package.json
  examples/carbon-for-ibm-products/AboutModal/package.json
  examples/carbon-for-ibm-products/Cascade/package.json
  examples/carbon-for-ibm-products/CreateFullPage/package.json
  examples/carbon-for-ibm-products/CreateModal/package.json
  examples/carbon-for-ibm-products/CreateSidePanel/package.json
  examples/carbon-for-ibm-products/CreateTearsheet/package.json
  examples/carbon-for-ibm-products/CreateTearsheetNarrow/package.json
  examples/carbon-for-ibm-products/DataSpreadsheet/package.json
  examples/carbon-for-ibm-products/Datagrid/package.json
  examples/carbon-for-ibm-products/EditInPlace/package.json
  examples/carbon-for-ibm-products/EmptyStates/package.json
  examples/carbon-for-ibm-products/ExportModal/package.json
  examples/carbon-for-ibm-products/ExpressiveCard/package.json
  examples/carbon-for-ibm-products/HTTPErrors/package.json
  examples/carbon-for-ibm-products/ImportModal/package.json
  examples/carbon-for-ibm-products/NotificationsPanel/package.json
  examples/carbon-for-ibm-products/OptionsTile/package.json
  examples/carbon-for-ibm-products/PageHeader/package.json
  examples/carbon-for-ibm-products/ProductiveCard/package.json
  examples/carbon-for-ibm-products/RemoveModal/package.json
  examples/carbon-for-ibm-products/Saving/package.json
  examples/carbon-for-ibm-products/SidePanel/package.json
  examples/carbon-for-ibm-products/StatusIcon/package.json
  examples/carbon-for-ibm-products/TagSet/package.json
  examples/carbon-for-ibm-products/Tearsheet/package.json
  examples/carbon-for-ibm-products/UserProfileImage/package.json
  examples/carbon-for-ibm-products/WebTerminal/package.json
  examples/carbon-for-ibm-products/example-gallery/package.json
  examples/carbon-for-ibm-products/prefix-example/package.json
  package.json
  packages/core/package.json
  packages/ibm-products/package.json
  yarn.lock
Labels: dependencies

#3323 chore(deps): bump word-wrap from 1.2.3 to 1.2.5 in /examples/carbon-for-ibm-products
  examples/carbon-for-ibm-products/APIKeyModal/yarn.lock
  examples/carbon-for-ibm-products/AboutModal/yarn.lock
  examples/carbon-for-ibm-products/Cascade/yarn.lock
  examples/carbon-for-ibm-products/CreateFullPage/yarn.lock
  examples/carbon-for-ibm-products/CreateModal/yarn.lock
  examples/carbon-for-ibm-products/CreateSidePanel/yarn.lock
  examples/carbon-for-ibm-products/CreateTearsheet/yarn.lock
  examples/carbon-for-ibm-products/CreateTearsheetNarrow/yarn.lock
  examples/carbon-for-ibm-products/DataSpreadsheet/yarn.lock
  examples/carbon-for-ibm-products/Datagrid/yarn.lock
  examples/carbon-for-ibm-products/EditInPlace/yarn.lock
  examples/carbon-for-ibm-products/EmptyStates/yarn.lock
  examples/carbon-for-ibm-products/ExportModal/yarn.lock
  examples/carbon-for-ibm-products/ExpressiveCard/yarn.lock
  examples/carbon-for-ibm-products/HTTPErrors/yarn.lock
  examples/carbon-for-ibm-products/ImportModal/yarn.lock
  examples/carbon-for-ibm-products/NotificationsPanel/yarn.lock
  examples/carbon-for-ibm-products/OptionsTile/yarn.lock
  examples/carbon-for-ibm-products/PageHeader/yarn.lock
  examples/carbon-for-ibm-products/ProductiveCard/yarn.lock
  examples/carbon-for-ibm-products/RemoveModal/yarn.lock
  examples/carbon-for-ibm-products/Saving/yarn.lock
  examples/carbon-for-ibm-products/SidePanel/yarn.lock
  examples/carbon-for-ibm-products/StatusIcon/yarn.lock
  examples/carbon-for-ibm-products/TagSet/yarn.lock
  examples/carbon-for-ibm-products/Tearsheet/yarn.lock
  examples/carbon-for-ibm-products/UserProfileImage/yarn.lock
  examples/carbon-for-ibm-products/WebTerminal/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/yarn.lock
  examples/carbon-for-ibm-products/prefix-example/yarn.lock
Labels: status: ready to merge, dependencies

#3322 fix(Datagrid): remove sort styles hook not in use
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
Labels: status: ready to merge

#3321 fix(Datagrid): remove sort styles hook not in use v1
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
Labels: v1

#3285 chore(Datagrid): add aria-sort and aria-pressed labels (v2)
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: status: ready to merge, component: Datagrid, v2

#3228 fix(Datagrid): add batch actions to clickable row with panel story
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useOnRowClick.js
Labels: status: ready to merge, component: Datagrid, v2

#3327 fix(Datagrid): add batch actions to clickable row with panel story (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useOnRowClick.js
Labels: component: Datagrid, v1

#2772 feat(decorator): support second button in round-shaped decorator
  packages/security/src/__tests__/scss/__snapshots__/styles-test.js.snap
  packages/security/src/components/DataDecorator/Decorator/Decorator-story.js
  packages/security/src/components/DataDecorator/Decorator/Decorator.js
  packages/security/src/components/DataDecorator/Decorator/__tests__/Decorator-test.js
  packages/security/src/components/DataDecorator/_index.scss
  packages/security/src/components/DataDecorator/_mixins.scss
  packages/security/src/components/__tests__/__snapshots__/public-api-test.js.snap
Labels: status: ready to merge

#3336 fix(Datagrid): address row action disabled state logic (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: component: Datagrid, v1

#3335 fix(Datagrid): address row action disabled state logic (v2)
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: component: Datagrid, v2
