Repository carbon-design-system/ibm-products, pull requests merged in 2023-09, with the labels that each got.

#3408 feat(Checklist): add Checklist component
  packages/core/story-structure.js
  packages/ibm-products/src/components/Checklist/Checklist.js
  packages/ibm-products/src/components/Checklist/Checklist.mdx
  packages/ibm-products/src/components/Checklist/Checklist.stories.js
  packages/ibm-products/src/components/Checklist/Checklist.test.js
  packages/ibm-products/src/components/Checklist/ChecklistChart.js
  packages/ibm-products/src/components/Checklist/ChecklistIcon.js
  packages/ibm-products/src/components/Checklist/_checklist.scss
  packages/ibm-products/src/components/Checklist/_index.scss
  packages/ibm-products/src/components/Checklist/_storybook-styles.scss
  packages/ibm-products/src/components/Checklist/index.js
  packages/ibm-products/src/components/_index.scss
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: ready to merge 🎉, Novice to pro

#3438 feat(Datagrid): add new select all approach in batch actions
  .yarn/cache/downshift-npm-5.2.1-21b424890b-fc8e731106.zip
  packages/core/package.json
  packages/ibm-products/package.json
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/OptionsTile/OptionsTile.js
  packages/ibm-products/src/components/OptionsTile/OptionsTile.test.js
  yarn.lock
Labels: status: ready to merge 🎉, component: Datagrid, v2

#3450 fix(NonLinearReading): accessibility review changes
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.js
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.test.js
  packages/ibm-products/src/components/NonLinearReading/_non-linear-reading.scss
Labels: Novice to pro

#3389 fix(datagrid): empty state fix
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/EmptyStates/_empty-state.scss
Labels: status: waiting for author 💬

#3460 fix: datagrid toolbar accessibility
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
Labels: v2

#3473 fix: filter flyout outside click
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/global/js/hooks/useClickOutside.js
Labels: component: Datagrid, v2

#3378 fix(Datagrid): add initial width value to `useResizeObserver` and add batch actions test (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/global/js/utils/test-helper.js
Labels: status: ready to merge 🎉, component: Datagrid, v1

#3476 fix(InlineTip): accessibility review changes
  packages/ibm-products/src/components/InlineTip/InlineTip.js
  packages/ibm-products/src/components/InlineTip/InlineTip.stories.js
  packages/ibm-products/src/components/InlineTip/InlineTip.test.js
  packages/ibm-products/src/components/InlineTip/InlineTipButton.js
  packages/ibm-products/src/components/InlineTip/InlineTipLink.js
Labels: UX: accessibility, Novice to pro

#3480 fix: datagrid row height click
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
Labels: component: Datagrid, v2

#3514 fix(DataGrid): remove td bottom border when state is empty and tr hover
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: status: waiting for reviewer 💬

#3496 fix: invalid aria-label
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
  packages/ibm-products/src/global/js/utils/getNodeTextContent.js
  packages/ibm-products/src/global/js/utils/getNodeTextContent.test.js
Labels: status: waiting for reviewer 💬
