Repository carbon-design-system/ibm-products, pull requests merged in 2023-03, with the labels that each got.

#2671 chore: update dev dependencies
  .yarn/cache/byte-size-npm-7.0.1-cda9f76d28-6791663a6d.zip
  .yarn/cache/define-properties-npm-1.1.4-85ee575655-ce0aef3f9e.zip
  .yarn/cache/detect-indent-npm-6.1.0-d8c441ff7a-ab953a73c7.zip
  .yarn/cache/sort-keys-npm-4.2.0-bf52ceef80-1535ffd5a7.zip
  .yarn/cache/write-json-file-npm-4.3.0-89a21c4468-33908c5919.zip
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/cli/package.json
  config/jest-config-ibm-cloud-cognitive/package.json
  config/storybook-addon-carbon-theme/package.json
  config/stylelint-config-ibm-products/package.json
  package.json
  packages/cdai/package.json
  packages/cloud-cognitive/package.json
  packages/core/package.json
  packages/security/package.json
  yarn.lock
Labels: status: ready to merge

#2706 fix(options-tile): add safe area around toggle
  packages/cloud-cognitive/src/components/OptionsTile/_options-tile.scss
Labels: status: ready to merge

#2705 fix(options-tile): add safe area around toggle
  packages/cloud-cognitive/src/components/OptionsTile/_options-tile.scss
  yarn.lock
Labels: status: ready to merge

#2722 chore: add detail on ES modules v11
  packages/cloud-cognitive/README.md
Labels: status: ready to merge, Carbon v11

#2712 fix(DataGrid): dense header alignment fix v11
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge

#2711 fix(DataGrid): dense header alignment
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge

#2697 feat(Datagrid): Extracts Filtering logic into useFilters hook (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/hooks/index.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/Filtering/utils.js
  packages/cloud-cognitive/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge

#2731 feat: upgrade Carbon dependencies to latest compatible versions
  examples/carbon-for-ibm-products/Carbon-v11-template/package.json
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/core/package.json
  yarn.lock
Labels: status: ready to merge

#2622 fix(nested rows): fixed border color and align
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useNestedRows.scss
  packages/cloud-cognitive/src/components/Datagrid/useNestedRows.js
Labels: status: ready to merge

#2621 fix(nested row): border color and align fixed
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useNestedRows.scss
  packages/cloud-cognitive/src/components/Datagrid/useNestedRows.js
Labels: status: ready to merge

#2659 fix(DataGrid): design review horizontal scrolling (v11)
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSelectAllToggle.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useStickyColumn.scss
  packages/cloud-cognitive/src/components/Datagrid/useActionsColumn.js
  packages/cloud-cognitive/src/components/Datagrid/useDefaultStringRenderer.js
  packages/cloud-cognitive/src/components/Datagrid/useSelectAllToggle.js
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
  packages/cloud-cognitive/src/components/Datagrid/useStickyColumn.js
Labels: status: ready to merge

#2657 fix(DataGrid): design review horizontal scrolling
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.mdx
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/cloud-cognitive/src/components/Datagrid/styles/_datagrid.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useSelectAllToggle.scss
  packages/cloud-cognitive/src/components/Datagrid/styles/_useStickyColumn.scss
  packages/cloud-cognitive/src/components/Datagrid/useActionsColumn.js
  packages/cloud-cognitive/src/components/Datagrid/useDefaultStringRenderer.js
  packages/cloud-cognitive/src/components/Datagrid/useSelectAllToggle.js
  packages/cloud-cognitive/src/components/Datagrid/useSelectRows.js
  packages/cloud-cognitive/src/components/Datagrid/useStickyColumn.js
Labels: status: ready to merge

#2730 fix: cardfooter button icon props update v11
  packages/cloud-cognitive/src/components/Card/CardFooter.js
  packages/cloud-cognitive/src/components/ExpressiveCard/ExpressiveCard.stories.js
Labels: status: ready to merge

#2729 fix: cardfooter button icon props update
  packages/cloud-cognitive/src/components/Card/CardFooter.js
  packages/cloud-cognitive/src/components/ExpressiveCard/ExpressiveCard.stories.js
Labels: status: ready to merge

#2756 feat(SidePanel): expose tooltip props
  packages/cloud-cognitive/src/components/SidePanel/SidePanel.js
Labels: status: ready to merge

#2759 docs: add Laura-Marshall as a contributor for design
  .all-contributorsrc
  README.md
  cspell.html.txt
Labels: status: ready to merge

#2736 chore: upgrade `sass-loader`, remove `fast-sass-loader`
  .yarn/cache/ansi-styles-npm-2.2.1-f3297e782c-ebc0e00381.zip
  .yarn/cache/async-npm-2.6.4-3155e80151-a52083fb32.zip
  .yarn/cache/chalk-npm-1.1.3-59144c3a87-9d2ea6b98f.zip
  .yarn/cache/cli-source-preview-npm-1.1.0-0a7655f66d-1abbe5383c.zip
  .yarn/cache/fast-sass-loader-npm-2.0.1-ba6d1d1880-808ad855f4.zip
  .yarn/cache/fs-extra-npm-3.0.1-9417aaf7f9-8957f9ee33.zip
  .yarn/cache/has-ansi-npm-2.0.0-9bf0cff2af-1b51daa021.zip
  .yarn/cache/jsonfile-npm-3.0.1-77649e47c9-f2935da339.zip
  .yarn/cache/supports-color-npm-2.0.0-22c0f0adbc-602538c581.zip
  .yarn/cache/universalify-npm-0.1.2-9b22d31d2d-40cdc60f6e.zip
  packages/core/.storybook/main.js
  packages/core/package.json
  yarn.lock
Labels: status: ready to merge, v2

#2762 fix: add `Layer` to `Tearsheet`
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.js
  packages/cloud-cognitive/src/components/Tearsheet/_carbon-imports.scss
  packages/cloud-cognitive/src/components/Tearsheet/_tearsheet.scss
Labels: status: ready to merge, v2

#2723 fix: datagrid inline edit focus background color v11
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
Labels: status: ready to merge

#2745 fix(Datagrid): hide columns with no header title
  packages/cloud-cognitive/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
Labels: status: ready to merge

#2754 build: add Enzyme to packages importing it
  config/jest-config-ibm-cloud-cognitive/package.json
  packages/cdai/package.json
  packages/security/package.json
  yarn.lock
Labels: status: ready to merge, status: needs v2 PR

#2765 build: Action to cherry pick changes from `main` to `v2`
  .github/workflows/sync-commit.yml
Labels: status: ready to merge

#2766 fix(empty-state): update header spacing
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/EmptyStates/_empty-state.scss
Labels: status: ready to merge, status: needs v2 PR

#2514 fix: use v1 inline edit in page header
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/InlineEditV1/_inline-edit-v1.scss
  packages/cloud-cognitive/src/components/PageHeader/PageHeaderTitle.js
Labels: status: ready to merge, component: PageHeader, v2

#2680 fix: datagrid inline edit focus background color
  packages/cloud-cognitive/src/components/Datagrid/styles/_useInlineEdit.scss
Labels: status: ready to merge

#2675 fix(expandable row): content added with controls
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/cloud-cognitive/src/components/Datagrid/_storybook-styles.scss
  packages/cloud-cognitive/src/components/Datagrid/utils/getArgTypes.js
Labels: status: ready to merge

#2767 chore: use sync workflow on test branch
  .github/workflows/sync-commit.yml
Labels: status: ready to merge

#2779 fix(empty-state): update type tokens
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/EmptyStates/_empty-state.scss
Labels: status: ready to merge, v2

#2780 fix(http-errors): update type tokens
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/HTTPErrors/_http-errors.scss
Labels: status: ready to merge, v2

#2788 fix(create-full-page): update button sizes
  packages/cloud-cognitive/src/__tests__/__snapshots__/styles.test.js.snap
  packages/cloud-cognitive/src/components/ActionSet/_action-set.scss
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.js
Labels: v2

#2790 fix(create-full-page): focus modal secondary button
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.js
Labels: status: needs v2 PR

#2789 fix(tearsheet-shell): use `Layer` for `wide` only
  packages/cloud-cognitive/src/components/Tearsheet/TearsheetShell.js
Labels: status: ready to merge, v2

#2797 fix(create-full-page): focus modal secondary button (#2790)
  packages/cloud-cognitive/src/components/CreateFullPage/CreateFullPage.js
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge'
