Repository carbon-design-system/ibm-products, pull requests merged in 2023-10, with the labels that each got.

#3521 chore(deps): bump semver from 6.3.0 to 6.3.1 in templates
  examples/carbon-for-ibm-products/react-16-example/yarn.lock
  examples/carbon-for-ibm-products/react-17-example/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-16/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-17/yarn.lock
Labels: dependencies

#3358 fix(Nav): show active state also for links with a fragment
  packages/security/src/components/Nav/Nav.js
Labels: status: ready to merge 🎉

#3525 fix(Datagrid): refactor expandable implementation
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/ibm-products/src/components/Datagrid/useExpandedRow.js
Labels: component: Datagrid, v2

#3504 fix(Checklist): update checklist donut chart colors
  packages/ibm-products/src/components/Checklist/ChecklistChart.js
Labels: status: ready to merge 🎉, status: waiting for reviewer 💬

#3541 chore(Datagrid): remove warning about drag and drop rework
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
Labels: component: Datagrid, v2

#3540 fix(DataGrid): remove td bottom border when state is empty (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: component: Datagrid, v1

#3549 fix: datagrid pagination fixes v1
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/utils/DatagridPagination.js
Labels: component: Datagrid, v1

#3555 chore: bump postcss to 8.4.31
  examples/carbon-for-ibm-products/APIKeyModal/yarn.lock
  examples/carbon-for-ibm-products/AboutModal/yarn.lock
  examples/carbon-for-ibm-products/Cascade/yarn.lock
  examples/carbon-for-ibm-products/CreateFullPage/yarn.lock
  examples/carbon-for-ibm-products/CreateModal/yarn.lock
  examples/carbon-for-ibm-products/CreateSidePanel/yarn.lock
  examples/carbon-for-ibm-products/CreateTearsheet/yarn.lock
  examples/carbon-for-ibm-products/CreateTearsheetNarrow/yarn.lock
  examples/carbon-for-ibm-products/DataSpreadsheet/yarn.lock
  examples/carbon-for-ibm-products/Datagrid/yarn.lock
  examples/carbon-for-ibm-products/EditInPlace/yarn.lock
  examples/carbon-for-ibm-products/EmptyStates/yarn.lock
  examples/carbon-for-ibm-products/ExportModal/yarn.lock
  examples/carbon-for-ibm-products/ExpressiveCard/yarn.lock
  examples/carbon-for-ibm-products/HTTPErrors/yarn.lock
  examples/carbon-for-ibm-products/ImportModal/yarn.lock
  examples/carbon-for-ibm-products/NotificationsPanel/yarn.lock
  examples/carbon-for-ibm-products/OptionsTile/yarn.lock
  examples/carbon-for-ibm-products/PageHeader/yarn.lock
  examples/carbon-for-ibm-products/ProductiveCard/yarn.lock
  examples/carbon-for-ibm-products/RemoveModal/yarn.lock
  examples/carbon-for-ibm-products/Saving/yarn.lock
  examples/carbon-for-ibm-products/SidePanel/yarn.lock
  examples/carbon-for-ibm-products/StatusIcon/yarn.lock
  examples/carbon-for-ibm-products/TagSet/yarn.lock
  examples/carbon-for-ibm-products/Tearsheet/yarn.lock
  examples/carbon-for-ibm-products/UserProfileImage/yarn.lock
  examples/carbon-for-ibm-products/WebTerminal/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/yarn.lock
  examples/carbon-for-ibm-products/prefix-example/yarn.lock
  examples/carbon-for-ibm-products/react-16-example/yarn.lock
  examples/carbon-for-ibm-products/react-17-example/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-16/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-17/yarn.lock
  scripts/example-gallery-builder/update-example/templates/yarn.lock
  yarn.lock
Labels: dependencies

#3550 fix(Datagrid): expandable row add background on row hover
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/styles/_useExpandedRow.scss
Labels: component: Datagrid, v2

#3545 fix(ButtonSetWithOverflow): fix duplicate id issue
  packages/ibm-products/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.js
Labels: component: PageHeader, v2

#3551 fix(Datagrid): expandable row add background on row hover
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/styles/_useExpandedRow.scss
Labels: component: Datagrid, v1

#3566 chore: add security policy
  SECURITY.md
Labels: type: process 🎞️

#3564 fix(Datagrid): expander title / aria-label updates
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
  packages/ibm-products/src/components/Datagrid/useRowExpander.js
  packages/ibm-products/src/components/Datagrid/utils/getArgTypes.js
Labels: component: Datagrid, v2

#3569 fix(Datagrid): expander title / aria-label updates (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
  packages/ibm-products/src/components/Datagrid/useRowExpander.js
  packages/ibm-products/src/components/Datagrid/utils/getArgTypes.js
Labels: component: Datagrid, v1

#3553 chore: add stale action
  .github/stale.yml
  .github/workflows/stale.yml
Labels: github actions

#3576 fix: move dnd kit packages out of dev dependencies
  packages/ibm-products/package.json
Labels: type: bug 🐛, dependencies

#3574 docs: add version support to README
  README.md
Labels: type: docs 📖

#3577 fix(Datagrid): reset column order in CustomizeColumns onClose handler
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: component: Datagrid, v1

#3578 fix(Datagrid): reset column order in CustomizeColumns onClose handler
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: component: Datagrid, v2

#3598 fix(Datagrid): add disabled/locked col drag functionality back
  packages/ibm-products/src/components/Datagrid/Datagrid/DraggableElement.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
Labels: component: Datagrid, v2

#3618 chore(deps): bump @babel/traverse to 7.23.2
  examples/carbon-for-ibm-products/APIKeyModal/yarn.lock
  examples/carbon-for-ibm-products/AboutModal/yarn.lock
  examples/carbon-for-ibm-products/Cascade/yarn.lock
  examples/carbon-for-ibm-products/CreateFullPage/yarn.lock
  examples/carbon-for-ibm-products/CreateModal/yarn.lock
  examples/carbon-for-ibm-products/CreateSidePanel/yarn.lock
  examples/carbon-for-ibm-products/CreateTearsheet/yarn.lock
  examples/carbon-for-ibm-products/CreateTearsheetNarrow/yarn.lock
  examples/carbon-for-ibm-products/DataSpreadsheet/yarn.lock
  examples/carbon-for-ibm-products/Datagrid/yarn.lock
  examples/carbon-for-ibm-products/EditInPlace/yarn.lock
  examples/carbon-for-ibm-products/EmptyStates/yarn.lock
  examples/carbon-for-ibm-products/ExportModal/yarn.lock
  examples/carbon-for-ibm-products/ExpressiveCard/yarn.lock
  examples/carbon-for-ibm-products/HTTPErrors/yarn.lock
  examples/carbon-for-ibm-products/ImportModal/yarn.lock
  examples/carbon-for-ibm-products/NotificationsPanel/yarn.lock
  examples/carbon-for-ibm-products/OptionsTile/yarn.lock
  examples/carbon-for-ibm-products/PageHeader/yarn.lock
  examples/carbon-for-ibm-products/ProductiveCard/yarn.lock
  examples/carbon-for-ibm-products/RemoveModal/yarn.lock
  examples/carbon-for-ibm-products/Saving/yarn.lock
  examples/carbon-for-ibm-products/SidePanel/yarn.lock
  examples/carbon-for-ibm-products/StatusIcon/yarn.lock
  examples/carbon-for-ibm-products/TagSet/yarn.lock
  examples/carbon-for-ibm-products/Tearsheet/yarn.lock
  examples/carbon-for-ibm-products/UserProfileImage/yarn.lock
  examples/carbon-for-ibm-products/WebTerminal/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/yarn.lock
  examples/carbon-for-ibm-products/prefix-example/yarn.lock
  examples/carbon-for-ibm-products/react-16-example/yarn.lock
  examples/carbon-for-ibm-products/react-17-example/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-16/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-17/yarn.lock
  scripts/example-gallery-builder/update-example/templates/yarn.lock
  yarn.lock
Labels: dependencies

#3622 chore(ProductiveCard): fix alignment, add disabled props
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Card/Card.js
  packages/ibm-products/src/components/Card/Card.test.js
  packages/ibm-products/src/components/Card/CardFooter.js
  packages/ibm-products/src/components/Card/CardHeader.js
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.stories.js
  packages/ibm-products/src/components/ProductiveCard/_productive-card.scss
Labels: component: Card

#3582 feat(Datagrid): remove filter tags individually from `FilterSummary`
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
Labels: component: Datagrid, v2

#3630 feat(Datagrid): remove filter tags individually from `FilterSummary`
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.stories.js
  packages/ibm-products/src/components/TagSet/TagSet.js
  packages/ibm-products/src/components/TagSet/TagSet.stories.js
Labels: component: TagSet, component: Datagrid, v1

#3616 feat(Datagrid): replace `react-dnd` with `@dnd-kit`
  .yarn/cache/@react-dnd-asap-npm-4.0.1-046dd45f9c-757db3b5c4.zip
  .yarn/cache/@react-dnd-invariant-npm-3.0.1-e6425908a1-c1626899b8.zip
  .yarn/cache/@react-dnd-shallowequal-npm-3.0.1-9f2bd3722e-0a41d7283a.zip
  .yarn/cache/dnd-core-npm-15.1.2-65678a3726-c3b1759fbc.zip
  .yarn/cache/react-dnd-html5-backend-npm-15.1.3-bfb7679fb2-3256726479.zip
  .yarn/cache/react-dnd-npm-15.1.2-0351d81431-3e8c07ea4c.zip
  packages/ibm-products/package.json
  packages/ibm-products/src/components/Datagrid/Datagrid/DraggableElement.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/ibm-products/src/components/Datagrid/styles/_draggableElement.scss
  packages/ibm-products/src/components/Datagrid/styles/addons/_CustomizeColumnsTearsheet.scss
  packages/ibm-products/src/global/js/hooks/useWindowScroll.js
  yarn.lock
Labels: component: Datagrid, v1

#3632 chore(Datagrid): uncheck items when select all is indeterminate
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.js
Labels: component: Datagrid, v2

#3633 chore(Datagrid): uncheck items when select all is indeterminate
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.js
Labels: component: Datagrid, v1

#3671 fix(Datagrid): address issues with current approach to getting col titles for customize columns tearsheet (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
  packages/ibm-products/src/components/Datagrid/utils/getColTitle.js
  packages/ibm-products/src/global/js/utils/getNodeTextContent.js
  packages/ibm-products/src/global/js/utils/getNodeTextContent.test.js
Labels: component: Datagrid, v1

#3674 fix(Datagrid): do not always show edit icons for inline editing
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/InlineEditButton.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/ibm-products/src/components/Datagrid/useInlineEdit.js
Labels: component: Datagrid, v2

#3683 feat(Datagrid): add `renderLabel` support to v1 filtering
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: component: Datagrid, v1

#3675 fix(Datagrid): do not always show edit icons for inline editing
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/InlineEditButton.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/ibm-products/src/components/Datagrid/useInlineEdit.js
Labels: component: Datagrid, v1

#3689 fix(Datagrid): import filter summary styles from datagrid
  packages/ibm-products/src/components/Datagrid/_datagrid.scss
  packages/ibm-products/src/components/_index.scss
Labels: component: Datagrid, v2

#3702 chore(Datagrid): row settings design review fixes (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
  packages/ibm-products/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
Labels: component: Datagrid, v1

#3705 chore(PageHeader): update subtitle prop type
  packages/ibm-products/src/components/PageHeader/PageHeader.js
Labels: component: PageHeader

#3701 chore(Datagrid): row settings design review fixes
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
  packages/ibm-products/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
Labels: component: Datagrid, v2

#3690 fix(Datagrid): import filter summary styles from datagrid
  packages/ibm-products/src/components/Datagrid/_datagrid.scss
Labels: component: Datagrid, v1

#3646 feat(TagSet): allow for tag rendering in overflow
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/TagSet/TagSet.js
  packages/ibm-products/src/components/TagSet/TagSet.stories.js
  packages/ibm-products/src/components/TagSet/TagSet.test.js
  packages/ibm-products/src/components/TagSet/TagSetOverflow.js
  packages/ibm-products/src/components/TagSet/_tag-set.scss
Labels: type: enhancement ✨, component: TagSet, component: Datagrid

#3718 fix(Datagrid): top align cell content for extra large row height (v1)
  packages/ibm-products/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
Labels: component: Datagrid, v1

#3709 fix(Datagrid): top align cell content for extra large row height
  packages/ibm-products/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
Labels: component: Datagrid, v2

#3720 feat(TagSet): allow for tag rendering in overflow (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/TagSet/TagSet.js
  packages/ibm-products/src/components/TagSet/TagSet.stories.js
  packages/ibm-products/src/components/TagSet/TagSet.test.js
  packages/ibm-products/src/components/TagSet/TagSetOverflow.js
  packages/ibm-products/src/components/TagSet/_tag-set.scss
Labels: type: enhancement ✨, component: TagSet, component: Datagrid, v1

#3722 fix(Datagrid): semantically hide spacer col
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
Labels: component: Datagrid, v2
