Repository carbon-design-system/ibm-products, pull requests merged in 2023-05, with the labels that each got.

#2942 feat(Datagrid): adds FilterPanel stories
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
Labels: status: needs v2 PR

#2891 chore(Datagrid): add deprecation warning for `useInlineEdit` hook, will be renamed in v2 to `useEditableCell`
  packages/cloud-cognitive/src/components/Datagrid/index.js
  packages/cloud-cognitive/src/components/Datagrid/useEditableCell.js
  packages/cloud-cognitive/src/components/Datagrid/useInlineEdit.js
  packages/cloud-cognitive/src/components/index.js
Labels: component: Datagrid, v1

#2951 feat: removeModfiedTabsIn V2
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/components/ModifiedTabs/ModifiedTabLabelNew.js
  packages/ibm-products/src/components/ModifiedTabs/ModifiedTabLabelWithClose.js
  packages/ibm-products/src/components/ModifiedTabs/ModifiedTabs.js
  packages/ibm-products/src/components/ModifiedTabs/ModifiedTabs.stories.js
  packages/ibm-products/src/components/ModifiedTabs/_carbon-imports.scss
  packages/ibm-products/src/components/ModifiedTabs/_index-with-carbon.scss
  packages/ibm-products/src/components/ModifiedTabs/_index.scss
  packages/ibm-products/src/components/ModifiedTabs/_modified-tabs.scss
  packages/ibm-products/src/components/ModifiedTabs/_storybook-styles.scss
  packages/ibm-products/src/components/ModifiedTabs/index.js
  packages/ibm-products/src/components/_index-with-carbon.scss
  packages/ibm-products/src/components/_index.scss
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: ready to merge, kodiak: merge.method = 'merge'

#2907 fix(nonlinear): update styling
  packages/cloud-cognitive/src/components/NonLinearReading/NonLinearReading.js
  packages/cloud-cognitive/src/components/NonLinearReading/NonLinearReading.stories.js
  packages/cloud-cognitive/src/components/NonLinearReading/_non-linear-reading.scss
  packages/cloud-cognitive/src/components/NonLinearReading/_storybook-styles.scss
Labels: status: ready to merge, Novice to pro

#2943 fix: dataspreadsheet v11 migration fixes
  packages/ibm-products/src/components/DataSpreadsheet/_data-spreadsheet.scss
Labels: status: ready to merge, v2

#2950 fix: surface selectorPrimaryFocus prop in tearsheet storybook
  packages/ibm-products/src/components/Tearsheet/Tearsheet.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.js
Labels: status: ready to merge

#2944 fix: make deprecated component log only on use
  packages/cloud-cognitive/src/components/InlineEditV1/InlineEditV1.js
  packages/cloud-cognitive/src/settings.js
Labels: status: ready to merge, Prioritized

#2945 chore: add component deprecation mechanism to v2
  packages/ibm-products/src/components/ExampleComponent/ExampleDeprecatedComponent.js
  packages/ibm-products/src/components/ExampleComponent/ExampleDeprecatedComponent.test.js
  packages/ibm-products/src/settings.js
Labels: status: ready to merge, Prioritized, v2

#2769 fix: additional coverage testing for data spreadsheet
  packages/cloud-cognitive/src/components/DataSpreadsheet/DataSpreadsheet.test.js
Labels: status: ready to merge, status: needs v2 PR

#2955 feat: expose scss config file
  packages/ibm-products/src/config.scss
Labels: status: ready to merge

#2937 feat(Datagrid): add feature flags to select hooks until fully released
  packages/cloud-cognitive/README.md
  packages/cloud-cognitive/src/components/Datagrid/Datagrid.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/InlineEdit/InlineEdit.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/cloud-cognitive/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/cloud-cognitive/src/components/Datagrid/useActionsColumn.js
  packages/cloud-cognitive/src/components/Datagrid/useCustomizeColumns.js
  packages/cloud-cognitive/src/components/Datagrid/useExpandedRow.js
  packages/cloud-cognitive/src/components/Datagrid/useFiltering.js
  packages/cloud-cognitive/src/components/Datagrid/useInlineEdit.js
  packages/cloud-cognitive/src/components/Datagrid/useNestedRows.js
  packages/cloud-cognitive/src/global/js/package-settings.js
  packages/core/.storybook/index.scss
  packages/core/.storybook/preview.js
Labels: type: documentation, status: ready to merge, component: Datagrid, v1

#2908 fix: warnings in add and select tests
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/AddSelect/AddSelectBody.js
  packages/ibm-products/src/components/AddSelect/AddSelectColumn.js
  packages/ibm-products/src/components/AddSelect/AddSelectFilter.js
  packages/ibm-products/src/components/AddSelect/AddSelectRow.js
  packages/ibm-products/src/components/AddSelect/AddSelectSort.js
  packages/ibm-products/src/components/AddSelect/_add-select.scss
  packages/ibm-products/src/components/MultiAddSelect/MultiAddSelect.stories.js
Labels: status: ready to merge

#2877 feat(AboutModal): update to match new guidelines v11
  examples/carbon-for-ibm-products/AboutModal/src/Example/Example.js
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/AboutModal/AboutModal.js
  packages/ibm-products/src/components/AboutModal/AboutModal.stories.js
  packages/ibm-products/src/components/AboutModal/AboutModal.test.js
  packages/ibm-products/src/components/AboutModal/_about-modal.scss
  packages/ibm-products/src/components/AboutModal/_storybook-styles.scss
Labels: status: ready for release review, status: ready to merge, v2

#2969 fix(Datagrid): `shouldHideMenuItem` works with less than 3 row actions (v2)
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: status: ready to merge, component: Datagrid, v2, kodiak: merge.method = 'merge'

#2961 fix: various style fixes for add select for the v2 migrations
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/AddSelect/AddSelectBody.js
  packages/ibm-products/src/components/AddSelect/AddSelectColumn.js
  packages/ibm-products/src/components/AddSelect/AddSelectRow.js
  packages/ibm-products/src/components/AddSelect/_add-select.scss
Labels: status: ready to merge, kodiak: merge.method = 'merge'

#2964 fix: give empty state illustration position
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/EmptyStates/EmptyState.js
  packages/ibm-products/src/components/EmptyStates/EmptyState.test.js
  packages/ibm-products/src/components/EmptyStates/EmptyStateContent.js
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NoDataEmptyState/NoDataEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/NoTagsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/NotFoundEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/NotificationsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.js
  packages/ibm-products/src/components/EmptyStates/_empty-state.scss
Labels: kodiak: merge.method = 'merge'

#2954 fix: add missing lodash dependency
  packages/cloud-cognitive/package.json
  yarn.lock
Labels: status: ready to merge

#2953 fix: Carbon v11 lodash dependency
  packages/ibm-products/package.json
  yarn.lock
Labels: status: ready to merge, kodiak: merge.method = 'merge'

#2949 feat(datagrid): filter panel stories v2
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge, v2, kodiak: merge.method = 'merge'

#2977 fix: Carbon v11 about modal example
  examples/carbon-for-ibm-products/AboutModal/src/Example/Example.jsx
  examples/carbon-for-ibm-products/AboutModal/src/Example/_example.scss
Labels: status: ready to merge

#2982 fix: about modal node for footer
  examples/carbon-for-ibm-products/AboutModal/src/Example/Example.jsx
  examples/carbon-for-ibm-products/AboutModal/src/Example/_example.scss
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/Carbon-v11-template--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/ccs-base-react-16--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/ccs-base-react-17--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/AboutModal/AboutModal.js
  packages/ibm-products/src/components/AboutModal/AboutModal.stories.js
  packages/ibm-products/src/components/AboutModal/AboutModal.test.js
  packages/ibm-products/src/components/AboutModal/_about-modal.scss
  packages/ibm-products/src/components/AboutModal/_storybook-styles.scss
Labels: status: ready to merge, v2

#2981 fix: Carbon v11 example gallery
  cspell.json
  examples/carbon-for-ibm-products/example-gallery/.gitignore
  examples/carbon-for-ibm-products/example-gallery/README.md
  examples/carbon-for-ibm-products/example-gallery/gallery.config.json
  examples/carbon-for-ibm-products/example-gallery/index.html
  examples/carbon-for-ibm-products/example-gallery/package.json
  examples/carbon-for-ibm-products/example-gallery/public/favicon.ico
  examples/carbon-for-ibm-products/example-gallery/public/index.html
  examples/carbon-for-ibm-products/example-gallery/public/logo192.png
  examples/carbon-for-ibm-products/example-gallery/public/logo512.png
  examples/carbon-for-ibm-products/example-gallery/public/manifest.json
  examples/carbon-for-ibm-products/example-gallery/public/robots.txt
  examples/carbon-for-ibm-products/example-gallery/src/App.jsx
  examples/carbon-for-ibm-products/example-gallery/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/example-gallery/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/example-gallery/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/example-gallery/src/_App.scss
  examples/carbon-for-ibm-products/example-gallery/src/_storybook-styles.scss
  examples/carbon-for-ibm-products/example-gallery/src/components/Gallery.jsx
  examples/carbon-for-ibm-products/example-gallery/src/components/GalleryCard.jsx
  examples/carbon-for-ibm-products/example-gallery/src/components/_Gallery.scss
  examples/carbon-for-ibm-products/example-gallery/src/components/_GalleryCard.scss
  examples/carbon-for-ibm-products/example-gallery/src/favicon.svg
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/example-gallery/src/index.css
  examples/carbon-for-ibm-products/example-gallery/src/index.js
  examples/carbon-for-ibm-products/example-gallery/src/index.scss
  examples/carbon-for-ibm-products/example-gallery/src/main.jsx
  examples/carbon-for-ibm-products/example-gallery/src/reportWebVitals.js
  examples/carbon-for-ibm-products/example-gallery/src/setupTests.js
  examples/carbon-for-ibm-products/example-gallery/vite.config.js
  examples/carbon-for-ibm-products/example-gallery/yarn.lock
  examples/carbon-for-ibm-products/gallery-examples.test.js
  scripts/example-gallery-builder/gallery-config.js
  scripts/example-gallery-builder/index.js
Labels: status: ready to merge

#2990 chore: update migration doc
  cspell.json
  docs/guides/v2.md
Labels: status: ready to merge, v2

#2995 docs(storybook): add welcome page
  packages/core/src/welcome/Welcome.js
  packages/core/src/welcome/Welcome.stories.js
  packages/core/src/welcome/_storybook-styles.scss
  packages/core/src/welcome/welcome-banner-v2.svg
  packages/core/story-structure.js
Labels: type: documentation, status: ready to merge, v2

#3004 fix: repository links following rename
  .all-contributorsrc
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/component-or-pattern.md
  .vscode/carbon-snippets.code-snippets
  README.md
  config/babel-preset-ibm-cloud-cognitive/CHANGELOG.md
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/cli/CHANGELOG.md
  config/cli/package.json
  config/cli/src/commands/sync/packageJson.js
  config/cli/src/commands/sync/remark/monorepo.js
  config/jest-config-ibm-cloud-cognitive/CHANGELOG.md
  config/jest-config-ibm-cloud-cognitive/package.json
  config/storybook-addon-carbon-theme/CHANGELOG.md
  config/storybook-addon-carbon-theme/README.md
  config/storybook-addon-carbon-theme/package.json
  config/stylelint-config-ibm-products/CHANGELOG.md
  config/stylelint-config-ibm-products/package.json
  docs/CODE_GUIDELINES.md
  docs/MAINTAINER_GUIDELINES.md
  docs/PUBLISHING_RELEASES.md
  docs/guides/VARIANT_COMPONENT_GUIDELINES.md
  docs/reviews/PR_REVIEW_GUIDELINES.md
  docs/reviews/RELEASE_REVIEW_GUIDELINES.md
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  package.json
  packages/cdai/CHANGELOG.md
  packages/cdai/README.md
  packages/cdai/package.json
  packages/component-usage-report/CHANGELOG.md
  packages/component-usage-report/src/scan.js
  packages/core/.storybook/preview.js
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ibm-products/CHANGELOG.md
  packages/ibm-products/README.md
  packages/ibm-products/package.json
  packages/ibm-products/src/components/HTTPErrors/HTTPError403/HTTPError403.stories.js
  packages/ibm-products/src/components/HTTPErrors/HTTPError404/HTTPError404.stories.js
  packages/ibm-products/src/components/HTTPErrors/HTTPErrorOther/HTTPErrorOther.stories.js
  packages/ibm-products/src/components/HTTPErrors/HTTPErrors.test.js
  packages/ibm-products/src/components/WebTerminal/WebTerminal.test.js
  packages/ibm-products/src/global/js/utils/story-helper.js
  packages/security/CHANGELOG.md
  packages/security/README.md
  packages/security/package.json
  packages/security/src/components/GettingStartedLayout/docs/Troubleshooting/index.mdx
  scripts/example-gallery-builder/gallery-config.js
  scripts/example-gallery-builder/index.js
  yarn.lock
Labels: v2

#3005 fix: repository links following rename v1
  .all-contributorsrc
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/component-or-pattern.md
  .vscode/carbon-snippets.code-snippets
  README.md
  config/babel-preset-ibm-cloud-cognitive/CHANGELOG.md
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/cli/CHANGELOG.md
  config/cli/package.json
  config/cli/src/commands/sync/packageJson.js
  config/cli/src/commands/sync/remark/monorepo.js
  config/jest-config-ibm-cloud-cognitive/CHANGELOG.md
  config/jest-config-ibm-cloud-cognitive/package.json
  config/storybook-addon-carbon-theme/CHANGELOG.md
  config/storybook-addon-carbon-theme/README.md
  config/storybook-addon-carbon-theme/package.json
  config/stylelint-config-ibm-products/CHANGELOG.md
  config/stylelint-config-ibm-products/package.json
  docs/CODE_GUIDELINES.md
  docs/MAINTAINER_GUIDELINES.md
  docs/PUBLISHING_RELEASES.md
  docs/guides/CARBON_V10_AND_V11_SUPPORT.md
  docs/guides/VARIANT_COMPONENT_GUIDELINES.md
  docs/reviews/PR_REVIEW_GUIDELINES.md
  docs/reviews/RELEASE_REVIEW_GUIDELINES.md
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  package.json
  packages/cdai/CHANGELOG.md
  packages/cdai/README.md
  packages/cdai/package.json
  packages/cloud-cognitive/CHANGELOG.md
  packages/cloud-cognitive/README.md
  packages/cloud-cognitive/package.json
  packages/cloud-cognitive/src/components/HTTPErrors/HTTPError403/HTTPError403.stories.js
  packages/cloud-cognitive/src/components/HTTPErrors/HTTPError404/HTTPError404.stories.js
  packages/cloud-cognitive/src/components/HTTPErrors/HTTPErrorOther/HTTPErrorOther.stories.js
  packages/cloud-cognitive/src/components/HTTPErrors/HTTPErrors.test.js
  packages/cloud-cognitive/src/components/WebTerminal/WebTerminal.test.js
  packages/cloud-cognitive/src/global/js/utils/story-helper.js
  packages/component-usage-report/CHANGELOG.md
  packages/component-usage-report/src/scan.js
  packages/core/.storybook/preview.js
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/security/CHANGELOG.md
  packages/security/README.md
  packages/security/package.json
  packages/security/src/components/GettingStartedLayout/docs/Troubleshooting/index.mdx
  scripts/example-gallery-builder/gallery-config.js
  scripts/example-gallery-builder/index.js
  yarn.lock
Labels: v1

#3012 docs: update Storybook links
  README.md
  packages/core/.storybook/manager-head.html
  packages/ibm-products/README.md
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
  packages/security/carbon.yml
  packages/security/src/components/Card/Card-story.js
  packages/security/src/components/DataDecorator/DataDecorator-story.js
  packages/security/src/components/ErrorPage/ErrorPage-story.js
  packages/security/src/components/Panel/Panel-story.js
  packages/security/src/components/PanelV2/PanelV2-story.js
  packages/security/src/components/Pill/Pill-story.js
  packages/security/src/components/ProfileImage/ProfileImage-story.js
  packages/security/src/components/SummaryCard/SummaryCard-story.js
  packages/security/src/components/TrendingCard/TrendingCard-story.js
  packages/security/src/components/Wizard/Wizard-story.js
Labels: type: documentation, v2

#3014 docs: update Storybook links v1
  README.md
  examples/carbon-for-ibm-products/ccs-base-react-16/src/Example/Example.js
  examples/carbon-for-ibm-products/ccs-base-react-17/src/Example/Example.js
  packages/core/.storybook/manager-head.html
  packages/ibm-products/README.md
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
  packages/security/carbon.yml
  packages/security/src/components/Card/Card-story.js
  packages/security/src/components/DataDecorator/DataDecorator-story.js
  packages/security/src/components/ErrorPage/ErrorPage-story.js
  packages/security/src/components/Panel/Panel-story.js
  packages/security/src/components/PanelV2/PanelV2-story.js
  packages/security/src/components/Pill/Pill-story.js
  packages/security/src/components/ProfileImage/ProfileImage-story.js
  packages/security/src/components/SummaryCard/SummaryCard-story.js
  packages/security/src/components/TrendingCard/TrendingCard-story.js
  packages/security/src/components/Wizard/Wizard-story.js
Labels: type: documentation, v1

#3015 chore: Welcome page text color minor update
  packages/core/src/welcome/_storybook-styles.scss
Labels: status: ready to merge

#3017 fix: use create tearsheet label in examples
  examples/carbon-for-ibm-products/CreateTearsheet/gallery.config.json
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
Labels: status: ready to merge

#2992 chore: add `Datagrid` feature flags, v2
  docs/guides/v2.md
  packages/core/.storybook/preview.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
  packages/ibm-products/src/components/Datagrid/useCustomizeColumns.js
  packages/ibm-products/src/components/Datagrid/useExpandedRow.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
  packages/ibm-products/src/components/Datagrid/useInlineEdit.js
  packages/ibm-products/src/components/Datagrid/useNestedRows.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: component: Datagrid, v2

#3027 chore(examples): update example package.json
  examples/carbon-for-ibm-products/APIKeyModal/package.json
  examples/carbon-for-ibm-products/AboutModal/package.json
  examples/carbon-for-ibm-products/Cascade/package.json
  examples/carbon-for-ibm-products/CreateFullPage/package.json
  examples/carbon-for-ibm-products/CreateModal/package.json
  examples/carbon-for-ibm-products/CreateSidePanel/package.json
  examples/carbon-for-ibm-products/CreateTearsheet/package.json
  examples/carbon-for-ibm-products/CreateTearsheetNarrow/package.json
  examples/carbon-for-ibm-products/DataSpreadsheet/package.json
  examples/carbon-for-ibm-products/Datagrid/package.json
  examples/carbon-for-ibm-products/EditInPlace/package.json
  examples/carbon-for-ibm-products/EmptyStates/package.json
  examples/carbon-for-ibm-products/ExportModal/package.json
  examples/carbon-for-ibm-products/ExpressiveCard/package.json
  examples/carbon-for-ibm-products/HTTPErrors/package.json
  examples/carbon-for-ibm-products/ImportModal/package.json
  examples/carbon-for-ibm-products/NotificationsPanel/package.json
  examples/carbon-for-ibm-products/OptionsTile/package.json
  examples/carbon-for-ibm-products/OptionsTile/src/Example/Example.jsx
  examples/carbon-for-ibm-products/PageHeader/package.json
  examples/carbon-for-ibm-products/ProductiveCard/package.json
  examples/carbon-for-ibm-products/RemoveModal/package.json
  examples/carbon-for-ibm-products/Saving/package.json
  examples/carbon-for-ibm-products/SidePanel/package.json
  examples/carbon-for-ibm-products/StatusIcon/package.json
  examples/carbon-for-ibm-products/TagSet/package.json
  examples/carbon-for-ibm-products/Tearsheet/package.json
  examples/carbon-for-ibm-products/UserProfileImage/package.json
  examples/carbon-for-ibm-products/WebTerminal/package.json
  examples/carbon-for-ibm-products/example-gallery/package.json
  examples/carbon-for-ibm-products/prefix-example/package.json
Labels: v2

#3035 fix: errors raised by the storybook addon
  config/storybook-addon-carbon-theme/react.js
  config/storybook-addon-carbon-theme/register.js
  config/storybook-addon-carbon-theme/vue.js
Labels: status: ready to merge

#3031 docs: add lee-chase as a contributor for review, infra, and examples
  .all-contributorsrc
  README.md
Labels: status: ready to merge, v1

#3041 fix(NotificationPanel): improve responsiveness
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/NotificationsPanel/_notifications-panel.scss
Labels: status: ready to merge

#3044 fix(UserProfileImage): tooltip position
  packages/ibm-products/src/components/UserProfileImage/UserProfileImage.js
  packages/ibm-products/src/components/UserProfileImage/UserProfileImage.stories.js
Labels: status: ready to merge

#3036 fix: resize observer loops v1
  packages/ibm-products/src/components/AboutModal/AboutModal.js
  packages/ibm-products/src/components/ActionBar/ActionBar.js
  packages/ibm-products/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.js
  packages/ibm-products/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/ibm-products/src/components/PageHeader/PageHeader.js
  packages/ibm-products/src/components/SidePanel/SidePanel.js
  packages/ibm-products/src/components/TagSet/TagSet.js
  packages/ibm-products/src/global/js/hooks/useResizeObserver.js
Labels: v1

#3033 docs(storybook): add welcome page
  packages/core/src/welcome/Welcome.js
  packages/core/src/welcome/Welcome.stories.js
  packages/core/src/welcome/_storybook-styles.scss
  packages/core/src/welcome/welcome-banner-v1.svg
  packages/core/story-structure.js
Labels: v1
