Repository carbon-design-system/ibm-products, pull requests merged in 2023-12, with the labels that each got.

#3883 build: upgrade storybook
  .yarn/cache/character-entities-legacy-npm-1.1.4-e3e7c8ee55-fe03a82c15.zip
  .yarn/cache/character-entities-npm-1.2.4-a5c359383c-e154571657.zip
  .yarn/cache/character-reference-invalid-npm-1.1.4-e5e17a1a38-20274574c7.zip
  .yarn/cache/comma-separated-tokens-npm-1.0.8-00dbbf3418-0adcb07174.zip
  .yarn/cache/fault-npm-1.0.4-2788bc13e3-5ac610d8b0.zip
  .yarn/cache/format-npm-0.2.2-679f3acc64-646a60e133.zip
  .yarn/cache/hast-util-parse-selector-npm-2.2.5-cd773533ea-22ee4afbd1.zip
  .yarn/cache/hastscript-npm-6.0.0-380b27a9f0-5e50b85af0.zip
  .yarn/cache/highlight.js-npm-10.7.3-247e67d5c0-defeafcd54.zip
  .yarn/cache/is-alphabetical-npm-1.0.4-94e2e7f984-6508cce44f.zip
  .yarn/cache/is-alphanumerical-npm-1.0.4-c96dc6d674-e2e491acc1.zip
  .yarn/cache/is-decimal-npm-1.0.4-e67dbd40dd-ed483a3875.zip
  .yarn/cache/is-hexadecimal-npm-1.0.4-b4091da09e-a452e04758.zip
  .yarn/cache/lowlight-npm-1.20.0-771a13490e-14a1815d6b.zip
  .yarn/cache/parse-entities-npm-2.0.0-b7b4f46ff6-7addfd3e7d.zip
  .yarn/cache/prismjs-npm-1.27.0-ca4e1667c6-85c7f4a3e9.zip
  .yarn/cache/property-information-npm-5.6.0-1322d29e0f-fcf87c6542.zip
  .yarn/cache/refractor-npm-3.6.0-63276910f9-39b01c4168.zip
  packages/core/.storybook/main.js
  packages/core/package.json
  yarn.lock
Labels: type: stories 📚, type: infrastructure 🤖

#3870 chore(Datagrid): row height settings review, add test coverage (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/styles/addons/_RowSizeDropdown.scss
Labels: component: Datagrid, v1

#3864 fix(Datagrid): expandable/nested review fixes, custom hook for keeping expander focus (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/styles/_useExpandedRow.scss
  packages/ibm-products/src/components/Datagrid/useExpandedRow.js
  packages/ibm-products/src/components/Datagrid/useFocusRowExpander.js
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
  packages/ibm-products/src/components/Datagrid/useNestedRows.js
  packages/ibm-products/src/components/Datagrid/useRowExpander.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: component: Datagrid, v1

#3885 fix(Datagrid): always force row expander to be first column
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: component: Datagrid, v2

#3879 test(Datagrid): add test coverage for new hook
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useFocusRowExpander.js
Labels: component: Datagrid, v2

#3884 test(Datagrid): add test coverage for new hook (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useFocusRowExpander.js
Labels: component: Datagrid, v1

#3889 feat: new NonLinearReading component
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/NonLinearReading/_carbon-imports.scss
  packages/ibm-products-styles/src/components/NonLinearReading/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/NonLinearReading/_index.scss
  packages/ibm-products-styles/src/components/NonLinearReading/_non-linear-reading.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.docs-page.js
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.js
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.stories.js
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.test.js
  packages/ibm-products/src/components/NonLinearReading/_storybook-styles.scss
  packages/ibm-products/src/components/NonLinearReading/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: v2, Novice to pro

#3897 chore(Datagrid): add example usage with `renderLabel` property
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Filtering.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/utils/handleFilterTagLabelText.js
Labels: component: Datagrid, v2, component: filter

#3898 chore(Datagrid): add example usage with `renderLabel` property (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/utils/handleFilterTagLabelText.js
Labels: component: Datagrid, v1, component: filter

#3905 feat: port Guidebanner component w Carousel to v2
  cspell.json
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/Carousel/_carbon-imports.scss
  packages/ibm-products-styles/src/components/Carousel/_carousel.scss
  packages/ibm-products-styles/src/components/Carousel/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/Carousel/_index.scss
  packages/ibm-products-styles/src/components/Guidebanner/_carbon-imports.scss
  packages/ibm-products-styles/src/components/Guidebanner/_guidebanner.scss
  packages/ibm-products-styles/src/components/Guidebanner/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/Guidebanner/_index.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/Carousel/Carousel.docs-page.js
  packages/ibm-products/src/components/Carousel/Carousel.js
  packages/ibm-products/src/components/Carousel/Carousel.stories.js
  packages/ibm-products/src/components/Carousel/Carousel.test.js
  packages/ibm-products/src/components/Carousel/CarouselItem.js
  packages/ibm-products/src/components/Carousel/_storybook-styles.scss
  packages/ibm-products/src/components/Carousel/index.js
  packages/ibm-products/src/components/Carousel/utils.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.docs-page.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.stories.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.test.js
  packages/ibm-products/src/components/Guidebanner/GuidebannerElement.js
  packages/ibm-products/src/components/Guidebanner/GuidebannerElementButton.js
  packages/ibm-products/src/components/Guidebanner/GuidebannerElementLink.js
  packages/ibm-products/src/components/Guidebanner/_storybook-styles.scss
  packages/ibm-products/src/components/Guidebanner/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: v2, Novice to pro

#3907 feat(FilterSummary): enable filter summary clear button to be placed inline (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/FilterSummary/_filter-summary.scss
  packages/ibm-products/src/components/TagSet/TagSet.js
Labels: type: enhancement ✨, component: TagSet, component: Datagrid, v1, component: filter, component: FilterSummary

#3906 feat(FilterSummary): enable filter summary clear button to be placed inline
  packages/ibm-products-styles/src/components/FilterSummary/_filter-summary.scss
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/TagSet/TagSet.js
Labels: type: enhancement ✨, component: TagSet, component: Datagrid, v2, component: filter, component: FilterSummary

#3908 chore: reorganize datagrid stories
  packages/core/story-structure.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/ColumnAlignment/ColumnAlignment.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/ColumnAlignment/ColumnAlignment.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/Header/Header.stories.js
Labels: component: Datagrid, v2, status: needs v1 PR

#3952 chore: publish packages with provenance
  .github/workflows/release-v1.yml
  .github/workflows/release.yml
  config/storybook-addon-carbon-theme/package.json
  packages/ibm-products-styles/package.json
  packages/ibm-products/package.json
Labels: github actions, type: infrastructure 🤖

#3946 chore: fix small issue with new datagrid story structure
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/ColumnAlignment/ColumnAlignment.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/Header/Header.stories.js
Labels: component: Datagrid, type: stories 📚

#3963 chore: reorganize datagrid stories v1
  packages/core/story-structure.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/ColumnAlignment/ColumnAlignment.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/Header/Header.stories.js
Labels: component: Datagrid, v1, type: stories 📚

#3960 feat(Datagrid): clear out filter history on reset
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: component: Datagrid, v2, component: filter

#3961 feat(Datagrid): clear out filter history on reset (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: component: Datagrid, v1, component: filter

#3965 fix(Guidebanner): allow adding 1rem space on the left
  packages/ibm-products-styles/src/components/Guidebanner/_guidebanner.scss
  packages/ibm-products/src/components/Guidebanner/Guidebanner.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.stories.js
Labels: v2, Novice to pro

#3958 fix(Datagrid): re-apply filters during fetching state (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: component: Datagrid, v1, component: filter

#3962 fix(Datagrid): address duplicate id with radio filters
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Filtering.docs-page.js
Labels: component: Datagrid, v2, component: filter

#3964 fix(Datagrid): address duplicate id with radio filters (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: component: Datagrid, v1, component: filter

#3967 feat(Datagrid): support timestamp date formats in filtering
  packages/ibm-products/src/components/Datagrid/useFiltering.js
Labels: component: Datagrid, v2, component: filter

#3968 feat(Datagrid): support timestamp date formats in filtering (v1)
  packages/ibm-products/src/components/Datagrid/useFiltering.js
Labels: component: Datagrid, v1, component: filter

#3955 fix(Datagrid): re-apply filters during fetching state
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: component: Datagrid, v2, component: filter

#3977 fix(Guidebanner): allow adding 1rem space on the left, v1
  cspell.json
  packages/ibm-products/src/components/Guidebanner/Guidebanner.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.stories.js
  packages/ibm-products/src/components/Guidebanner/_guidebanner.scss
Labels: Novice to pro, v1

#3969 fix(InlineTip): allow adding 1rem space on the left, v2
  packages/ibm-products-styles/src/components/InlineTip/_inline-tip.scss
  packages/ibm-products/src/components/InlineTip/InlineTip.js
  packages/ibm-products/src/components/InlineTip/InlineTip.stories.js
Labels: v2, Novice to pro

#3978 fix(InlineTip): allow adding 1rem space on the left, v1
  packages/ibm-products/src/components/InlineTip/InlineTip.js
  packages/ibm-products/src/components/InlineTip/InlineTip.stories.js
  packages/ibm-products/src/components/InlineTip/_inline-tip.scss
Labels: Novice to pro, v1

#3236 feat(InterstitialScreen): Novice to Pro component
  .prettierignore
  cspell.json
  packages/core/story-structure.js
  packages/ibm-products/src/components/Carousel/Carousel.js
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.js
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.mdx
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.stories.js
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.test.js
  packages/ibm-products/src/components/InterstitialScreen/_index.scss
  packages/ibm-products/src/components/InterstitialScreen/_interstitial-screen.scss
  packages/ibm-products/src/components/InterstitialScreen/_storybook-styles.scss
  packages/ibm-products/src/components/InterstitialScreen/assets/illustrations/how-a-case-is-created-1.json
  packages/ibm-products/src/components/InterstitialScreen/assets/illustrations/how-a-case-is-created-2.json
  packages/ibm-products/src/components/InterstitialScreen/assets/illustrations/how-a-case-is-created-3.json
  packages/ibm-products/src/components/InterstitialScreen/assets/illustrations/interstitial-g10-ph.png
  packages/ibm-products/src/components/InterstitialScreen/assets/illustrations/interstitial-g100-ph.png
  packages/ibm-products/src/components/InterstitialScreen/assets/illustrations/interstitial-ph.png
  packages/ibm-products/src/components/InterstitialScreen/assets/illustrations/test.json
  packages/ibm-products/src/components/InterstitialScreen/assets/index.js
  packages/ibm-products/src/components/InterstitialScreen/index.js
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.js
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.mdx
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.stories.js
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.test.js
  packages/ibm-products/src/components/InterstitialScreenView/_index.scss
  packages/ibm-products/src/components/InterstitialScreenView/_interstitial-screen-view.scss
  packages/ibm-products/src/components/InterstitialScreenView/_storybook-styles.scss
  packages/ibm-products/src/components/InterstitialScreenView/index.js
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.js
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.mdx
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.stories.js
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.test.js
  packages/ibm-products/src/components/InterstitialScreenViewModule/_index.scss
  packages/ibm-products/src/components/InterstitialScreenViewModule/_interstitial-screen-view-module.scss
  packages/ibm-products/src/components/InterstitialScreenViewModule/_storybook-styles.scss
  packages/ibm-products/src/components/InterstitialScreenViewModule/index.js
  packages/ibm-products/src/components/_index.scss
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: Novice to pro, v1
