Repository carbon-design-system/ibm-products, pull requests merged in 2023-06, with the labels that each got.

#3064 fix(non-linear): update stories and mdx
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.mdx
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.stories.js
Labels: Novice to pro

#3034 fix: resize observer loops
  packages/ibm-products/src/components/AboutModal/AboutModal.js
  packages/ibm-products/src/components/ActionBar/ActionBar.js
  packages/ibm-products/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.js
  packages/ibm-products/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/ibm-products/src/components/PageHeader/PageHeader.js
  packages/ibm-products/src/components/SidePanel/SidePanel.js
  packages/ibm-products/src/components/TagSet/TagSet.js
  packages/ibm-products/src/global/js/hooks/useResizeObserver.js
Labels: v2

#3069 fix(DataGrid): header misalignment when modal open - v1
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge, v1

#3066 fix(Datagrid): address `ButtonMenu` style issues in batch action toolbar
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.test.js
  packages/ibm-products/src/components/ButtonMenu/_button-menu.scss
  packages/ibm-products/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.test.js
  packages/ibm-products/src/components/Datagrid/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge, component: Datagrid, v2

#3056 fix(DataGrid): header misalignment when modal open
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge, v2

#3054 fix: Add select aria updates
  cspell.json
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/AddSelect/AddSelectFormControl.js
  packages/ibm-products/src/components/AddSelect/AddSelectRow.js
  packages/ibm-products/src/components/AddSelect/_add-select.scss
Labels: status: ready to merge, component: AddSelect

#3058 fix(Datagrid): datagrid `useStickyColumn` ssr fix (v1)
  packages/ibm-products/src/components/Datagrid/useStickyColumn.js
Labels: status: ready to merge, component: Datagrid, v1

#3059 fix(Datagrid): datagrid `useStickyColumn` ssr fix (v2)
  packages/ibm-products/src/components/Datagrid/useStickyColumn.js
Labels: component: Datagrid, v2

#3104 fix(Datagrid): prevent undefined value for isTableSortable prop
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/TearsheetWrapper.js
Labels: status: ready to merge

#3108 fix: reset import modal state on close
  packages/ibm-products/src/components/ImportModal/ImportModal.js
Labels: status: ready to merge

#3109 chore(Datagrid): address rerender issues with filter flyout button
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/styles/addons/_FilterFlyout.scss
  packages/ibm-products/src/components/Datagrid/styles/addons/_FilterPanel.scss
  packages/ibm-products/src/components/Datagrid/utils/DatagridActions.js
Labels: component: Datagrid, v2

#3103 fix(Notification): incorrect icon color light theme
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.stories.js
  packages/ibm-products/src/components/NotificationsPanel/_storybook-styles.scss
  packages/ibm-products/src/components/NotificationsPanel/preview-components/UnreadNotificationBell.js
Labels: status: ready to merge

#3053 feat: add new Guidebanner and Carousel components
  cspell.json
  packages/core/story-structure.js
  packages/ibm-products/src/components/Carousel/Carousel.js
  packages/ibm-products/src/components/Carousel/Carousel.mdx
  packages/ibm-products/src/components/Carousel/Carousel.stories.js
  packages/ibm-products/src/components/Carousel/Carousel.test.js
  packages/ibm-products/src/components/Carousel/CarouselItem.js
  packages/ibm-products/src/components/Carousel/_carousel.scss
  packages/ibm-products/src/components/Carousel/_index.scss
  packages/ibm-products/src/components/Carousel/_storybook-styles.scss
  packages/ibm-products/src/components/Carousel/index.js
  packages/ibm-products/src/components/Carousel/utils.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.mdx
  packages/ibm-products/src/components/Guidebanner/Guidebanner.stories.js
  packages/ibm-products/src/components/Guidebanner/Guidebanner.test.js
  packages/ibm-products/src/components/Guidebanner/GuidebannerElement.js
  packages/ibm-products/src/components/Guidebanner/GuidebannerElementButton.js
  packages/ibm-products/src/components/Guidebanner/GuidebannerElementLink.js
  packages/ibm-products/src/components/Guidebanner/_guidebanner.scss
  packages/ibm-products/src/components/Guidebanner/_index.scss
  packages/ibm-products/src/components/Guidebanner/_storybook-styles.scss
  packages/ibm-products/src/components/Guidebanner/index.js
  packages/ibm-products/src/components/_index.scss
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: Novice to pro

#3105 chore(Datagrid): add table toolbar/DatagridActions docs
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/storybook-assets/datagrid-actions-example.png
Labels: status: ready to merge, component: Datagrid, v2

#3068 feat(datagrid): exports FilterContext (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/index.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilterContext.js
  packages/ibm-products/src/components/Datagrid/index.js
  packages/ibm-products/src/components/Datagrid/utils/DatagridActions.js
  packages/ibm-products/src/components/index.js
Labels: v1

#3123 fix(Datagrid): use `selectedRowIds` to set selected rows
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
Labels: component: Datagrid, v2

#3125 fix(Datagrid): use `selectedRowIds` to set selected rows (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
Labels: component: Datagrid, v1

#3136 fix(Datagrid): address `saveCellData` loop, crashes Datagrid editable cell stories
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
Labels: component: Datagrid, v2

#3137 fix: update to Carbon 11 compatible versions to latest
  config/cli/package.json
  config/stylelint-config-ibm-products/package.json
  package.json
  packages/core/package.json
  packages/ibm-products/package.json
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Toolbar/Toolbar.test.js
  yarn.lock
Labels: status: ready to merge

#3067 feat(datagrid): exports FilterContext
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/index.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilterContext.js
  packages/ibm-products/src/components/Datagrid/index.js
  packages/ibm-products/src/components/Datagrid/utils/DatagridActions.js
  packages/ibm-products/src/components/index.js
Labels: v2

#3055 feat(SteppedAnimatedMedia): Novice to Pro internal component
  .gitignore
  config/jest-config-ibm-cloud-cognitive/index.js
  package.json
  packages/core/story-structure.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.mdx
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.stories.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.test.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/_index.scss
  packages/ibm-products/src/components/SteppedAnimatedMedia/_stepped-animated-media.scss
  packages/ibm-products/src/components/SteppedAnimatedMedia/_storybook-styles.scss
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/how-a-case-is-created-1.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/how-a-case-is-created-2.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/how-a-case-is-created-3.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/test.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/index.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/index.js
  packages/ibm-products/src/components/_index.scss
  yarn.lock
Labels: Novice to pro

#3148 fix: update to Carbon 10 compatible versions to latest
  .yarn/cache/debuglog-npm-1.0.1-c553c84ea5-970679f2eb.zip
  .yarn/cache/dezalgo-npm-1.0.4-ae3b673c98-895389c6ae.zip
  .yarn/cache/npm-install-checks-npm-5.0.0-ca22f8c8a0-0e7d1aae52.zip
  .yarn/cache/readdir-scoped-modules-npm-1.1.0-651d6882ac-6d9f334e40.zip
  config/cli/package.json
  config/stylelint-config-ibm-products/package.json
  package.json
  packages/cdai/package.json
  packages/core/package.json
  packages/ibm-products/package.json
  packages/security/package.json
  packages/security/src/__tests__/scss/__snapshots__/styles-test.js.snap
  packages/security/src/components/Loading/LoadingMessage/__tests__/LoadingMessage-test.js
  yarn.lock
Labels: status: ready to merge, v1

#3156 chore: `packages/core` version bump
  packages/core/package.json
Labels: v2

#3155 chore: `packages/core` version bump
  packages/core/package.json
Labels: v1

#3171 feat(FilterSummary): adds custom label render (v1)
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.stories.js
Labels: status: ready to merge
