Repository carbon-design-system/ibm-products, pull requests merged in 2023-08, with the labels that each got.

#3343 chore: remove `--frozen-lockfile`
  lerna.json
Labels: v1

#3339 fix(CreateTearsheet): use new onChange callback signature in v11
  packages/ibm-products/src/components/CreateTearsheet/preview-components/MultiStepTearsheet.js
Labels: type: bug, component: CreateTearsheet, v2

#3349 feat(CreateTearsheet): allow node to be passed to description prop
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheetStep.js
  packages/ibm-products/src/components/CreateTearsheet/preview-components/MultiStepTearsheet.js
Labels: status: ready to merge, component: CreateTearsheet, v2

#3344 fix(Datagrid): add support for other extensions with customizable columns (v2)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/TearsheetWrapper.js
  packages/ibm-products/src/components/Datagrid/styles/_useColumnCenterAlign.scss
  packages/ibm-products/src/components/Datagrid/useDefaultStringRenderer.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: status: ready to merge, component: Datagrid, v2

#3350 feat(CreateTearsheet): add optional `onPrevious` handler to step
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.test.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheetStep.js
  packages/ibm-products/src/components/CreateTearsheet/preview-components/MultiStepTearsheet.js
  packages/ibm-products/src/global/js/hooks/useCreateComponentStepChange.js
  packages/ibm-products/src/global/js/hooks/useRetrieveStepData.js
  packages/ibm-products/src/global/js/utils/StoryDocsPage.js
Labels: status: ready to merge

#3102 fix(NotificationPanel): option to remove dnd
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.js
Labels: status: ready to merge

#3351 feat(ActionSet): Include containerWidth prop inside the story
  packages/ibm-products/src/components/ActionSet/ActionSet.stories.js
Labels: status: ready to merge, v2

#3377 fix: v1 dist tag on release
  .github/scripts/release-disttag-update.sh
  .github/workflows/release-v1.yml
  .github/workflows/test.yml
  cspell.json
Labels: status: ready to merge

#3362 fix: datagrid accessibility updates
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/ibm-products/src/components/Datagrid/utils/getColTitle.js
Labels: status: ready to merge, v2, status: needs v1 PR

#3331 feat(NotificationsPanel): include target attribute inside the link - v1
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.js
Labels: status: ready to merge, v1

#3388 feat(NotificationsPanel): include other attributes inside the link - v2
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.js
Labels: status: ready to merge, v2

#3284 fix: replaces and deprecates ButtonMenu and ComboButton
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.stories.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.test.js
  packages/ibm-products/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.js
  packages/ibm-products/src/components/ButtonSetWithOverflow/ButtonSetWithOverflow.test.js
  packages/ibm-products/src/components/ComboButton/ComboButton.js
  packages/ibm-products/src/components/ComboButton/ComboButton.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/utils/DatagridActions.js
Labels: status: ready to merge, v2

#3395 feat(Datagrid): add keyboard support for col resizing
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useDatagrid.js
Labels: component: Datagrid, v1

#3394 feat(Datagrid): add keyboard support for col resizing
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useDatagrid.js
Labels: component: Datagrid, v2

#3400 fix: storybook use of package dev prefix
  packages/core/.storybook/_prefix-index.scss
  packages/core/.storybook/index.scss
  packages/core/.storybook/main.js
  packages/core/.storybook/preview.js
  packages/ibm-products/package.json
  packages/ibm-products/src/components/APIKeyModal/_storybook-styles.scss
  packages/ibm-products/src/components/AboutModal/_storybook-styles.scss
  packages/ibm-products/src/components/ActionSet/_storybook-styles.scss
  packages/ibm-products/src/components/CreateFullPage/_storybook-styles.scss
  packages/ibm-products/src/components/CreateModal/_storybook-styles.scss
  packages/ibm-products/src/components/CreateSidePanel/_storybook-styles.scss
  packages/ibm-products/src/components/CreateTearsheet/_storybook-styles.scss
  packages/ibm-products/src/components/CreateTearsheetNarrow/_storybook-styles.scss
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
  packages/ibm-products/src/components/EditSidePanel/_storybook-styles.scss
  packages/ibm-products/src/components/EditTearsheet/_storybook-styles.scss
  packages/ibm-products/src/components/EditTearsheetNarrow/_storybook-styles.scss
  packages/ibm-products/src/components/EditUpdateCards/_storybook-styles.scss
  packages/ibm-products/src/components/ExpressiveCard/_storybook-styles.scss
  packages/ibm-products/src/components/NotificationsPanel/_storybook-styles.scss
  packages/ibm-products/src/components/OptionsTile/_storybook-styles.scss
  packages/ibm-products/src/components/Tearsheet/_storybook-styles.scss
  packages/ibm-products/src/components/WebTerminal/_storybook-styles.scss
  packages/ibm-products/src/config-dev.scss
Labels: status: ready to merge

#3383 fix: page header scroll and incidentals
  packages/core/story-structure.js
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.js
  packages/ibm-products/src/components/PageHeader/PageHeaderUtils.js
  packages/ibm-products/src/components/PageHeader/_page-header.scss
  packages/ibm-products/src/components/TooltipTrigger/TooltipTrigger.js
  packages/ibm-products/src/components/TooltipTrigger/TooltipTrigger.stories.js
  packages/ibm-products/src/components/TooltipTrigger/TooltipTrigger.test.js
  packages/ibm-products/src/components/TooltipTrigger/_index-with-carbon.scss
  packages/ibm-products/src/components/TooltipTrigger/_index.scss
  packages/ibm-products/src/components/TooltipTrigger/_storybook-styles.scss
  packages/ibm-products/src/components/TooltipTrigger/_tooltip-trigger.scss
  packages/ibm-products/src/components/TooltipTrigger/index.js
  packages/ibm-products/src/components/TooltipTrigger/useExample.js
  packages/ibm-products/src/components/UserProfileImage/UserProfileImage.js
  packages/ibm-products/src/components/UserProfileImage/UserProfileImage.test.js
  packages/ibm-products/src/components/_index-with-carbon.scss
  packages/ibm-products/src/components/_index.scss
Labels: status: ready to merge, component: PageHeader, v2

#3405 fix: datagrid table accessibility v1
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
  packages/ibm-products/src/components/Datagrid/utils/getColTitle.js
Labels: status: ready to merge, component: Datagrid, v1

#3407 feat(Datagrid): add column resize callback
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: component: Datagrid, v1

#3415 fix: skip PR title validation in `merge_group` queue
  .github/workflows/pr.yml
Labels: status: ready to merge 🎉

#3406 feat(Datagrid): add column resize callback
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: component: Datagrid, v2

#3419 fix: some full screen docs pages
  packages/core/.storybook/index.scss
  packages/ibm-products/src/components/CreateSidePanel/CreateSidePanel.stories.js
  packages/ibm-products/src/components/CreateSidePanel/_storybook-styles.scss
  packages/ibm-products/src/components/DataSpreadsheet/_storybook-styles.scss
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.stories.js
  packages/ibm-products/src/components/EditSidePanel/_storybook-styles.scss
  packages/ibm-products/src/components/EditTearsheetNarrow/_storybook-styles.scss
  packages/ibm-products/src/components/ExportModal/ExportModal.stories.js
  packages/ibm-products/src/components/SidePanel/SidePanel.js
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.js
  packages/ibm-products/src/components/SidePanel/_storybook-styles.scss
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.js
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/ibm-products/src/global/decorators/_side-panel-decorator.scss
  packages/ibm-products/src/global/decorators/sidePanelDecorator.js
  packages/ibm-products/src/global/js/utils/StoryDocsPage.js
  packages/ibm-products/src/global/js/utils/_story-as-full-page.scss
Labels: status: ready to merge 🎉

#3426 fix(Datagrid): add text overflow styling to title/desc
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge 🎉, component: Datagrid, v2, status: needs v1 PR

#3399 fix(create-full-page): add influencer title support
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.stories.js
  packages/ibm-products/src/components/CreateInfluencer/CreateInfluencer.js
  packages/ibm-products/src/components/CreateInfluencer/CreateInfluencer.test.js
  packages/ibm-products/src/components/CreateInfluencer/_create-influencer.scss
Labels: status: ready to merge 🎉

#3429 chore(deps): bump semver to 6.3.1 and word-wrap to 1.2.5
  examples/carbon-for-ibm-products/react-16-example/yarn.lock
  examples/carbon-for-ibm-products/react-17-example/yarn.lock
Labels: status: ready to merge 🎉, dependencies

#3433 fix(Datagrid): add text overflow styling to title/desc
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: component: Datagrid, UX: visual, v1

#3432 fix(Datagrid): add firefox style fixes to new column resizing
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: status: ready to merge 🎉, component: Datagrid, v2, UX: visual

#3434 fix(Datagrid): add firefox style fixes to new column resizing
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: component: Datagrid, UX: visual, v1

#3421 feat(TagSet): enable filter property on tags
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.stories.js
  packages/ibm-products/src/components/TagSet/TagSet.js
  packages/ibm-products/src/components/TagSet/TagSet.stories.js
Labels: status: ready to merge 🎉
