Repository carbon-design-system/ibm-products, pull requests merged in 2023-11, with the labels that each got.

#3730 fix(Datagrid): change overflow menu's tooltip alignment to 'left'
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: type: bug 🐛, component: Datagrid

#3707 fix(Datagrid): adhere to min width in column definition if one exists
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v2

#3706 fix(Datagrid): adhere to min width in column definition if one exists (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v1

#3723 fix(Datagrid): semantically hide spacer col
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
Labels: component: Datagrid, v1

#3746 fix(Datagrid): address resize end issues (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: component: Datagrid, v1

#3745 fix(Datagrid): address resize end issues
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: component: Datagrid, v2

#3739 fix(Checklist): update colors and story structures
  packages/ibm-products/src/components/Checklist/Checklist.stories.js
  packages/ibm-products/src/components/Checklist/_checklist.scss
Labels: Novice to pro

#3757 chore(Datagrid): fix alignment of icon only columns to match guidance
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnAlignment/ColumnAlignment.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
Labels: component: Datagrid, v1, type: stories 📚

#3756 chore(Datagrid): fix alignment of icon only columns to match guidance
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnAlignment/ColumnAlignment.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
Labels: component: Datagrid, v2, type: stories 📚

#3768 chore(Datagrid): add/refactor col alignment tests
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useColumnCenterAlign.js
  packages/ibm-products/src/components/Datagrid/useColumnRightAlign.js
Labels: component: Datagrid, v1

#3767 chore(Datagrid): add/refactor col alignment tests
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useColumnCenterAlign.js
  packages/ibm-products/src/components/Datagrid/useColumnRightAlign.js
Labels: component: Datagrid, v2

#3770 fix(Datagrid): stop propagation of row expander click event
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
  packages/ibm-products/src/components/Datagrid/useRowExpander.js
Labels: component: Datagrid, v1

#3769 fix(Datagrid): stop propagation of row expander click event
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
  packages/ibm-products/src/components/Datagrid/useRowExpander.js
Labels: component: Datagrid, v2

#3765 fix: replace prop from 'ariaLabel' to 'aria-label'
  packages/ibm-products/src/components/CreateSidePanel/CreateSidePanel.stories.js
  packages/ibm-products/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.stories.js
  packages/ibm-products/src/components/EditTearsheetNarrow/EditTearsheetNarrow.stories.js
  packages/ibm-products/src/components/Toolbar/Toolbar.stories.js
Labels: v2

#3772 fix(Datagrid): destructure key to fix eslint unique key error
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRefBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSimpleBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: component: Datagrid, v2, status: needs v1 PR

#3779 fix(Datagrid): match designs, frozen/non frozen action button behavior (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: component: Datagrid, v1

#3778 fix(Datagrid): match designs, frozen/non frozen action button behavior
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: component: Datagrid, v2

#3572 chore(Datagrid): add ability to disable column resizing
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/useDatagrid.js
Labels: component: Datagrid, v2

#3573 chore(Datagrid): add ability to disable column resizing
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/useDatagrid.js
Labels: component: Datagrid, v1

#3774 chore(Datagrid): review changes from `useInfiniteScroll`/virtual review
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useInfiniteScroll.js
  packages/ibm-products/src/components/Datagrid/useParentDimensions.js
  packages/ibm-products/src/components/Datagrid/useResizeTable.js
  packages/ibm-products/src/components/Datagrid/useSkeletonRows.js
Labels: component: Datagrid, v2

#3787 fix(Datagrid): properly render expandable row component via jsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
Labels: component: Datagrid, v2

#3777 chore(Datagrid): review changes from `useInfiniteScroll`/virtual review
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useInfiniteScroll.js
  packages/ibm-products/src/components/Datagrid/useParentDimensions.js
  packages/ibm-products/src/components/Datagrid/useResizeTable.js
  packages/ibm-products/src/components/Datagrid/useSkeletonRows.js
Labels: component: Datagrid, v1

#3775 fix(Datagrid): destructure key to fix eslint unique key error (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRefBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSimpleBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: component: Datagrid, v1

#3789 fix(Datagrid): render expanded component via jsx (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/global/js/hooks/index.js
  packages/ibm-products/src/global/js/hooks/usePrefix.js
Labels: component: Datagrid, v1

#3784 chore(Datagrid): add/refactor useActionColumn tests
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
Labels: component: Datagrid, v2

#3790 chore(Datagrid): add/refactor useActionColumn tests (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: component: Datagrid, v1

#3792 chore(Datagrid): frozen/sticky column testing, add istanbul ignore for resize
  packages/ibm-products/src/components/Datagrid/useStickyColumn.js
Labels: component: Datagrid, v2

#3793 chore(Datagrid): frozen column testing, add istanbul ignore for resize
  packages/ibm-products/src/components/Datagrid/useStickyColumn.js
Labels: component: Datagrid, v1

#3615 fix(Coachmark): accessibility improvements
  cspell.json
  packages/ibm-products/src/components/Coachmark/Coachmark.js
  packages/ibm-products/src/components/Coachmark/Coachmark.mdx
  packages/ibm-products/src/components/Coachmark/Coachmark.stories.js
  packages/ibm-products/src/components/Coachmark/CoachmarkDragbar.js
  packages/ibm-products/src/components/Coachmark/CoachmarkHeader.js
  packages/ibm-products/src/components/Coachmark/CoachmarkOverlay.js
  packages/ibm-products/src/components/Coachmark/styles/_coachmark-dragbar.scss
  packages/ibm-products/src/components/Coachmark/styles/_coachmark-header.scss
  packages/ibm-products/src/components/Coachmark/styles/_coachmark-overlay.scss
  packages/ibm-products/src/components/Coachmark/styles/_coachmark-tagline.scss
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.js
  packages/ibm-products/src/components/CoachmarkBeacon/_coachmark-beacon.scss
  packages/ibm-products/src/components/CoachmarkButton/CoachmarkButton.mdx
  packages/ibm-products/src/components/CoachmarkButton/CoachmarkButton.stories.js
  packages/ibm-products/src/components/CoachmarkButton/CoachmarkButton.test.js
  packages/ibm-products/src/components/CoachmarkFixed/CoachmarkFixed.js
  packages/ibm-products/src/components/CoachmarkFixed/CoachmarkFixed.test.js
  packages/ibm-products/src/components/CoachmarkOverlayElement/CoachmarkOverlayElement.mdx
  packages/ibm-products/src/components/CoachmarkOverlayElement/_coachmark-overlay-element.scss
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.js
  packages/ibm-products/src/components/CoachmarkOverlayElements/_coachmark-overlay-elements.scss
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.js
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.stories.js
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStackHome.js
  packages/ibm-products/src/components/CoachmarkStack/_coachmark-stack.scss
Labels: Novice to pro, status: waiting for author 💬

#3795 fix: clickable row review fixes
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useOnRowClick.js
Labels: component: Datagrid, v2

#3794 fix: batch actions review fixes v1
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/useSelectAllToggle.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: component: Datagrid, v1

#3802 test(Datagrid): increase test coverage for base component
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
Labels: component: Datagrid, v2

#3805 fix(Datagrid): fix visible scroll bar when resizing with pagination
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: component: Datagrid, v2

#3800 feat: new InlineTip and SteppedAnimatedMedia components
  cspell.packages.txt
  package.json
  packages/core/story-structure.js
  packages/ibm-products/src/components/InlineTip/InlineTip.docs-page.js
  packages/ibm-products/src/components/InlineTip/InlineTip.js
  packages/ibm-products/src/components/InlineTip/InlineTip.stories.js
  packages/ibm-products/src/components/InlineTip/InlineTip.test.js
  packages/ibm-products/src/components/InlineTip/InlineTipButton.js
  packages/ibm-products/src/components/InlineTip/InlineTipLink.js
  packages/ibm-products/src/components/InlineTip/_index.scss
  packages/ibm-products/src/components/InlineTip/_inline-tip.scss
  packages/ibm-products/src/components/InlineTip/_storybook-styles.scss
  packages/ibm-products/src/components/InlineTip/index.js
  packages/ibm-products/src/components/InlineTip/storybook_assets/inline-tip-animation.json
  packages/ibm-products/src/components/InlineTip/storybook_assets/inline-tip-image.png
  packages/ibm-products/src/components/InlineTip/utils.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.docs-page.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.stories.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.test.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/_index.scss
  packages/ibm-products/src/components/SteppedAnimatedMedia/_stepped-animated-media.scss
  packages/ibm-products/src/components/SteppedAnimatedMedia/_storybook-styles.scss
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/how-a-case-is-created-1.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/how-a-case-is-created-2.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/how-a-case-is-created-3.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/illustrations/test.json
  packages/ibm-products/src/components/SteppedAnimatedMedia/assets/index.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/index.js
  packages/ibm-products/src/components/_index.scss
  packages/ibm-products/src/global/js/package-settings.js
  yarn.lock
Labels: v2, Novice to pro, status: waiting for reviewer 💬

#3804 test(Datagrid): increase base component plugin test coverage
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/ibm-products/src/components/Datagrid/useOnRowClick.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v2

#3816 test(Datagrid): increase base component test coverage (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
Labels: component: Datagrid, v1

#3826 fix(Datagrid): review fixes from resizable columns review (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/useDatagrid.js
Labels: component: Datagrid, v1

#3809 fix(Datagrid): fix visible scroll bar when resizing with pagination (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: component: Datagrid, v1

#3825 test(Datagrid): increase base component plugin test coverage (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useOnRowClick.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v1

#3827 feat(Datagrid): selectable rows return all row data selected via react-table `state`
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: type: enhancement ✨, component: Datagrid, v2

#3828 feat(Datagrid): selectable rows return all row data selected via react-table `state` (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: type: enhancement ✨, component: Datagrid, v1

#3834 fix: empty state accessibility update
  packages/ibm-products/src/components/AddSelect/AddSelectBody.test.js
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/NoTagsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/NotFoundEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/NotificationsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.js
  packages/ibm-products/src/components/EmptyStates/assets/ErrorIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoDataIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoTagsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotFoundIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotificationsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/UnauthorizedIllustration.js
Labels: component: EmptyState, v2

#3846 fix: move spacer and actions to the end
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/StickyActionsColumnStory.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/useFlexResize.js
Labels: component: Datagrid, v2

#3853 fix(Datagrid): remove hardcoded label, add cb fn for TableBatchActions (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
Labels: component: Datagrid, v1

#3850 feat: Datagrid base release v1
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
  packages/ibm-products/src/components/_index-released-only.scss
  packages/ibm-products/src/global/js/package-settings.js
Labels: component: Datagrid, v1

#3836 docs(Datagrid): add story with single level of nesting
  packages/ibm-products-styles/src/components/Datagrid/styles/_useNestedRows.scss
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
Labels: component: Datagrid, v2

#3855 fix(Datagrid): use `getRowId` instead of `index` for tracking `selectedRowData`
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: component: Datagrid, v2

#3860 fix(CreateTearsheet): fix step height to fill available space
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/CreateTearsheet/_create-tearsheet.scss
Labels: component: CreateTearsheet, v2

#3866 chore(CreateTearsheet): pass props to story
  packages/ibm-products/src/components/CreateTearsheet/preview-components/MultiStepTearsheet.js
Labels: type: docs 📖, component: CreateTearsheet
