Repository carbon-design-system/ibm-products, pull requests merged in 2024-03, with the labels that each got.

#4453 fix(Datagrid): add missing borders to frozen header cells
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/styles/_useStickyColumn.scss
Labels: component: Datagrid, v2

#4455 fix: update to Carbon 11 compatible versions to latest
  packages/core/package.json
  packages/ibm-products-community/package.json
  packages/ibm-products/package.json
  yarn.lock
Labels: dependencies

#4459 fix(Datagrid): invalid selectDisabled prop
  packages/ibm-products/src/components/Datagrid/useDisableSelectRows.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: v1

#4400 fix(Datagrid): align nested/expanded row borders with text content (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/ibm-products/src/components/Datagrid/styles/_useExpandedRow.scss
  packages/ibm-products/src/components/Datagrid/styles/_useNestedRows.scss
Labels: component: Datagrid, v1

#4456 refactor(ComboButton): convert to typescript
  packages/ibm-products-styles/src/components/ComboButton/_combo-button.scss
  packages/ibm-products/src/components/ComboButton/ComboButton.js
  packages/ibm-products/src/components/ComboButton/ComboButton.tsx
  packages/ibm-products/src/components/ComboButton/ComboButtonItem/index.tsx
Labels: area: typescript

#4481 fix(Tearsheet): prevent stacking visual cue with different sizes
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Tearsheet/_tearsheet.scss
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
Labels: component: Tearsheet, v2

#4472 docs(Datagrid): add docs around specifics of batch actions
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
Labels: type: docs 📖, component: Datagrid, v2

#4461 docs(Datagrid): include multiselect and slug docs
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Filtering.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/Slug/Slug.stories.js
Labels: component: Datagrid, v2, area: AI

#4514 fix: removes disabled rows from select all v1
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: v1

#4463 fix(Datagrid): column customization accesibility violation role listbox
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: component: Datagrid

#4516 docs(Datagrid): batch action docs update (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
Labels: component: Datagrid, v1

#4526 fix(Datagrid): add optional chain to prevent errors with `disableResizing` (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: component: Datagrid, v1

#4457 refactor(CreateModal): convert to typescript
  packages/ibm-products/src/components/CreateModal/CreateModal.tsx
Labels: v2, area: typescript

#4524 fix(Datagrid): add optional chain to prevent errors with `disableResizing`
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: component: Datagrid, v2

#4519 chore: set yarn version in update action
  .github/workflows/update.yml
  package.json
Labels: dependencies, github actions, type: infrastructure 🤖

#4464 fix(Tearsheet): fous query to the elemnts with tabindex 0
  packages/ibm-products/src/global/js/hooks/useFocus.js
Labels: component: Tearsheet

#4529 refactor: flatten story structure and story titles (components section)
  cspell.json
  packages/core/.storybook/manager.js
  packages/core/.storybook/preview.js
  packages/ibm-products/scripts/generate/templates/DISPLAY_NAME.stories.js
  packages/ibm-products/src/components/BigNumbers/BigNumbers.mdx
  packages/ibm-products/src/components/BigNumbers/BigNumbers.stories.js
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowHeightSettings/RowHeightSettings.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Slug/Slug.stories.js
  packages/ibm-products/src/components/Decorator/Decorator.mdx
  packages/ibm-products/src/components/Decorator/Decorator.stories.js
  packages/ibm-products/src/components/DelimitedList/DelimitedList.stories.js
  packages/ibm-products/src/components/DescriptionList/DescriptionList.mdx
  packages/ibm-products/src/components/DescriptionList/DescriptionList.stories.js
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.stories.js
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.mdx
  packages/ibm-products/src/components/MultiAddSelect/MultiAddSelect.stories.js
  packages/ibm-products/src/components/Nav/Nav.mdx
  packages/ibm-products/src/components/Nav/Nav.stories.js
  packages/ibm-products/src/components/OptionsTile/OptionsTile.stories.js
  packages/ibm-products/src/components/PageHeader/PageHeader.stories.js
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.stories.js
  packages/ibm-products/src/components/SearchBar/SearchBar.mdx
  packages/ibm-products/src/components/SearchBar/SearchBar.stories.js
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.js
  packages/ibm-products/src/components/SingleAddSelect/SingleAddSelect.stories.js
  packages/ibm-products/src/components/StatusIndicator/StatusIndicator.mdx
  packages/ibm-products/src/components/StatusIndicator/StatusIndicator.stories.js
  packages/ibm-products/src/components/StatusIndicator/StatusIndicatorStep.mdx
  packages/ibm-products/src/components/StatusIndicator/StatusIndicatorStep.stories.js
  packages/ibm-products/src/components/StringFormatter/StringFormatter.mdx
  packages/ibm-products/src/components/StringFormatter/StringFormatter.stories.js
  packages/ibm-products/src/components/TagSet/TagSet.stories.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.js
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/ibm-products/src/components/TruncatedList/TruncatedList.stories.js
  packages/ibm-products/src/components/UserAvatar/UserAvatar.mdx
  packages/ibm-products/src/components/UserAvatar/UserAvatar.stories.js
  packages/ibm-products/src/global/js/utils/story-helper.js
Labels: type: stories 📚

#4545 fix: use linux command
  .github/workflows/release-v1.yml
Labels: v1

#4534 refactor: flatten story structure and story titles (n2p, community sections) and remove `story-structure` file
  docs/guides/CANARY_STRUCTURE.md
  examples/carbon-for-ibm-products/example-gallery/src/example-gallery.stories.js
  packages/core/.storybook/preview.js
  packages/core/src/component-playground/ComponentPlayground.stories.js
  packages/core/src/welcome/Welcome.stories.js
  packages/core/story-structure.js
  packages/ibm-products-community/src/components/Example/Example.stories.js
  packages/ibm-products/scripts/generate/templates/DISPLAY_NAME.mdx
  packages/ibm-products/scripts/generate/templates/DISPLAY_NAME.stories.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.mdx
  packages/ibm-products/src/components/Checklist/Checklist.mdx
  packages/ibm-products/src/components/Checklist/Checklist.stories.js
  packages/ibm-products/src/components/Coachmark/Coachmark.mdx
  packages/ibm-products/src/components/Coachmark/Coachmark.stories.js
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.mdx
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.stories.js
  packages/ibm-products/src/components/CoachmarkButton/CoachmarkButton.mdx
  packages/ibm-products/src/components/CoachmarkButton/CoachmarkButton.stories.js
  packages/ibm-products/src/components/CoachmarkFixed/CoachmarkFixed.mdx
  packages/ibm-products/src/components/CoachmarkFixed/CoachmarkFixed.stories.js
  packages/ibm-products/src/components/CoachmarkOverlayElement/CoachmarkOverlayElement.mdx
  packages/ibm-products/src/components/CoachmarkOverlayElement/CoachmarkOverlayElement.stories.js
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.mdx
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.stories.js
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.mdx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.stories.js
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Decorator/Decorator.mdx
  packages/ibm-products/src/components/Decorator/Decorator.stories.js
  packages/ibm-products/src/components/DecoratorBase/DecoratorBase.stories.js
  packages/ibm-products/src/components/DecoratorDualButton/DecoratorDualButton.stories.js
  packages/ibm-products/src/components/DecoratorLink/DecoratorLink.stories.js
  packages/ibm-products/src/components/DecoratorSingleButton/DecoratorSingleButton.stories.js
  packages/ibm-products/src/components/DelimitedList/DelimitedList.mdx
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.mdx
  packages/ibm-products/src/components/FullPageError/FullPageError.mdx
  packages/ibm-products/src/components/Guidebanner/Guidebanner.stories.js
  packages/ibm-products/src/components/InlineTip/InlineTip.stories.js
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.stories.js
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.mdx
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.stories.js
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.mdx
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.stories.js
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.stories.js
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.mdx
  packages/ibm-products/src/components/OptionsTile/OptionsTile-unused-v1.mdx
  packages/ibm-products/src/components/PageHeader/PageHeader.mdx
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.mdx
  packages/ibm-products/src/components/Saving/Saving.mdx
  packages/ibm-products/src/components/SidePanel/SidePanel.mdx
  packages/ibm-products/src/components/TagSet/TagSet.mdx
  packages/ibm-products/src/components/Tearsheet/Tearsheet.mdx
  packages/ibm-products/src/components/TruncatedList/TruncatedList.mdx
  packages/ibm-products/src/global/js/utils/story-helper.js
Labels: type: stories 📚

#4574 refactor(ToolbarGroup): add Typescript types
  packages/ibm-products/src/components/Toolbar/ToolbarGroup.tsx
Labels: area: typescript

#4588 fix(Datagrid): address duplicate id issue in `RowSizeRadioGroup`
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeRadioGroup.js
  packages/ibm-products/src/components/Datagrid/useRowSize.js
Labels: component: Datagrid, v2

#4563 feat(FilterPanel): new component with label and checkbox
  examples/carbon-for-ibm-products/FilterPanel/gallery.config.json
  examples/carbon-for-ibm-products/FilterPanel/package.json
  examples/carbon-for-ibm-products/FilterPanel/src/Example/Example.jsx
  examples/carbon-for-ibm-products/FilterPanel/src/Example/_example.scss
  examples/carbon-for-ibm-products/FilterPanel/thumbnail.png
  packages/ibm-products-styles/src/components/FilterPanel/_carbon-imports.scss
  packages/ibm-products-styles/src/components/FilterPanel/_filter-panel-checkbox.scss
  packages/ibm-products-styles/src/components/FilterPanel/_filter-panel-label.scss
  packages/ibm-products-styles/src/components/FilterPanel/_filter-panel.scss
  packages/ibm-products-styles/src/components/FilterPanel/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/FilterPanel/_index.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/FilterPanel/FilterPanel.js
  packages/ibm-products/src/components/FilterPanel/FilterPanel.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanel.stories.js
  packages/ibm-products/src/components/FilterPanel/FilterPanel.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/index.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.stories.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelLabel/FilterPanelLabel.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelLabel/index.js
  packages/ibm-products/src/components/FilterPanel/_storybook-styles.scss
  packages/ibm-products/src/components/FilterPanel/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: package: security, v2, area: migration ➡️

#4586 fix(Dataspreadsheet): glitchy behaviour issue 4551
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.js
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.js
  packages/ibm-products/src/components/DataSpreadsheet/hooks/useMoveActiveCell.js
Labels: component: DataSpreadsheet, v2

#4599 fix(Descriptionlist): Export sub components
  packages/ibm-products/src/components/DescriptionList/DescriptionList.js
  packages/ibm-products/src/components/DescriptionList/DescriptionListBody.js
  packages/ibm-products/src/components/DescriptionList/DescriptionListCell.js
  packages/ibm-products/src/components/DescriptionList/DescriptionListRow.js
  packages/ibm-products/src/components/DescriptionList/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: v2

#4584 refactor(CreateTearsheetDivider): convert to typescript
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheetDivider.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheetDivider.tsx
Labels: area: typescript

#4580 fix(Datagrid): address keyboard support with selectable/dropdown editable cells
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
Labels: component: Datagrid, v2

#4603 chore: convert optionstile to typescript
  packages/ibm-products/src/components/OptionsTile/OptionsTile.tsx
Labels: area: typescript

#4607 chore(datagrid): remove redundant aria-live attributes
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSimpleBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: component: Datagrid, v1

#4471 refactor: converts `CreateSidePanel` and `SidePanel` to typescript
  packages/ibm-products/src/components/CoachmarkOverlayElement/CoachmarkOverlayElement.mdx
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.mdx
  packages/ibm-products/src/components/CreateSidePanel/CreateSidePanel.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/ibm-products/src/components/DragAndDrop/DragAndDrop.mdx
  packages/ibm-products/src/components/PageHeader/PageHeader.mdx
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
  packages/ibm-products/src/components/StatusIndicator/StatusIndicatorStep.mdx
Labels: v2, area: typescript

#4606 chore(datagrid): remove role and aria-live attributes
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRefBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSimpleBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: component: Datagrid, v2

#4572 refactor(RemoveModal): add Typescript types
  packages/ibm-products/src/components/RemoveModal/RemoveModal.tsx
Labels: area: typescript

#4592 refactor(StatusIcon): add typescript types
  packages/ibm-products/src/components/StatusIcon/StatusIcon.js
  packages/ibm-products/src/components/StatusIcon/StatusIcon.tsx
Labels: area: typescript

#4630 fix(SidePanel): replace incorrect prop in conditional prop types
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
Labels: component: SidePanel

#4446 feat(ScrollGradient): new component ScrollGradient
  examples/carbon-for-ibm-products/ScrollGradient/gallery.config.json
  examples/carbon-for-ibm-products/ScrollGradient/package.json
  examples/carbon-for-ibm-products/ScrollGradient/src/Example/Example.jsx
  examples/carbon-for-ibm-products/ScrollGradient/src/Example/_example.scss
  examples/carbon-for-ibm-products/ScrollGradient/thumbnail.png
  packages/ibm-products-styles/src/components/ScrollGradient/_carbon-imports.scss
  packages/ibm-products-styles/src/components/ScrollGradient/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/ScrollGradient/_index.scss
  packages/ibm-products-styles/src/components/ScrollGradient/_scroll-gradient.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/ScrollGradient/ScrollGradient.js
  packages/ibm-products/src/components/ScrollGradient/ScrollGradient.mdx
  packages/ibm-products/src/components/ScrollGradient/ScrollGradient.stories.js
  packages/ibm-products/src/components/ScrollGradient/ScrollGradient.test.js
  packages/ibm-products/src/components/ScrollGradient/_storybook-styles.scss
  packages/ibm-products/src/components/ScrollGradient/constants.js
  packages/ibm-products/src/components/ScrollGradient/index.js
  packages/ibm-products/src/components/ScrollGradient/util.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: package: security, v2, status: waiting for author 💬, area: migration ➡️
