Repository carbon-design-system/ibm-products, pull requests merged in 2024-10, with the labels that each got.

#6111 fix: createTearsheet height fix
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/CreateTearsheet/_create-tearsheet.scss
Labels: status: one more review 👀

#6166 fix: temp workaround for target_spacing_sufficient rule
  config/jest-config-ibm-cloud-cognitive/setup/matchers/toHaveNoACViolations.js
  e2e/components/Datagrid/Datagrid-test.avt.e2e.js
  playwright.config.js
Labels: status: one more review 👀

#6179 fix: install playwright browsers
  .github/workflows/ci.yml
  package.json
Labels: status: one more review 👀

#4478 fix(TagSet): modal gradient
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/TagOverflow/_tag-overflow.scss
  packages/ibm-products-styles/src/components/TagSet/_tag-set.scss
  packages/ibm-products/src/components/TagOverflow/TagOverflow.tsx
  packages/ibm-products/src/components/TagOverflow/TagOverflowModal.tsx
  packages/ibm-products/src/components/TagSet/TagSet.tsx
  packages/ibm-products/src/components/TagSet/TagSetModal.tsx
Labels: component: TagSet, status: one more review 👀

#6192 chore: remove cron schedule for v1 release action
  .github/workflows/release-v1.yml
Labels: status: one more review 👀

#6220 chore(v1): address mismatch stylelint config tag versions
  config/stylelint-config-ibm-products/package.json
Labels: version: 1

#6213 fix: use plex cdn to load custom font in wc storybook
  packages/ibm-products-web-components/.storybook/preview-head.html
Labels: status: one more review 👀

#6221 feat: add conditional deploys for web component and react netlify sites
  packages/core/netlify.toml
  packages/ibm-products-web-components/netlify.toml
  scripts/ignore_dependabot.sh
Labels: status: one more review 👀

#6122 fix: datagrid typescript declarations
  packages/ibm-products/src/components/Datagrid/index.ts
  packages/ibm-products/src/components/Datagrid/types/index.ts
Labels: status: one more review 👀

#6217 fix(Tearsheet): resolve focus issue
  e2e/components/CreateFlows/CreateTearsheet-test.avt.e2e.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.test.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
Labels: hacktoberfest

#6236 feat: adds codecov
  .github/codecov.yml
  .github/workflows/ci.yml
  README.md
Labels: status: one more review 👀

#6203 refactor(sidepanel): change slug to aiLabel
  cspell.json
  packages/ibm-products-styles/src/components/SidePanel/_side-panel.scss
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.jsx
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
Labels: hacktoberfest

#6229 fix(Datagrid): resolve CSP in subcomponents
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.tsx
  packages/ibm-products/src/components/Datagrid/utils/DatagridActions.js
Labels: status: one more review 👀

#6216 chore(ibm products): react 19 useref default argument support
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.tsx
  packages/ibm-products/src/components/AboutModal/AboutModal.tsx
  packages/ibm-products/src/components/Coachmark/Coachmark.stories.jsx
  packages/ibm-products/src/components/Coachmark/Coachmark.tsx
  packages/ibm-products/src/components/Coachmark/utils/hooks.js
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.tsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.tsx
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.stories.jsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.jsx
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
  packages/ibm-products/src/components/Datagrid/useParentDimensions.js
  packages/ibm-products/src/components/Datagrid/useRowExpander.js
  packages/ibm-products/src/components/Datagrid/useStickyColumn.ts
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckboxWithOverflow/FilterPanelCheckboxWithOverflow.js
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.tsx
  packages/ibm-products/src/components/ScrollGradient/ScrollGradient.js
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.jsx
  packages/ibm-products/src/components/SidePanel/SidePanel.test.js
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.tsx
  packages/ibm-products/src/components/TagOverflow/TagOverflow.stories.jsx
  packages/ibm-products/src/components/TagSet/TagSet.stories.jsx
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.jsx
  packages/ibm-products/src/components/Tearsheet/Tearsheet.test.js
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.stories.jsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.story.jsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/src/components/Toolbar/Toolbar.tsx
  packages/ibm-products/src/components/TruncatedList/TruncatedList.tsx
  packages/ibm-products/src/global/js/hooks/usePreviousValue.js
  packages/ibm-products/src/global/js/utils/ClickListener.js
Labels: status: one more review 👀

#6169 feat(Tearsheet): Slug to aiLabel
  cspell.json
  e2e/components/Tearsheet/TearsheetNarrow-test.avt.e2e.js
  packages/ibm-products-styles/src/components/Tearsheet/_tearsheet.scss
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.jsx
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.stories.jsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.story.jsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
Labels: status: one more review 👀

#6272 fix(datagrid): adds missing header hover styles in v2
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
Labels: hacktoberfest, status: one more review 👀

#6167 feat(cards): renames slug to aiLabel
  cspell.json
  packages/ibm-products-styles/src/components/Card/_card.scss
  packages/ibm-products/src/components/Card/Card.tsx
  packages/ibm-products/src/components/Card/CardHeader.tsx
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.docs-page.js
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.stories.jsx
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.tsx
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.docs-page.js
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.stories.jsx
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.tsx
Labels: status: one more review 👀

#6112 feat(tag): updates tags to use DismissibleTag
  packages/ibm-products/src/components/AddSelect/AddSelectFilter.js
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/GetStartedCard/GetStartedCard.stories.jsx
  packages/ibm-products/src/components/TagOverflow/TagOverflow.tsx
  packages/ibm-products/src/components/TagOverflow/TagOverflowModal.tsx
  packages/ibm-products/src/components/TagOverflow/TagOverflowPopover.tsx
  packages/ibm-products/src/components/TagSet/TagSet.tsx
  packages/ibm-products/src/components/TagSet/TagSetModal.tsx
  packages/ibm-products/src/custom-typings/index.d.ts
  packages/ibm-products/tsconfig.json
Labels: status: one more review 👀

#6145 fix(Pageheader): scrollable headers are not tabbable
  e2e/components/PageHeader/PageHeader-test.avt.e2e.js
  packages/ibm-products-styles/src/components/PageHeader/_page-header.scss
  packages/ibm-products/src/components/PageHeader/PageHeader.tsx
  packages/ibm-products/src/components/PageHeader/PageHeaderTitle.js
Labels: hacktoberfest, status: one more review 👀

#6299 feat(empty-states): exports types
  packages/ibm-products/src/components/EmptyStates/EmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/EmptyStateV2.tsx
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/index.ts
  packages/ibm-products/src/components/EmptyStates/NoDataEmptyState/NoDataEmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/NoDataEmptyState/index.ts
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/NoTagsEmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/index.ts
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/NotFoundEmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/index.ts
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/NotificationsEmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/index.ts
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/index.ts
  packages/ibm-products/src/components/EmptyStates/index.ts
Labels: hacktoberfest, status: one more review 👀

#6301 fix(SidePanel web components): SlideIn option issue
  packages/ibm-products-web-components/src/components/side-panel/side-panel.ts
Labels: status: one more review 👀

#6293 fix(UserAvatar): release review fixes
  packages/ibm-products-styles/src/components/UserAvatar/_carbon-imports.scss
  packages/ibm-products-styles/src/components/UserAvatar/_user-avatar.scss
  packages/ibm-products/src/components/UserAvatar/UserAvatar.mdx
  packages/ibm-products/src/components/UserAvatar/UserAvatar.tsx
Labels: hacktoberfest, status: one more review 👀

#6289 fix(Datagrid): add support for autoAlign in row resize popover
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/RowSize/RowSizeDropdown.js
Labels: hacktoberfest

#6297 chore(side panel): code cov increase
  packages/ibm-products/src/components/SidePanel/SidePanel.test.js
Labels: status: one more review 👀

#6311 feat: add formatting diff script to PR ci checks
  .github/workflows/ci.yml
  SECURITY.md
  jest.e2e.config.js
  package.json
  playwright.config.js
Labels: status: one more review 👀
