Repository carbon-design-system/ibm-products, pull requests merged in 2024-11, with the labels that each got.

#6298 fix(API Key Modal): heading,label and downloadlink
  packages/ibm-products/src/components/APIKeyModal/APIKeyDownloader.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.stories.jsx
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.test.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.tsx
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.types.ts
Labels: hacktoberfest

#6271 feat: expose onChange and onPrevious for CreateFullPage
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.stories.jsx
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.test.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.tsx
  packages/ibm-products/src/components/CreateFullPage/CreateFullPageStep.tsx
  packages/ibm-products/src/components/CreateInfluencer/CreateInfluencer.tsx
Labels: hacktoberfest

#6339 chore: update security policy
  README.md
  SECURITY.md
Labels: status: one more review 👀

#6359 fix: these at imports should not exist
  packages/ibm-products-styles/src/components/EditFullPage/_index.scss
  packages/ibm-products-styles/src/components/EditTearsheet/_index.scss
  packages/ibm-products-styles/src/components/EditTearsheetNarrow/_index.scss
  packages/ibm-products-styles/src/components/EditUpdateCards/_edit-update-cards.scss
  packages/ibm-products/src/components/Carousel/_storybook-styles.scss
  packages/ibm-products/src/components/SteppedAnimatedMedia/_index.scss
Labels: status: one more review 👀

#6347 fix(EditInPlace): focus issue on onBlur default behaviour
  packages/ibm-products/src/components/EditInPlace/EditInPlace.tsx
Labels: status: one more review 👀

#6368 fix(PageHeader): change type import
  packages/ibm-products/src/components/ActionBar/ActionBar.tsx
  packages/ibm-products/src/components/PageHeader/PageHeader.tsx
Labels: status: one more review 👀

#6398 fix: broken coachmark accessibility tests and avt
  e2e/components/CreateFlows/CreateTearsheet-test.avt.e2e.js
  packages/ibm-products/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.js
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.tsx
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.stories.jsx
  packages/ibm-products/src/components/FullPageError/preview-components/Breadcrumbs.js
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.tsx
  packages/ibm-products/src/components/PageHeader/PageHeader.tsx
Labels: status: one more review 👀

#6407 chore: merge main 2.54.0
  config/jest-config-ibm-cloud-cognitive/CHANGELOG.md
  config/jest-config-ibm-cloud-cognitive/package.json
  config/storybook-addon-carbon-theme/CHANGELOG.md
  config/storybook-addon-carbon-theme/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ibm-products-styles/CHANGELOG.md
  packages/ibm-products-styles/package.json
  packages/ibm-products-web-components/CHANGELOG.md
  packages/ibm-products-web-components/package.json
  packages/ibm-products/CHANGELOG.md
  packages/ibm-products/package.json
  yarn.lock
Labels: status: one more review 👀

#6290 fix(APIKeyModal): implement useFocus hook
  e2e/components/APIKeyModal/APIKeyModal-test.avt.e2e.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyDownloader.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.stories.jsx
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.test.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.tsx
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.types.ts
Labels: hacktoberfest

#6408 chore: update release branch pattern in ci.yml
  .github/workflows/ci.yml
Labels: status: one more review 👀

#6395 feat(productive card): floating ui for overflow menu
  cspell.json
  packages/ibm-products/src/components/Card/Card.tsx
Labels: status: one more review 👀

#6351 refactor: style specific sticky columns in carbon row
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products-styles/src/components/Datagrid/styles/_useStickyColumn.scss
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.jsx
Labels: status: one more review 👀

#6401 chore: deprecate edit and update
  e2e/components/EditAndUpdate/EditFullPage-test.avt.e2e.js
  e2e/components/EditAndUpdate/EditSidePanel-test.avt.e2e.js
  e2e/components/EditAndUpdate/EditTearsheet-test.avt.e2e.js
  e2e/components/EditAndUpdate/EditTearsheetNarrow-test.avt.e2e.js
  e2e/components/EditTearsheet/EditTearsheetForm-test.avt.e2e.js
  e2e/components/EditUpdateCards/EditUpdateCards-test.avt.e2e.js
  packages/ibm-products/src/components/EditFullPage/EditFullPage.stories.jsx
  packages/ibm-products/src/components/EditFullPage/EditFullPage.test.js
  packages/ibm-products/src/components/EditFullPage/EditFullPage.tsx
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.stories.jsx
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.test.js
  packages/ibm-products/src/components/EditSidePanel/EditSidePanel.tsx
  packages/ibm-products/src/components/EditTearsheet/EditTearsheet.stories.jsx
  packages/ibm-products/src/components/EditTearsheet/EditTearsheet.test.js
  packages/ibm-products/src/components/EditTearsheet/EditTearsheet.tsx
  packages/ibm-products/src/components/EditTearsheetNarrow/EditTearsheetNarrow.stories.jsx
  packages/ibm-products/src/components/EditTearsheetNarrow/EditTearsheetNarrow.test.js
  packages/ibm-products/src/components/EditTearsheetNarrow/EditTearsheetNarrow.tsx
  packages/ibm-products/src/components/EditUpdateCards/EditUpdateCards.stories.jsx
  packages/ibm-products/src/components/EditUpdateCards/EditUpdateCards.test.js
  packages/ibm-products/src/components/EditUpdateCards/EditUpdateCards.tsx
Labels: type: deprecation 🕯️

#6441 docs(Tearsheet): add aiLabel usage to docs
  packages/ibm-products/src/components/Tearsheet/Tearsheet.docs-page.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.mdx
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.jsx
Labels: type: docs 📖

#6421 fix(conditionBuilder): address issues inside conditionBuilder popover
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemOption/ItemOption.tsx
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemOption/ItemOptionForValueField.tsx
  packages/ibm-products/src/components/ConditionBuilder/assets/SampleData.js
Labels: status: one more review 👀

#6394 feat: add utils section to storybook
  e2e/components/ActionBar/ActionBar-test.avt.e2e.js
  e2e/components/Cascade/Cascade-test.avt.e2e.js
  e2e/components/DelimitedList/DelimitedList-test.avt.e2e.js
  e2e/components/ScrollGradient/ScrollGradient-test.avt.e2e.js
  e2e/components/TagOverflow/TagOverflow-test.avt.e2e.js
  e2e/components/TruncatedList/TruncatedList-test.avt.e2e.js
  packages/core/.storybook/preview.js
  packages/ibm-products/src/components/ActionBar/ActionBar.stories.jsx
  packages/ibm-products/src/components/Cascade/Cascade.stories.jsx
  packages/ibm-products/src/components/DelimitedList/DelimitedList.stories.jsx
  packages/ibm-products/src/components/ScrollGradient/ScrollGradient.stories.jsx
  packages/ibm-products/src/components/TagOverflow/TagOverflow.stories.jsx
  packages/ibm-products/src/components/TruncatedList/TruncatedList.stories.jsx
Labels: status: needs design review 🎨

#6467 chore: increase percy stability in ci checks
  .percy.yml
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.stories.jsx
Labels: status: one more review 👀

#6475 chore: upgrade rollup
  packages/ibm-products-web-components/package.json
  packages/ibm-products/package.json
  yarn.lock
Labels: status: one more review 👀

#6464 chore: remove lint configs from package and move into own files
  .commitlintrc.js
  .eslintrc.js
  .stylelintrc.js
  package.json
Labels: status: one more review 👀

#6430 chore: deprecate empty state v2
  e2e/components/EmptyState/EmptyStateV2-test.avt.e2e.js
  packages/ibm-products/src/components/EmptyStates/EmptyStateV2.stories.jsx
  packages/ibm-products/src/components/EmptyStates/EmptyStateV2.tsx
Labels: status: one more review 👀, type: deprecation 🕯️

#6461 chore: security fixes
  package.json
  packages/ibm-products-web-components/package.json
  yarn.lock
Labels: status: one more review 👀

#6465 docs: add aiLabel docs to CreateTearsheet
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.docs-page.js
Labels: status: one more review 👀

#6431 chore(FilterPanel): deprecate filter panel and its sub components
  e2e/components/FilterPanel/FilterPanel-test.avt.e2e.js
  packages/ibm-products/src/components/FilterPanel/FilterPanel.js
  packages/ibm-products/src/components/FilterPanel/FilterPanel.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanel.stories.jsx
  packages/ibm-products/src/components/FilterPanel/FilterPanel.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.stories.jsx
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordion/FilterPanelAccordion.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordionItem.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordionItem.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordionItem.stories.jsx
  packages/ibm-products/src/components/FilterPanel/FilterPanelAccordionItem/FilterPanelAccordionItem.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.stories.jsx
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckbox/FilterPanelCheckbox.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckboxWithOverflow/FilterPanelCheckboxWithOverflow.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckboxWithOverflow/FilterPanelCheckboxWithOverflow.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckboxWithOverflow/FilterPanelCheckboxWithOverflow.stories.jsx
  packages/ibm-products/src/components/FilterPanel/FilterPanelCheckboxWithOverflow/FilterPanelCheckboxWithOverflow.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.stories.jsx
  packages/ibm-products/src/components/FilterPanel/FilterPanelGroup/FilterPanelGroup.test.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.js
  packages/ibm-products/src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.mdx
  packages/ibm-products/src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.stories.jsx
  packages/ibm-products/src/components/FilterPanel/FilterPanelSearch/FilterPanelSearch.test.js
Labels: status: one more review 👀, type: deprecation 🕯️

#6396 docs: deprecate experimental security components with low usage
  e2e/components/DescriptionList/DescriptionList-test.avt.e2e.js
  e2e/components/Nav/Nav-test.avt.e2e.js
  e2e/components/StatusIndicator/StatusIndicator-test.avt.e2e.js
  e2e/components/StatusIndicator/StatusIndicatorStep-test.avt.e2e.js
  packages/ibm-products/src/components/DecoratorDualButton/DecoratorDualButton.js
  packages/ibm-products/src/components/DecoratorDualButton/DecoratorDualButton.mdx
  packages/ibm-products/src/components/DecoratorDualButton/DecoratorDualButton.stories.jsx
  packages/ibm-products/src/components/DecoratorDualButton/DecoratorDualButton.test.js
  packages/ibm-products/src/components/DecoratorLink/DecoratorLink.js
  packages/ibm-products/src/components/DecoratorLink/DecoratorLink.mdx
  packages/ibm-products/src/components/DecoratorLink/DecoratorLink.stories.jsx
  packages/ibm-products/src/components/DecoratorLink/DecoratorLink.test.js
  packages/ibm-products/src/components/DecoratorSingleButton/DecoratorSingleButton.js
  packages/ibm-products/src/components/DecoratorSingleButton/DecoratorSingleButton.mdx
  packages/ibm-products/src/components/DecoratorSingleButton/DecoratorSingleButton.stories.jsx
  packages/ibm-products/src/components/DecoratorSingleButton/DecoratorSingleButton.test.js
  packages/ibm-products/src/components/DescriptionList/DescriptionList.js
  packages/ibm-products/src/components/DescriptionList/DescriptionList.mdx
  packages/ibm-products/src/components/DescriptionList/DescriptionList.stories.jsx
  packages/ibm-products/src/components/DescriptionList/DescriptionList.test.js
  packages/ibm-products/src/components/Nav/Nav.js
  packages/ibm-products/src/components/Nav/Nav.mdx
  packages/ibm-products/src/components/Nav/Nav.stories.jsx
  packages/ibm-products/src/components/Nav/Nav.test.js
  packages/ibm-products/src/components/StatusIndicator/StatusIndicator.js
  packages/ibm-products/src/components/StatusIndicator/StatusIndicator.mdx
  packages/ibm-products/src/components/StatusIndicator/StatusIndicator.stories.jsx
  packages/ibm-products/src/components/StatusIndicator/StatusIndicator.test.js
  packages/ibm-products/src/components/StatusIndicator/StatusIndicatorStep.js
  packages/ibm-products/src/components/StatusIndicator/StatusIndicatorStep.mdx
  packages/ibm-products/src/components/StatusIndicator/StatusIndicatorStep.stories.jsx
Labels: status: one more review 👀, type: deprecation 🕯️

#6478 chore(Web components): configure docs in storybook
  packages/ibm-products-web-components/.storybook/main.ts
  packages/ibm-products-web-components/package.json
  packages/ibm-products-web-components/src/components/side-panel/side-panel.mdx
  packages/ibm-products-web-components/src/components/side-panel/side-panel.stories.ts
  packages/ibm-products-web-components/src/components/side-panel/side-panel.ts
  packages/ibm-products-web-components/src/components/tearsheet/tearsheet.mdx
  packages/ibm-products-web-components/src/globals/internal/storybook-cdn.ts
  packages/ibm-products-web-components/tasks/build.js
  yarn.lock
Labels: status: one more review 👀

#6459 refactor(useFocus): refactor repeated useEffect code
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.tsx
  packages/ibm-products/src/components/AboutModal/AboutModal.tsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/src/global/js/hooks/useFocus.js
Labels: status: one more review 👀

#6490 chore: security updates
  config/cli/.npmignore
  config/cli/CHANGELOG.md
  config/cli/bin/carbon-cli.js
  config/cli/package.json
  config/cli/src/cli.js
  config/cli/src/commands/sync.js
  config/cli/src/commands/sync/npm.js
  config/cli/src/commands/sync/packageJson.js
  config/cli/src/commands/sync/readme.js
  config/cli/src/commands/sync/remark/monorepo.js
  config/cli/src/logger.js
  config/cli/src/workspace.js
  package.json
  yarn.lock
Labels: dependencies, status: one more review 👀

#6437 fix: update to Carbon 11 compatible versions to latest
  packages/core/package.json
  packages/ibm-products-web-components/package.json
  packages/ibm-products/package.json
  yarn.lock
Labels: dependencies, status: one more review 👀

#6412 fix(CreateTearsheet): Dynamically disable/hide the experimentalSecondarySubmit button in CreateTearsheet
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.tsx
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheetStep.tsx
Labels: status: one more review 👀

#6411 feat(BreadcrumbWithOverflow): adopt overflowMenuV12 and floating ui
  e2e/components/PageHeader/PageHeader-test.avt.e2e.js
  packages/ibm-products-styles/src/components/BreadcrumbWithOverflow/_breadcrumb-with-overflow.scss
  packages/ibm-products/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.js
  packages/ibm-products/src/components/BreadcrumbWithOverflow/BreadcrumbWithOverflow.test.js
Labels: status: one more review 👀

#6501 fix(side panel): slideIn not working as expected in Storybook
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.jsx
  packages/ibm-products/src/components/SidePanel/_storybook-styles.scss
Labels: status: one more review 👀

#6498 build: update dependency action to use carbon bot/app token
  .github/workflows/update.yml
Labels: status: one more review 👀

#6502 fix(pageHeader): menu button overflow issue on small screens
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/PageHeader/_page-header.scss
Labels: status: one more review 👀

#6508 fix(EmptyState): empty states throws hydration errors in next js due to dynamic id
  packages/ibm-products/src/components/EmptyStates/assets/ErrorIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoDataIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoTagsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotFoundIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotificationsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/UnauthorizedIllustration.js
Labels: status: one more review 👀
