Repository carbon-design-system/ibm-products, pull requests merged in 2024-07, with the labels that each got.

#5623 fix(ConditionBuilder): can't change month or year for Date type
  packages/ibm-products/src/components/ConditionBuilder/ConditionBlock/ConditionBlock.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/DataConfigs.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/translationObject.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItem.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemDate/ConditionBuilderItemDate.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
Labels: status: one more review 👀

#5637 chore: adds additional sidepanel avt tests
  e2e/components/SidePanel/SidePanel-test.avt.e2e.js
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
Labels: status: one more review 👀

#5612 fix(OptionsTile): fix styling of summary and chevron when nesting OptionsTile
  packages/ibm-products-styles/src/components/OptionsTile/_options-tile.scss
  packages/ibm-products/src/components/OptionsTile/OptionsTile.tsx
Labels: component: OptionsTile, status: one more review 👀

#5641 fix(Datagrid): pagination color fix
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/_datagrid.scss
Labels: status: one more review 👀

#5619 fix(DataSpreadsheet): address issue with active cell value
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
Labels: component: DataSpreadsheet

#5539 refactor(useDisableSelectRows): implement types
  packages/ibm-products/src/components/Datagrid/types/index.ts
  packages/ibm-products/src/components/Datagrid/useDisableSelectRows.js
  packages/ibm-products/src/components/Datagrid/useDisableSelectRows.ts
Labels: component: Datagrid, status: one more review 👀

#5606 fix(Datagrid): incorrect count in column customisation tearsheet, and special columns losing isVisible parameter
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: status: one more review 👀

#5621 fix(Dataspreadsheet): add callback function for after drag/drop ends
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.stories.jsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.tsx
  packages/ibm-products/src/components/DataSpreadsheet/types/index.ts
Labels: component: DataSpreadsheet, status: one more review 👀

#5653 chore(gh-actions): use repository dispatch action
  .github/workflows/automerge.yml
  .github/workflows/deploy-latest.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release-base.yml
Labels: status: one more review 👀

#5660 docs(release): update release docs
  cspell.json
  docs/PUBLISHING_RELEASES.md
  docs/guides/publishing-releases.md
Labels: status: one more review 👀

#5643 fix: update carbon packages to resolve max depth multi select issue
  packages/core/package.json
  packages/ibm-products-community/package.json
  packages/ibm-products-styles/package.json
  packages/ibm-products-styles/src/components/Datagrid/styles/addons/_CustomizeColumnsTearsheet.scss
  packages/ibm-products-styles/src/components/Datagrid/styles/addons/_FilterFlyout.scss
  packages/ibm-products/package.json
  packages/ibm-products/src/components/ActionBar/ActionBarItem.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.stories.jsx
  packages/ibm-products/src/components/EditFullPage/EditFullPage.stories.jsx
  packages/ibm-products/src/components/EditTearsheet/EditTearsheet.test.js
  packages/ibm-products/src/components/StringFormatter/StringFormatter.js
  packages/ibm-products/src/components/StringFormatter/StringFormatter.stories.jsx
  packages/ibm-products/src/components/StringFormatter/utils/enums.js
  packages/ibm-products/src/components/TagSet/TagSet.test.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.test.js
  scripts/example-gallery-builder/update-example/templates-react-16/package.json
  scripts/example-gallery-builder/update-example/templates-react-17/package.json
  scripts/example-gallery-builder/update-example/templates/package.json
  yarn.lock
Labels: status: one more review 👀

#5635 fix(datagrid): Clear all button not working as expected for multiselect
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: status: one more review 👀

#5680 chore: remove sb iframe scrollbars
  packages/core/.storybook/preview.js
Labels: status: one more review 👀

#5599 fix(CreateFullPage): beadcrumbs style issue
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/CreateFullPage/_create-full-page.scss
Labels: status: one more review 👀

#5574 refactor(Coachmark): implement popover and floating ui
  packages/ibm-products-styles/src/components/Coachmark/_coachmark-overlay.scss
  packages/ibm-products-styles/src/components/Coachmark/_coachmark.scss
  packages/ibm-products-styles/src/components/CoachmarkBeacon/_coachmark-beacon.scss
  packages/ibm-products/src/components/Coachmark/Coachmark.stories.jsx
  packages/ibm-products/src/components/Coachmark/Coachmark.tsx
  packages/ibm-products/src/components/Coachmark/CoachmarkOverlay.tsx
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.tsx
Labels: status: one more review 👀

#5689 chore(revert): revert previously merged PRs
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/CreateFullPage/_create-full-page.scss
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.test.js
Labels: status: one more review 👀

#5631 fix(Tearsheet): fix behavior of `selectorPrimaryFocus` for stacked tearsheets
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
Labels: status: one more review 👀

#5744 fix(Datagrid): EditableCell shifting focus to the below cell after edit
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
Labels: status: one more review 👀

#5741 fix(CreateModal): unnecessary background removed
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/CreateModal/_create-modal.scss
Labels: status: one more review 👀

#5692 fix: navigation tab usage in story
  packages/ibm-products/src/components/PageHeader/PageHeader.stories.jsx
Labels: status: one more review 👀

#5716 fix(datagrid): screen reader misreads datagrid table headers
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.tsx
Labels: component: Datagrid

#5654 fix(Datagrid): only remove single filter for correct table id
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.jsx
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.jsx
Labels: component: Datagrid, status: one more review 👀

#5711 refactor(EmptyState): add types to EmptyState
  packages/ibm-products/src/components/EmptyStates/EmptyState.tsx
  packages/ibm-products/src/components/EmptyStates/EmptyStateV2.tsx
Labels: status: one more review 👀

#5733 refactor(action-bar): convert to typescript
  packages/ibm-products/src/components/ActionBar/ActionBar.tsx
  packages/ibm-products/src/components/ActionBar/ActionBarItem.tsx
  packages/ibm-products/src/components/ActionBar/ActionBarOverflowItems.tsx
Labels: status: one more review 👀
