Repository carbon-design-system/ibm-products, pull requests merged in 2024-04, with the labels that each got.

#4535 feat(TagOverflow): new component TagOverflow
  examples/carbon-for-ibm-products/TagOverflow/README.md
  examples/carbon-for-ibm-products/TagOverflow/gallery.config.json
  examples/carbon-for-ibm-products/TagOverflow/index.html
  examples/carbon-for-ibm-products/TagOverflow/package.json
  examples/carbon-for-ibm-products/TagOverflow/src/App.jsx
  examples/carbon-for-ibm-products/TagOverflow/src/Example/Example.jsx
  examples/carbon-for-ibm-products/TagOverflow/src/Example/_example.scss
  examples/carbon-for-ibm-products/TagOverflow/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/TagOverflow/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/TagOverflow/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/TagOverflow/src/config.js
  examples/carbon-for-ibm-products/TagOverflow/src/favicon.svg
  examples/carbon-for-ibm-products/TagOverflow/src/index.scss
  examples/carbon-for-ibm-products/TagOverflow/src/main.jsx
  examples/carbon-for-ibm-products/TagOverflow/thumbnail.png
  examples/carbon-for-ibm-products/TagOverflow/vite.config.js
  examples/carbon-for-ibm-products/TagOverflow/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/TagOverflow--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/ibm-products-styles/src/components/TagOverflow/_carbon-imports.scss
  packages/ibm-products-styles/src/components/TagOverflow/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/TagOverflow/_index.scss
  packages/ibm-products-styles/src/components/TagOverflow/_tag-overflow.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/TagOverflow/TagOverflow.js
  packages/ibm-products/src/components/TagOverflow/TagOverflow.mdx
  packages/ibm-products/src/components/TagOverflow/TagOverflow.stories.js
  packages/ibm-products/src/components/TagOverflow/TagOverflow.test.js
  packages/ibm-products/src/components/TagOverflow/_storybook-styles.scss
  packages/ibm-products/src/components/TagOverflow/constants.js
  packages/ibm-products/src/components/TagOverflow/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: waiting for author 💬

#4760 test(playwright): check story has actually rendered before proceeding
  e2e/test-utils/storybook.js
  packages/core/.storybook/preview.js
  playwright.config.js
Labels: type: infrastructure 🤖

#4684 refactor(ImportModal): convert to typescript
  packages/ibm-products/src/components/ImportModal/ImportModal.tsx
  packages/ibm-products/src/custom-typings/index.d.ts
Labels: area: typescript

#4633 refactor(TearsheetNarrow): added typescript types
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.tsx
Labels: area: typescript

#4600 refactor(Toolbar): add Typescript types
  packages/ibm-products/src/components/Toolbar/Toolbar.js
  packages/ibm-products/src/components/Toolbar/Toolbar.tsx
Labels: area: typescript

#4747 refactor(ErrorEmptyState): added typescript types to the component
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.tsx
Labels: area: typescript

#4872 feat: create action for triaging labeled issues
  .github/workflows/move-issue-to-project-and-set-fields.yml
  .github/workflows/triage-labeled-issues.yml
Labels: type: process 🎞️, type: infrastructure 🤖

#4902 fix: use same node options as v1 for storybook build script
  packages/core/package.json
Labels: type: infrastructure 🤖

#4879 build: fix legacy rename
  .husky/commit-msg
  .husky/pre-commit
  package.json
Labels: v1, type: infrastructure 🤖

#4801 feat(ConditionBuilder): First PR with generated files and basic configs, components
  examples/carbon-for-ibm-products/ConditionBuilder/gallery.config.json
  examples/carbon-for-ibm-products/ConditionBuilder/package.json
  examples/carbon-for-ibm-products/ConditionBuilder/src/Example/Example.jsx
  examples/carbon-for-ibm-products/ConditionBuilder/src/Example/_example.scss
  examples/carbon-for-ibm-products/ConditionBuilder/thumbnail.png
  packages/ibm-products-styles/src/components/ConditionBuilder/_carbon-imports.scss
  packages/ibm-products-styles/src/components/ConditionBuilder/_condition-builder.scss
  packages/ibm-products-styles/src/components/ConditionBuilder/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/ConditionBuilder/_index.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.mdx
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.stories.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.test.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContent/ConditionBuilderContent.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/DataConfigs.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/DataTreeContext.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/Translations.js
  packages/ibm-products/src/components/ConditionBuilder/_storybook-styles.scss
  packages/ibm-products/src/components/ConditionBuilder/assets/SampleData.js
  packages/ibm-products/src/components/ConditionBuilder/assets/sampleInput.tsx
  packages/ibm-products/src/components/ConditionBuilder/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: waiting for author 💬

#4899 fix: collapseHeader button and prop
  packages/ibm-products/src/components/PageHeader/PageHeader.js
  packages/ibm-products/src/components/PageHeader/PageHeader.test.js
  packages/ibm-products/src/components/PageHeader/PageHeaderUtils.js
Labels: status: ready to merge 🎉

#4794 fix: full page story with global header
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/CreateFullPage/_create-full-page.scss
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.stories.js
  packages/ibm-products/src/components/CreateFullPage/_storybook-styles.scss
Labels: status: ready to merge 🎉

#4676 refactor(ActionSet): add typescript types to ActionSet
  packages/ibm-products/src/components/ActionSet/ActionSet.tsx
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
Labels: area: typescript

#4877 refactor: migrate `Inlinetip` and `SteppedAnimatedMedia` to TypeScript
  packages/ibm-products/src/components/InlineTip/InlineTip.tsx
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.tsx
Labels: v2, area: typescript

#4904 chore: add spellcheck to ci checks
  .github/workflows/ci.yml
  package.json
Labels: type: infrastructure 🤖

#4937 build: turn on `storyStoreV7` setting to optimize the performance of our built storybook assets
  packages/core/.storybook/main.js
  packages/core/package.json
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.stories.js
  yarn.lock
Labels: type: infrastructure 🤖

#4943 perf: use `lazyCompilation` and `fsCache` to increase storybook start times
  packages/core/.storybook/main.js
Labels: type: infrastructure 🤖

#4930 refactor(UnauthorizedEmptyState): added TS types to the component
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.tsx
Labels: area: typescript

#4798 fix: adds snapshot test as part of CI checks
  .github/workflows/ci.yml
  config/jest-config-ibm-cloud-cognitive/index.js
  package.json
Labels: type: infrastructure 🤖

#4908 refactor(FullPageError): cleanup and refactor
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/FullPageError/_full-page-error.scss
  packages/ibm-products/src/components/FullPageError/FullPageError.js
  packages/ibm-products/src/components/FullPageError/FullPageError.stories.js
  packages/ibm-products/src/components/FullPageError/FullPageError.test.js
Labels: component: FullPageError

#4773 refactor(UserProfileImage): added TS types to the component
  packages/ibm-products/src/components/UserProfileImage/UserProfileImage.tsx
Labels: status: waiting for maintainer 💬, area: typescript

#4751 refactor(Tearsheet): convert tearsheet shell to typescript
  cspell.json
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.tsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/src/components/Toolbar/Toolbar.tsx
  packages/ibm-products/src/global/js/utils/Wrap.tsx
  packages/ibm-products/src/global/js/utils/getNodeTextContent.js
Labels: component: Tearsheet, v2, area: typescript

#4948 refactor(inlinetip): Add Typescript types
  packages/ibm-products/src/components/InlineTip/InlineTipButton.tsx
Labels: status: waiting for maintainer 💬
