Repository carbon-design-system/ibm-products, pull requests merged in 2024-12, with the labels that each got.

#6505 build(deps): update storybook versions
  config/storybook-addon-carbon-theme/package.json
  packages/core/package.json
  packages/ibm-products-web-components/package.json
  yarn.lock
Labels: dependencies, status: one more review 👀

#6477 feat: Decouple lottie-web dependency from our repo
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.stories.jsx
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.test.js
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.tsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.stories.jsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStackHome.tsx
  packages/ibm-products/src/components/InlineTip/InlineTip.stories.jsx
  packages/ibm-products/src/components/InlineTip/InlineTip.test.js
  packages/ibm-products/src/components/InlineTip/InlineTip.tsx
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.tsx
Labels: dependencies

#6516 feat(coachmark): Add default opening for not-stacked coachmarks
  packages/ibm-products/src/components/Coachmark/Coachmark.test.js
  packages/ibm-products/src/components/Coachmark/Coachmark.tsx
Labels: status: percy 🦔

#6537 fix: use correct github app installation id, in order to successfully get access token
  .github/workflows/process-pr-review-data.yml
  actions/add-review-labels/index.js
Labels: status: one more review 👀

#6481 fix(APIKeyModal): improve screen reader announcement
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/APIKeyModal/_api-key-modal.scss
  packages/ibm-products/src/components/APIKeyModal/APIKeyDownloader.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.stories.jsx
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.test.js
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.tsx
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.types.ts
Labels: needs: design opinion, status: one more review 👀

#6546 fix: datagrid select all behavior in virtual scroll
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.tsx
Labels: status: one more review 👀

#6561 fix(actions): add checkout step back
  .github/workflows/process-pr-review-data.yml
Labels: status: one more review 👀

#6555 fix(Condition builder): initial state getting reset on re-rendering
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContent/ConditionBuilderContent.tsx
Labels: status: one more review 👀

#6462 chore: framer-motion v11
  packages/ibm-products/package.json
  packages/ibm-products/src/components/FilterSummary/FilterSummary.tsx
  packages/ibm-products/src/components/SidePanel/SidePanel.test.js
  yarn.lock
Labels: dependencies, status: percy 🦔

#6574 build(deps): bump lerna and other dependencies
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/jest-config-ibm-cloud-cognitive/package.json
  config/storybook-addon-carbon-theme/package.json
  package.json
  packages/core/package.json
  packages/ibm-products-styles/package.json
  packages/ibm-products-web-components/package.json
  packages/ibm-products/package.json
  scripts/monorepo-npm-upgrade.sh
  yarn.lock
Labels: dependencies

#6620 fix(EmptyState): added useId handling for older react version
  packages/ibm-products/src/components/EmptyStates/assets/ErrorIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoDataIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoTagsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotFoundIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotificationsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/UnauthorizedIllustration.js
  packages/ibm-products/src/global/js/utils/useId.js
Labels: status: one more review 👀
