Repository carbon-design-system/ibm-products, pull requests merged in 2024-06, with the labels that each got.

#5373 fix(Datagrid): replaced border tokens with the right ones
  packages/ibm-products-styles/src/components/Datagrid/styles/_useStickyColumn.scss
Labels: status: one more review 👀

#5372 fix(notification-panel): remove role on decorative image
  packages/ibm-products/src/components/EmptyStates/assets/NotificationsIllustration.js
Labels: type: a11y ♿, status: one more review 👀

#5329 fix(CreateTearsheet): add focus trap back to `CreateTearsheet`/`CreateTearsheetStep`
  cspell.json
  e2e/components/WebTerminal/WebTerminal-test.avt.e2e.js
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheetStep.tsx
Labels: component: CreateTearsheet, type: a11y ♿

#5391 fix(Coachmark): ssr issues with `instanceOf(HTMLElement)`
  packages/ibm-products/src/components/Coachmark/Coachmark.tsx
Labels: status: one more review 👀, component: Coachmark

#5385 fix(Datagrid): add disable column support
  packages/ibm-products-styles/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/InlineEditButton.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/useInlineEdit.js
  packages/ibm-products/src/components/Datagrid/utils/getInlineEditColumns.js
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
Labels: status: one more review 👀

#5204 feat(FeatureFlags): add new mechanism for feature flagging using `@carbon/feature-flags`
  config/jest-config-ibm-cloud-cognitive/setup/setupFilesAfterEnv.js
  packages/core/.storybook/Annotation/_annotation.scss
  packages/core/.storybook/Annotation/index.js
  packages/core/.storybook/WithFeatureFlags/index.js
  packages/core/.storybook/index.scss
  packages/core/.storybook/preview.js
  packages/core/generated/feature-flags/_feature-flags.scss
  packages/core/generated/feature-flags/feature-flags.js
  packages/ibm-products/package.json
  packages/ibm-products/src/components/AddSelect/AddSelect.test.js
  packages/ibm-products/src/components/AddSelect/AddSelectBody.test.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.stories.jsx
  packages/ibm-products/src/components/ComboButton/ComboButton.stories.jsx
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.test.js
  packages/ibm-products/src/components/CreateTearsheetNarrow/CreateTearsheetNarrow.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/TearsheetWrapper.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditContext/InlineEditContext.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.jsx
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.stories.jsx
  packages/ibm-products/src/components/Datagrid/useCustomizeColumns.js
  packages/ibm-products/src/components/Datagrid/useInlineEdit.js
  packages/ibm-products/src/components/EditTearsheet/EditTearsheet.test.js
  packages/ibm-products/src/components/FeatureFlags/FeatureFlag.stories.jsx
  packages/ibm-products/src/components/FeatureFlags/FeatureFlags.mdx
  packages/ibm-products/src/components/FeatureFlags/FeatureFlags.test.js
  packages/ibm-products/src/components/FeatureFlags/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/custom-typings/index.d.ts
  packages/ibm-products/src/feature-flags.js
  packages/ibm-products/src/global/js/hooks/usePortalTarget.js
  packages/ibm-products/tsconfig.json
  yarn.lock
Labels: status: one more review 👀

#5269 test(PageHeader): add default state avt test
  e2e/components/PageHeader/PageHeader-test.avt.e2e.js
Labels: status: one more review 👀

#5363 fix(Datagrid): add optional chain for focus row expander hook
  packages/ibm-products/src/components/Datagrid/useFocusRowExpander.js
Labels: component: Datagrid

#5421 fix(GuideBanner): address avt failure
  packages/ibm-products/src/components/Guidebanner/Guidebanner.tsx
Labels: type: a11y ♿, status: one more review 👀, component: GuideBanner

#5411 fix(FeatureFlags): remove forced rerender, causing focus issues
  packages/core/.storybook/WithFeatureFlags/index.js
Labels: status: one more review 👀

#5257 refactor(DataGrid): implement types for DataGrid component
  packages/ibm-products/package.json
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetHeader.tsx
  packages/ibm-products/src/components/DataSpreadsheet/types/index.ts
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridBody.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridEmptyBody.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHead.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRefBody.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSimpleBody.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DraggableElement.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Slug/DatagridSlug.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Slug/DatagridSlug.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/index.ts
  packages/ibm-products/src/components/Datagrid/types/index.ts
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.tsx
  packages/ibm-products/src/custom-typings/index.d.ts
  yarn.lock
Labels: status: one more review 👀

#5169 refactor(CreateFullPageStep): add TypeScript types
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.tsx
  packages/ibm-products/src/components/CreateFullPage/CreateFullPageStep.tsx
  packages/ibm-products/src/global/js/hooks/usePreviousValue.js
  packages/ibm-products/src/global/js/hooks/useRetrieveStepData.js
Labels: status: one more review 👀

#5422 fix(novice-to-pro): change to onboarding and added getStartedCard
  e2e/components/Checklist/Checklist-test.avt.e2e.js
  e2e/components/GetStartedCard/GetStartedCard-test.avt.e2e.js
  e2e/components/Guidebanner/GuidebannerCollapsible-test.avt.e2e.js
  e2e/components/InlineTip/InlineTip-test.avt.e2e.js
  e2e/components/InterstitialScreen/InterstitialScreen-test.avt.e2e.js
  e2e/components/InterstitialScreenView/InterstitialScreenView-test.avt.e2e.js
  e2e/components/InterstitialScreenViewModule/InterstitialScreenViewModule-test.avt.e2e.js
  e2e/components/NonLinearReading/NonLinearReading-test.avt.e2e.js
  packages/core/.storybook/preview.js
  packages/ibm-products-styles/src/components/NonLinearReading/_non-linear-reading.scss
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/components/Carousel/Carousel.stories.jsx
  packages/ibm-products/src/components/Carousel/Carousel.tsx
  packages/ibm-products/src/components/Checklist/Checklist.mdx
  packages/ibm-products/src/components/Checklist/Checklist.stories.jsx
  packages/ibm-products/src/components/Coachmark/Coachmark.mdx
  packages/ibm-products/src/components/Coachmark/Coachmark.stories.jsx
  packages/ibm-products/src/components/Coachmark/CoachmarkDragbar.tsx
  packages/ibm-products/src/components/Coachmark/CoachmarkHeader.tsx
  packages/ibm-products/src/components/Coachmark/CoachmarkOverlay.tsx
  packages/ibm-products/src/components/Coachmark/CoachmarkTagline.tsx
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.mdx
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.stories.jsx
  packages/ibm-products/src/components/CoachmarkButton/CoachmarkButton.stories.jsx
  packages/ibm-products/src/components/CoachmarkFixed/CoachmarkFixed.mdx
  packages/ibm-products/src/components/CoachmarkFixed/CoachmarkFixed.stories.jsx
  packages/ibm-products/src/components/CoachmarkOverlayElement/CoachmarkOverlayElement.mdx
  packages/ibm-products/src/components/CoachmarkOverlayElement/CoachmarkOverlayElement.stories.jsx
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.mdx
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.stories.jsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.mdx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.stories.jsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStackHome.js
  packages/ibm-products/src/components/GetStartedCard/GetStartedCard.stories.jsx
  packages/ibm-products/src/components/Guidebanner/Guidebanner.stories.jsx
  packages/ibm-products/src/components/InlineTip/InlineTip.stories.jsx
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.mdx
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.stories.jsx
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.mdx
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.stories.jsx
  packages/ibm-products/src/components/InterstitialScreenView/InterstitialScreenView.tsx
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.mdx
  packages/ibm-products/src/components/InterstitialScreenViewModule/InterstitialScreenViewModule.stories.jsx
  packages/ibm-products/src/components/NonLinearReading/NonLinearReading.stories.jsx
  packages/ibm-products/src/components/SteppedAnimatedMedia/SteppedAnimatedMedia.tsx
  packages/ibm-products/src/global/js/package-settings.js
Labels: area: plg ✨

#5447 fix: address bug in update gallery script
  scripts/example-gallery-builder/update-example/index.js
Labels: examples, type: infrastructure 🤖

#5464 refactor(useSortableColumns): implement types
  packages/ibm-products/src/components/Datagrid/types/index.ts
  packages/ibm-products/src/components/Datagrid/useSortableColumns.tsx
Labels: status: one more review 👀

#5461 fix(Datagrid): sticky header column
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.tsx
  packages/ibm-products/src/components/Datagrid/_storybook-styles.scss
Labels: status: one more review 👀

#5457 refactor(useFilterContext): implement types
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilterContext.ts
Labels: status: one more review 👀

#5261 feat(Datagrid): add default expansion state to `useNestedRows`
  packages/ibm-products/src/components/Datagrid/useNestedRows.js
Labels: component: Datagrid, v2

#5413 fix(datagrid): Let Developer know which cell is being edited
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
Labels: component: Datagrid, v2

#5398 fix(Datagrid): implemented nestedRow dynamic width
  packages/ibm-products/src/components/Datagrid/useNestedRows.js
Labels: status: one more review 👀

#5376 fix(SidePanel): remove scrollTop behavior
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
  packages/ibm-products/src/custom-typings/index.d.ts
Labels: component: SidePanel

#5458 fix(OptionTile): animation flicker when collapsing options tile
  packages/ibm-products/src/components/OptionsTile/OptionsTile.tsx
Labels: status: one more review 👀

#5460 refactor(useNestedRows): implement types
  packages/ibm-products/src/components/Datagrid/types/index.ts
  packages/ibm-products/src/components/Datagrid/useNestedRows.ts
Labels: status: one more review 👀

#5501 fix(Datagrid): add `getSubRows` property to `useDatagrid` to avoid search removing nested rows
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.jsx
Labels: status: one more review 👀

#5477 fix(Dataspreadsheets): when focus out of spreadsheet, persist edited cell
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
  packages/ibm-products/src/components/DataSpreadsheet/hooks/useSpreadsheetOutsideClick.js
  packages/ibm-products/src/components/DataSpreadsheet/types/index.ts
Labels: status: one more review 👀

#5523 docs(storybook): remove storybook doc and codesandbox example
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.stories/CustomizeColumnStory.js
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.jsx
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/ExpandableRow/ExpandableRow.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Filtering.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.jsx
  packages/ibm-products/src/components/Datagrid/Extensions/RowActionButtons/RowActionButtons.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/RowHeightSettings/RowHeightSettings.stories.jsx
  packages/ibm-products/src/components/Datagrid/Extensions/Slug/Slug.stories.jsx
Labels: type: stories 📚, status: one more review 👀

#5449 chore(storybook): staging and latest storybook environment deployment workflows
  .github/workflows/deploy-latest.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release-base.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-minor.yml
  .github/workflows/release-patch.yml
Labels: type: infrastructure 🤖, status: one more review 👀

#5530 chore: address mend issue
  package.json
  yarn.lock
Labels: status: one more review 👀

#5485 fix(Dataspreadsheet): selection area behavior fixed
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetHeader.tsx
  packages/ibm-products/src/components/DataSpreadsheet/hooks/useSpreadsheetMouseUp.js
  packages/ibm-products/src/components/DataSpreadsheet/types/index.ts
Labels: status: one more review 👀

#5479 fix(Dataspreadsheets): don't append new line when we hit enter
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
Labels: status: one more review 👀

#5506 fix(dataspreadsheet): drag drop when we have overflow
  packages/ibm-products-styles/src/components/DataSpreadsheet/_data-spreadsheet.scss
  packages/ibm-products/src/components/DataSpreadsheet/hooks/useSpreadsheetMouseMove.js
  packages/ibm-products/src/components/DataSpreadsheet/utils/moveColumnIndicatorLine.js
Labels: status: one more review 👀

#5527 fix(dataspreadsheet): Change condition check (fix regression)
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
Labels: status: one more review 👀

#5396 test(Nav): add default state avt test
  e2e/components/Nav/Nav-test.avt.e2e.js
Labels: status: one more review 👀

#5092 feat(TearsheetShell): specify additional floating menu selectors
  packages/ibm-products/src/components/Tearsheet/Tearsheet.tsx
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.tsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.stories.jsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/telemetry.yml
Labels: status: one more review 👀

#5425 feat(Datagrid): add opt out ability for editable cells
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/EditableCell/EditableCell.stories.jsx
  packages/ibm-products/src/components/Datagrid/useInlineEdit.tsx
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
Labels: type: enhancement ✨, component: Datagrid

#5474 feat(ConditionBuilder): action section,custom input and fixes
  packages/ibm-products-styles/src/components/ConditionBuilder/styles/_conditionBuilderCondition.scss
  packages/ibm-products-styles/src/components/ConditionBuilder/styles/_conditionBuilderItem.scss
  packages/ibm-products/src/components/ConditionBuilder/ConditionBlock/ConditionBlock.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.stories.jsx
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderActions/ConditionBuilderActions.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderAdd/ConditionBuilderAdd.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderButton/ConditionBuilderButton.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderConnector/ConditionConnector.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderConnector/GroupConnector.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContent/ConditionBuilderContent.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/ConditionBuilderProvider.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/DataConfigs.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContext/translationObject.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItem.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemNumber/ConditionBuilderItemNumber.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemOption/ConditionBuilderItemOption.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemOption/ItemOption.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemOption/ItemOptionForValueField.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionGroupBuilder/ConditionGroupBuilder.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionPreview/ConditionPreview.js
  packages/ibm-products/src/components/ConditionBuilder/assets/CustomInput.js
  packages/ibm-products/src/components/ConditionBuilder/assets/SampleData.js
  packages/ibm-products/src/components/ConditionBuilder/assets/sampleInput.js
  packages/ibm-products/src/components/ConditionBuilder/utils/checkForHoldingKey.js
  packages/ibm-products/src/components/ConditionBuilder/utils/handleKeyboardEvents.js
  packages/ibm-products/src/components/ConditionBuilder/utils/util.js
Labels: status: one more review 👀

#5546 fix(datagrid): check tableId before triggering reset of filters
  cspell.json
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: status: one more review 👀

#5334 fix(Datagrid): look for id from data for initially expanded rows
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.jsx
  packages/ibm-products/src/components/Datagrid/useNestedRows.ts
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
Labels: component: Datagrid

#5554 chore(release): edit release docs and workflows
  .github/workflows/release-base.yml
  .github/workflows/release-scheduled.yml
  docs/guides/release.md
Labels: status: one more review 👀

#5565 fix(Datagrid): make last visible column flex header and body cells correctly
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.tsx
Labels: component: Datagrid, status: one more review 👀

#5551 chore(HTTPErrors): add depr notice and annotation
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/HTTPErrors/HTTPError403/HTTPError403.stories.jsx
  packages/ibm-products/src/components/HTTPErrors/HTTPError403/HTTPError403.tsx
  packages/ibm-products/src/components/HTTPErrors/HTTPError404/HTTPError404.stories.jsx
  packages/ibm-products/src/components/HTTPErrors/HTTPError404/HTTPError404.tsx
  packages/ibm-products/src/components/HTTPErrors/HTTPErrorOther/HTTPErrorOther.stories.jsx
  packages/ibm-products/src/components/HTTPErrors/HTTPErrorOther/HTTPErrorOther.tsx
  packages/ibm-products/src/components/HTTPErrors/HTTPErrors.test.js
  packages/ibm-products/src/components/HTTPErrors/_storybook-styles.scss
Labels: status: one more review 👀

#5580 fix: export status indicator step component
  packages/ibm-products/src/components/index.js
Labels: status: one more review 👀

#5500 feat(dataspreadsheet): optional custom component to row header
  packages/ibm-products-styles/src/components/DataSpreadsheet/_data-spreadsheet.scss
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.stories.jsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetHeader.tsx
Labels: status: needs design review 🎨

#5582 fix: include avt report in release workflow
  .github/workflows/release-base.yml
  packages/ibm-products/package.json
Labels: status: one more review 👀

#5380 fix(DataGrid): add checkbox support
  packages/ibm-products-styles/src/components/Datagrid/styles/_useInlineEdit.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditButton/InlineEditButton.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/handleGridKeyPress.js
  packages/ibm-products/src/components/Datagrid/useInlineEdit.tsx
  packages/ibm-products/src/components/Datagrid/utils/getInlineEditColumns.js
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
Labels: status: one more review 👀

#5584 chore(cards): add slug docs
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.docs-page.js
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.mdx
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.stories.jsx
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.docs-page.js
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.mdx
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.stories.jsx
Labels: type: docs 📖

#5588 fix(PageHeader): silence warnings from enabling ActionBar
  packages/ibm-products/src/components/PageHeader/PageHeader.tsx
Labels: component: PageHeader

#5595 fix(Datagrid): address issue when id and value of filter are different
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
Labels: component: Datagrid, status: one more review 👀

#5467 fix(sidepanel): close/ai placement
  packages/ibm-products-styles/src/components/SidePanel/_side-panel.scss
Labels: status: one more review 👀

#5597 feat(dataspreadsheet): option for read only table + option for disable column swapping
  packages/ibm-products-styles/src/components/DataSpreadsheet/_data-spreadsheet.scss
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.stories.jsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetHeader.tsx
Labels: status: one more review 👀

#5505 feat(editInPlace): allow to provide custom onBlur function otherwise use default behavior
  packages/ibm-products/src/components/EditInPlace/EditInPlace.stories.jsx
  packages/ibm-products/src/components/EditInPlace/EditInPlace.tsx
Labels: status: one more review 👀

#5409 feat(eslint-ssr-plugin): adds `eslint-plugin-ssr-friendly` so we can catch ssr issues/bugs during development
  package.json
  packages/core/src/welcome/Welcome.js
  packages/ibm-products/src/components/Coachmark/Coachmark.tsx
  packages/ibm-products/src/components/CoachmarkFixed/CoachmarkFixed.tsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.js
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.test.js
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStackHome.js
  packages/ibm-products/src/components/CreateFullPage/CreateFullPage.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAllWithToggle.tsx
  packages/ibm-products/src/components/Datagrid/useSelectRows.tsx
  packages/ibm-products/src/components/Datagrid/utils/filterPropsForTesting.js
  packages/ibm-products/src/components/Nav/NavItem.js
  packages/ibm-products/src/components/OptionsTile/OptionsTile.test.js
  packages/ibm-products/src/components/OptionsTile/OptionsTile.tsx
  packages/ibm-products/src/components/SidePanel/SidePanel.test.js
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
  packages/ibm-products/src/components/SidePanel/motion/variants.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/src/components/WebTerminal/WebTerminal.test.js
  packages/ibm-products/src/components/WebTerminal/WebTerminal.tsx
  packages/ibm-products/src/global/js/hooks/usePrefersReducedMotion.js
  packages/ibm-products/src/global/js/utils/keyboardNavigation.js
  packages/ibm-products/src/global/js/utils/test-helper.js
  yarn.lock
Labels: type: enhancement ✨
