Repository carbon-design-system/ibm-products, pull requests merged in 2024-08, with the labels that each got.

#5771 refactor(UserAvatar): convert to typescript
  packages/ibm-products/src/components/UserAvatar/UserAvatar.tsx
Labels: status: one more review 👀

#5791 fix(PageHeader): correct conditional for non zero offsets
  packages/ibm-products/src/components/PageHeader/PageHeaderUtils.js
Labels: status: one more review 👀

#5795 fix(Datagrid): datagrid sort reset
  packages/ibm-products/src/components/Datagrid/useInitialColumnSort.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.tsx
Labels: status: one more review 👀

#5796 docs: update contribution guidelines
  .github/CONTRIBUTING.md
Labels: status: one more review 👀

#5798 fix: datagrid hidden virtual body width
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.tsx
Labels: status: one more review 👀

#5793 build(playwright): remove playwright results from gitignore
  .gitignore
Labels: status: one more review 👀

#5234 feat(CoachmarkStack): convert to .tsx
  packages/ibm-products/src/components/CoachmarkOverlayElements/CoachmarkOverlayElements.tsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStack.tsx
  packages/ibm-products/src/components/CoachmarkStack/CoachmarkStackHome.tsx
Labels: status: one more review 👀

#5696 test: pageHeader avt complex states
  e2e/components/PageHeader/PageHeader-test.avt.e2e.js
  packages/ibm-products/src/components/PageHeader/PageHeader.stories.jsx
Labels: status: one more review 👀

#5664 fix: update to Carbon 11 compatible versions to latest
  config/stylelint-config-ibm-products/package.json
  package.json
  packages/core/package.json
  packages/ibm-products-community/package.json
  packages/ibm-products-styles/package.json
  packages/ibm-products/package.json
  packages/ibm-products/src/components/AddSelect/AddSelect.test.js
  packages/ibm-products/src/components/AddSelect/AddSelectBody.test.js
  packages/ibm-products/src/components/CoachmarkBeacon/CoachmarkBeacon.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/FullPageError/FullPageError.tsx
  packages/ibm-products/src/components/FullPageError/assets/Error403SVG.js
  packages/ibm-products/src/components/FullPageError/assets/Error404SVG.js
  packages/ibm-products/src/components/FullPageError/assets/ErrorGenericSVG.js
  packages/ibm-products/src/components/HTTPErrors/HTTPError403/HTTPError403.tsx
  packages/ibm-products/src/components/HTTPErrors/HTTPError404/HTTPError404.tsx
  packages/ibm-products/src/components/HTTPErrors/HTTPErrorOther/HTTPErrorOther.tsx
  packages/ibm-products/src/components/HTTPErrors/assets/HTTPErrorSvg403.js
  packages/ibm-products/src/components/HTTPErrors/assets/HTTPErrorSvg404.js
  packages/ibm-products/src/components/HTTPErrors/assets/HTTPErrorSvgOther.js
  packages/ibm-products/src/components/SearchBar/SearchBar.test.js
  packages/ibm-products/src/global/js/utils/wait_for_position.js
  yarn.lock
Labels: status: one more review 👀

#5792 feat(RemoveModal): update body to use ReactNode
  packages/ibm-products/src/components/RemoveModal/RemoveModal.stories.jsx
  packages/ibm-products/src/components/RemoveModal/RemoveModal.test.js
  packages/ibm-products/src/components/RemoveModal/RemoveModal.tsx
Labels: status: one more review 👀

#5735 feat(Datagrid): add support for dynamic sub rows
  packages/ibm-products-styles/src/components/Datagrid/styles/_useNestedRows.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.jsx
  packages/ibm-products/src/components/Datagrid/types/index.ts
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
  packages/ibm-products/src/components/Datagrid/useRowRenderer.js
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
Labels: component: Datagrid

#5727 refactor(FeatureFlags): convert to typescript
  packages/ibm-products/src/components/FeatureFlags/index.tsx
Labels: status: one more review 👀

#5850 fix(Datagrid): column custimisation search filter truncation
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/DraggableItemsList.js
Labels: status: one more review 👀

#5846 fix(options-tile): size prop optional
  packages/ibm-products/src/components/OptionsTile/OptionsTile.tsx
Labels: status: ready to merge 🎉

#5851 chore(release): add workflow for pr and release creation
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/release-base.yml
  docs/guides/publishing-releases.md
  package.json
  scripts/get-changelog.js
  yarn.lock
Labels: status: one more review 👀

#5828 fix(datagrid): filter tooltip causes horizontal scroll
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.jsx
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.jsx
  packages/ibm-products/src/components/Datagrid/utils/DatagridActions.js
Labels: status: one more review 👀

#5853 fix(Datagrid): sortable column focus issue
  packages/ibm-products/src/components/Datagrid/useSortableColumns.tsx
Labels: status: one more review 👀

#5877 feat(datagrid): adds radio filter
  packages/ibm-products/src/components/Datagrid/useFiltering.ts
  packages/ibm-products/src/components/Datagrid/utils/FilteringUsage.js
Labels: status: one more review 👀

#5899 fix(Tearsheet): update `portalTarget` type
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.types.ts
  packages/ibm-products/src/components/Tearsheet/Tearsheet.tsx
Labels: status: one more review 👀

#5831 fix(Datagrid): csp violation
  package.json
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products-styles/src/components/Datagrid/styles/_useActionsColumn.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.tsx
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/InlineEdit/InlineEditCell/InlineEditCell.js
  packages/ibm-products/src/components/Datagrid/useActionsColumn.tsx
Labels: status: one more review 👀

#5895 fix(DataGrid): row size change issues with virtual scrolling enabled
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.tsx
Labels: status: one more review 👀

#5876 fix(create-full-page-step): update `hasFieldSet` type and export `CreateFullPageStepProps`
  packages/ibm-products/src/components/CreateFullPage/CreateFullPageStep.tsx
  packages/ibm-products/src/components/CreateFullPage/index.ts
Labels: status: one more review 👀

#5882 fix(tearsheet): focus without sentinels
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/src/custom-typings/index.d.ts
Labels: status: one more review 👀

#5914 chore: update stalebot config
  .github/workflows/stale.yml
Labels: status: one more review 👀

#5907 fix(sidepanel): button text change
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.jsx
Labels: status: one more review 👀

#5869 fix: editinplace replace outline with border
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/EditInPlace/_edit-in-place.scss
Labels: status: one more review 👀

#5794 fix(Conditionbuilder): add await for accessibility test
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.test.js
Labels: status: one more review 👀

#5800 fix: data spreadsheet object drag drop
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.stories.jsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.tsx
Labels: status: one more review 👀

#5950 fix(useFocus): change delay to 1ms
  packages/ibm-products/src/global/js/hooks/useFocus.js
Labels: status: one more review 👀

#5952 fix(Datagrid): clickable row retain focus after sidepanel closes
  e2e/components/Datagrid/Datagrid-test.avt.e2e.js
  packages/ibm-products/src/components/Datagrid/Extensions/ClickableRow/ClickableRow.stories.jsx
Labels: status: one more review 👀

#5810 fix(NotificationPanel): add missing role
  e2e/components/NotificationsPanel/NotificationsPanel-test.avt.e2e.js
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.stories.jsx
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.test.js
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.tsx
  packages/ibm-products/src/global/js/utils/wrapFocus.js
Labels: status: one more review 👀

#5884 fix: first step logic enhancement for CreateTearsheet
  packages/ibm-products/src/components/CreateTearsheet/CreateTearsheet.tsx
Labels: status: one more review 👀

#5871 fix: reword props in card stories
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.stories.jsx
  packages/ibm-products/src/components/ProductiveCard/ProductiveCard.stories.jsx
Labels: status: one more review 👀

#5953 fix(datagrid): customise column tearsheet update issue with new columns
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: status: one more review 👀

#5891 chore: add autoAlign to TagOverflow
  packages/ibm-products/src/components/TagOverflow/TagOverflow.mdx
  packages/ibm-products/src/components/TagOverflow/TagOverflow.tsx
  packages/ibm-products/src/components/TagOverflow/TagOverflowPopover.tsx
Labels: status: one more review 👀
