Repository carbon-design-system/ibm-products, pull requests merged in 2024-05, with the labels that each got.

#5031 chore: rename `main_v1` to `v1`
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release-v1.yml
  .github/workflows/update-v1.yml
  README.md
Labels: v1, type: infrastructure 🤖

#4994 refactor(EditUpdateCards): add typescript types
  packages/ibm-products/src/components/EditUpdateCards/EditUpdateCards.tsx
Labels: status: waiting for maintainer 💬

#5094 chore: setup reviewer team for PRs
  .github/CODEOWNERS
Labels: type: process 🎞️

#5126 chore(Checklist): release review changes
  packages/ibm-products-styles/src/components/Checklist/_carbon-imports.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products/src/components/Checklist/Checklist.docs-page.js
  packages/ibm-products/src/components/Checklist/Checklist.js
  packages/ibm-products/src/components/Checklist/Checklist.test.js
  packages/ibm-products/src/components/Checklist/ChecklistChart.js
  packages/ibm-products/src/custom-typings/index.d.ts
  packages/ibm-products/telemetry.yml
Labels: area: plg ✨, component: Checklist

#5139 feat(Checklist): release as stable
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/_index-released-only-with-carbon.scss
  packages/ibm-products-styles/src/components/_index-released-only.scss
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/global/js/package-settings.js
Labels: component: Checklist

#5099 fix(DataSpreadsheet): initialize functions before calling them
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheet.stories.jsx
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.js
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetHeader.js
  packages/ibm-products/src/components/DataSpreadsheet/hooks/useMoveActiveCell.js
Labels: component: DataSpreadsheet, type: stories 📚

#5138 test(ExportModal): add avt test coverage default state
  cspell.json
  e2e/components/ExportModal/ExportModal-test.avt.e2e.js
Labels: type: a11y ♿

#5162 style: remove component level style imports from `_storybook-styles.scss`, already included
  packages/core/.storybook/carbon.scss
  packages/ibm-products/src/components/AboutModal/_storybook-styles.scss
  packages/ibm-products/src/components/PageHeader/_storybook-styles.scss
Labels: type: stories 📚

#5156 refactor: replace actionable notification with static
  packages/core/.storybook/preview.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.stories.jsx
  packages/ibm-products/src/components/ComboButton/ComboButton.stories.jsx
Labels: type: stories 📚

#5161 chore: update pr template to close issue
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: process 🎞️

#4923 chore(search-bar): cleaned up props
  packages/ibm-products/src/components/SearchBar/SearchBar.stories.jsx
  packages/ibm-products/src/components/SearchBar/SearchBar.test.js
  packages/ibm-products/src/components/SearchBar/SearchBar.tsx
Labels: status: ready to merge 🎉

#5174 test(ImportModal): add default state avt test
  cspell.json
  e2e/components/ImportModal/ImportModal-test.avt.e2e.js
Labels: type: a11y ♿

#5164 test(e2e): add default AVT test to multiple components
  cspell.json
  e2e/components/RemoveModal/RemoveModal-test.avt.e2e.js
  e2e/components/Saving/Saving-test.avt.e2e.js
  e2e/components/SidePanel/SidePanel-test.avt.e2e.js
  packages/ibm-products/src/components/Saving/Saving.stories.jsx
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.jsx
Labels: type: a11y ♿

#4929 feat(tagoverflow): remove TagOverflow dependency on TagSet
  packages/ibm-products-styles/src/components/TagOverflow/_tag-overflow.scss
  packages/ibm-products/src/components/TagOverflow/TagOverflow.js
  packages/ibm-products/src/components/TagOverflow/TagOverflow.mdx
  packages/ibm-products/src/components/TagOverflow/TagOverflow.stories.jsx
  packages/ibm-products/src/components/TagOverflow/TagOverflow.test.js
  packages/ibm-products/src/components/TagOverflow/TagOverflowModal.js
  packages/ibm-products/src/components/TagOverflow/TagOverflowPopover.js
  packages/ibm-products/src/components/TagOverflow/utils.js
Labels: status: waiting for maintainer 💬

#5154 refactor(NotificationsPanel): added typescript support to the component
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.tsx
Labels: area: typescript

#5250 feat: adds triage label when issue opened or reopened
  .github/workflows/add-triage-label.yml
Labels: type: process 🎞️

#5054 feat(get-started): new component
  e2e/components/GetStartedCard/GetStartedCard-test.avt.e2e.js
  examples/carbon-for-ibm-products/GetStartedCard/gallery.config.json
  examples/carbon-for-ibm-products/GetStartedCard/package.json
  examples/carbon-for-ibm-products/GetStartedCard/src/Example/Example.jsx
  examples/carbon-for-ibm-products/GetStartedCard/src/Example/_example.scss
  examples/carbon-for-ibm-products/GetStartedCard/thumbnail.png
  packages/ibm-products-styles/src/components/GetStartedCard/_carbon-imports.scss
  packages/ibm-products-styles/src/components/GetStartedCard/_get-started-card.scss
  packages/ibm-products-styles/src/components/GetStartedCard/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/GetStartedCard/_index.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/Card/Card.js
  packages/ibm-products/src/components/Card/CardFooter.js
  packages/ibm-products/src/components/GetStartedCard/GetStartedCard.js
  packages/ibm-products/src/components/GetStartedCard/GetStartedCard.mdx
  packages/ibm-products/src/components/GetStartedCard/GetStartedCard.stories.jsx
  packages/ibm-products/src/components/GetStartedCard/GetStartedCard.test.js
  packages/ibm-products/src/components/GetStartedCard/_story-assets/abstract-image.svg
  packages/ibm-products/src/components/GetStartedCard/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: needs design review 🎨

#5255 feat(Datagrid): add `onVirtualScroll` property to send back data around currently visible rows in virtualized Datagrids
  cspell.json
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.jsx
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: component: Datagrid

#5303 fix(storybook): use markdown component to render custom docs
  packages/ibm-products/src/global/js/utils/StoryDocsPage.js
Labels: type: stories 📚

#5264 fix(Tearsheet): properly focus specified element with new hook
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/src/global/js/hooks/useFocus.js
Labels: component: Tearsheet

#5229 fix(ExpressiveCard): use CarbonIconType for pictogram
  packages/ibm-products/src/components/ExpressiveCard/ExpressiveCard.tsx
Labels: status: one more review 👀

#5171 test(WebTerminal): add default state AVT check
  e2e/components/WebTerminal/WebTerminal-test.avt.e2e.js
  packages/ibm-products/src/components/WebTerminal/WebTerminal.tsx
Labels: status: one more review 👀

#5017 fix: Return focus to launcher button
  packages/ibm-products/src/components/SidePanel/SidePanel.stories.jsx
  packages/ibm-products/src/components/SidePanel/SidePanel.test.js
  packages/ibm-products/src/components/SidePanel/SidePanel.tsx
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.jsx
  packages/ibm-products/src/components/Tearsheet/Tearsheet.test.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.tsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.stories.jsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
Labels: status: one more review 👀

#5275 refactor(PageHeader): implement typescript types
  packages/ibm-products/src/components/PageHeader/PageHeader.tsx
  packages/ibm-products/src/components/PageHeader/PageHeaderUtils.js
Labels: status: one more review 👀

#4437 feat: adding a migration guide for the old security package components
  cspell.json
  docs/guides/security-component-migration.md
Labels: type: docs 📖, package: security, area: migration ➡️

#5321 feat(Guidebanner): convert to .tsx
  packages/ibm-products/src/components/Guidebanner/Guidebanner.tsx
  packages/ibm-products/src/components/Guidebanner/GuidebannerElement.tsx
  packages/ibm-products/src/components/Guidebanner/GuidebannerElementButton.tsx
  packages/ibm-products/src/components/Guidebanner/GuidebannerElementLink.tsx
Labels: status: one more review 👀

#5316 fix(StringFormatter): scope popover to string formatter block class
  packages/ibm-products-styles/src/components/StringFormatter/_string-formatter.scss
Labels: status: one more review 👀

#4941 fix: coachmark stack not showing stack
  packages/ibm-products-styles/src/components/CoachmarkStack/_coachmark-stack.scss
Labels: area: plg ✨, status: one more review 👀

#5249 feat(TagOverflow): overflow tooltip variants
  packages/ibm-products-styles/src/components/TagOverflow/_tag-overflow.scss
  packages/ibm-products/src/components/TagOverflow/TagOverflow.js
  packages/ibm-products/src/components/TagOverflow/TagOverflow.stories.jsx
  packages/ibm-products/src/components/TagOverflow/TagOverflowModal.js
  packages/ibm-products/src/components/TagOverflow/TagOverflowPopover.js
Labels: status: one more review 👀

#5248 feat(conditionBuilder): keyboard accessibility for sentence variant
  packages/ibm-products-styles/src/components/ConditionBuilder/styles/_conditionBuilderCondition.scss
  packages/ibm-products-styles/src/components/ConditionBuilder/styles/_conditionBuilderItem.scss
  packages/ibm-products/src/components/ConditionBuilder/ConditionBlock/ConditionBlock.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderAdd/ConditionBuilderAdd.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderButton/ConditionBuilderButton.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderContent/ConditionBuilderContent.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItem.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemDate/ConditionBuilderItemDate.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemNumber/ConditionBuilderItemNumber.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemOption/ConditionBuilderItemOption.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemText/ConditionBuilderItemText.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilderItem/ConditionBuilderItemTime/ConditionBuilderItemTime.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionConnector/ConditionConnector.js
  packages/ibm-products/src/components/ConditionBuilder/ConditionGroupBuilder/ConditionGroupBuilder.js
  packages/ibm-products/src/components/ConditionBuilder/utils/checkForHoldingKey.js
  packages/ibm-products/src/components/ConditionBuilder/utils/handleKeyboardEvents.js
  packages/ibm-products/src/components/ConditionBuilder/utils/util.js
Labels: status: one more review 👀

#5331 chore(release): set up release workflow
  .github/workflows/automerge.yml
  .github/workflows/release-base.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-minor.yml
  .github/workflows/release-patch.yml
  cspell.json
  docs/guides/release.md
Labels: type: process 🎞️

#5254 fix(Datagrid): show column headers for empty infinite scroll
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
Labels: component: Datagrid, status: one more review 👀

#5332 fix(PageHeader): enable canary `ActionBar` inside of `PageHeader`
  packages/ibm-products/src/components/PageHeader/PageHeader.tsx
Labels: component: PageHeader, status: one more review 👀
