Repository carbon-design-system/ibm-products, pull requests merged in 2024-02, with the labels that each got.

#4182 fix(DataGrid): customize column prevent disabled drop v1
  packages/ibm-products/src/components/Datagrid/Datagrid/DraggableElement.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
Labels: status: ready to merge 🎉, component: Datagrid, v1

#4194 fix(DataGrid): column customisation not unselect locked columns V1
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: component: Datagrid, v1

#4191 fix(DataGrid): column customisation not unselect locked columns
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/Columns.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/CustomizeColumnsTearsheet.js
Labels: component: Datagrid, v2

#4157 fix(Button menu): button menu accessibility issue - 3519
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.stories.js
  packages/ibm-products/src/components/ButtonMenu/ButtonMenu.test.js
Labels: v1

#4137 fix(Empty state): accessibility defect
  packages/ibm-products/src/components/EmptyStates/EmptyState.test.js
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.js
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NoDataEmptyState/NoDataEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NoDataEmptyState/NoDataEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/NoTagsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/NoTagsEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/NotFoundEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/NotFoundEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/NotificationsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/NotificationsEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.js
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/assets/ErrorIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoDataIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoTagsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotFoundIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotificationsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/UnauthorizedIllustration.js
Labels: v2

#4205 fix(Datagrid): address ssr bug in nested row hook (v2)
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
Labels: component: Datagrid, v2

#4199 fix(DataGrid): Column customization improvements
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/CustomizeColumns/ButtonWrapper.js
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
Labels: component: Datagrid, v1

#4204 fix(Datagrid): address ssr bug in nested row hook (v1)
  packages/ibm-products/src/components/Datagrid/useNestedRowExpander.js
Labels: component: Datagrid, v1

#4214 feat: add the SelectAll checkbox callback function for Batch actions …
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.js
Labels: component: Datagrid, v1

#4144 fix(Empty state): accessibility defect 4033 v1
  packages/ibm-products/src/components/EmptyStates/EmptyState.test.js
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.js
  packages/ibm-products/src/components/EmptyStates/ErrorEmptyState/ErrorEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NoDataEmptyState/NoDataEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NoDataEmptyState/NoDataEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/NoTagsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NoTagsEmptyState/NoTagsEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/NotFoundEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotFoundEmptyState/NotFoundEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/NotificationsEmptyState.js
  packages/ibm-products/src/components/EmptyStates/NotificationsEmptyState/NotificationsEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.js
  packages/ibm-products/src/components/EmptyStates/UnauthorizedEmptyState/UnauthorizedEmptyState.stories.js
  packages/ibm-products/src/components/EmptyStates/assets/ErrorIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoDataIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NoTagsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotFoundIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/NotificationsIllustration.js
  packages/ibm-products/src/components/EmptyStates/assets/UnauthorizedIllustration.js
Labels: v1

#4184 feat: Gradient ai updates
  cspell.json
  packages/core/package.json
  packages/ibm-products-community/package.json
  packages/ibm-products-styles/package.json
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Card/_card.scss
  packages/ibm-products-styles/src/components/SidePanel/_side-panel.scss
  packages/ibm-products/package.json
  packages/ibm-products/src/components/Card/Card.js
  packages/ibm-products/src/components/Card/CardHeader.js
  yarn.lock
Labels: Prioritized, area: AI

#4172 build: add support for typescript
  .yarn/cache/spdx-exceptions-npm-2.3.0-2b68dad75a-cb69a26fa3.zip
  config/babel-preset-ibm-cloud-cognitive/index.js
  config/babel-preset-ibm-cloud-cognitive/package.json
  config/jest-config-ibm-cloud-cognitive/index.js
  config/jest-config-ibm-cloud-cognitive/package.json
  config/jest-config-ibm-cloud-cognitive/transform/javascript.js
  docs/guides/adding-component-types.md
  package.json
  packages/core/.storybook/babel.config.json
  packages/core/.storybook/main.js
  packages/core/babel.config.js
  packages/core/package.json
  packages/ibm-products-community/.babelrc.js
  packages/ibm-products-community/babel.config.js
  packages/ibm-products/.babelrc.js
  packages/ibm-products/babel.config.js
  packages/ibm-products/package.json
  packages/ibm-products/scripts/build.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/OverflowCheckboxes.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/handleCheckboxChange.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/PageHeader/PageHeaderTitle.js
  packages/ibm-products/src/components/Saving/Saving.tsx
  packages/ibm-products/src/global/js/package-settings.js
  packages/ibm-products/src/global/js/utils/devtools.js
  packages/ibm-products/src/index.ts
  packages/ibm-products/tsconfig.json
  yarn.lock
Labels: dependencies, v2, type: infrastructure 🤖, area: typescript

#4225 feat: add compliance footer in v2 Storybook
  packages/core/.storybook/manager-head.html
  packages/core/package.json
Labels: v2

#4139 feat(TruncatedList): new component TruncatedList
  examples/carbon-for-ibm-products/TruncatedList/README.md
  examples/carbon-for-ibm-products/TruncatedList/gallery.config.json
  examples/carbon-for-ibm-products/TruncatedList/index.html
  examples/carbon-for-ibm-products/TruncatedList/package.json
  examples/carbon-for-ibm-products/TruncatedList/src/App.jsx
  examples/carbon-for-ibm-products/TruncatedList/src/Example/Example.jsx
  examples/carbon-for-ibm-products/TruncatedList/src/Example/_example.scss
  examples/carbon-for-ibm-products/TruncatedList/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/TruncatedList/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/TruncatedList/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/TruncatedList/src/config.js
  examples/carbon-for-ibm-products/TruncatedList/src/favicon.svg
  examples/carbon-for-ibm-products/TruncatedList/src/index.scss
  examples/carbon-for-ibm-products/TruncatedList/src/main.jsx
  examples/carbon-for-ibm-products/TruncatedList/thumbnail.png
  examples/carbon-for-ibm-products/TruncatedList/vite.config.js
  examples/carbon-for-ibm-products/TruncatedList/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/TruncatedList--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/TruncatedList/_carbon-imports.scss
  packages/ibm-products-styles/src/components/TruncatedList/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/TruncatedList/_index.scss
  packages/ibm-products-styles/src/components/TruncatedList/_truncated-list.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/TruncatedList/TruncatedList.js
  packages/ibm-products/src/components/TruncatedList/TruncatedList.mdx
  packages/ibm-products/src/components/TruncatedList/TruncatedList.stories.js
  packages/ibm-products/src/components/TruncatedList/TruncatedList.test.js
  packages/ibm-products/src/components/TruncatedList/_storybook-styles.scss
  packages/ibm-products/src/components/TruncatedList/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: package: security, v2, status: waiting for reviewer 💬, area: migration ➡️

#4226 feat: add compliance footer in v1 Storybook
  packages/core/.storybook/manager-head.html
Labels: v1

#4150 chore: community readme init
  packages/ibm-products-community/README.md
Labels: status: WIP, package: community

#4201 fix(DataGrid): column customization improvements v1
  packages/ibm-products/src/components/Datagrid/Extensions/ColumnCustomization/ColumnCustomization.stories.js
Labels: component: Datagrid, v1

#4179 feat(Datagrid): update filtering copyright headers, review eslint disable rules, remove filter feature flags (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilterContext.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useShouldDisableButtons.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useSubscribeToEventEmitter.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/index.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/styles/addons/_FilterPanel.scss
  packages/ibm-products/src/components/Datagrid/useFiltering.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: component: Datagrid, v1, component: filter

#4178 feat(Datagrid): update filtering copyright headers, review eslint disable rules, remove filter feature flags
  packages/ibm-products-styles/src/components/Datagrid/styles/addons/_FilterPanel.scss
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/OverflowCheckboxes.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilterContext.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useShouldDisableButtons.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useSubscribeToEventEmitter.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/index.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Filtering.docs-page.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: component: Datagrid, v2

#4246 build: upgrade ts eslint packages
  package.json
  yarn.lock
Labels: type: infrastructure 🤖

#4243 feat(Datagrid): add mouseUp event for onColResizeEnd #4235
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: component: Datagrid, v2

#4236 fix(Datagrid): ssr datagrid fixes (v1)
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSelectAll.js
  packages/ibm-products/src/components/Datagrid/useInfiniteScroll.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: component: Datagrid, v1

#4129 fix(Tearsheet): implement focus trapping within tearsheets
  packages/ibm-products/src/components/CreateTearsheet/preview-components/MultiStepWithIntro.js
  packages/ibm-products/src/components/Tearsheet/Tearsheet.test.js
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
  packages/ibm-products/src/global/js/hooks/index.js
  packages/ibm-products/src/global/js/hooks/useFocus.js
Labels: v2

#4298 fix(UserAvatar): improve interactions
  packages/ibm-products-styles/src/components/UserAvatar/_user-avatar.scss
  packages/ibm-products/src/components/UserAvatar/UserAvatar.js
  packages/ibm-products/src/components/UserAvatar/UserAvatar.test.js
Labels: component: UserAvatar

#4295 refactor: convert Cascade to typescript
  packages/ibm-products/src/components/Cascade/Cascade.tsx
Labels: v2, area: typescript

#4229 feat(Datagrid): add ai slug support for rows
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Slug/DatagridSlug.js
  packages/ibm-products/src/components/Datagrid/Extensions/Slug/Slug.stories.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
  packages/ibm-products/src/components/Datagrid/utils/makeData.js
Labels: component: Datagrid, v2, area: AI

#4293 fix(Datagrid): changes getRowId parameter to original row data (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: component: Datagrid, v1

#4133 fix(Tearsheet): implement focus trapping within tearsheets in V1
  packages/ibm-products/src/components/CreateTearsheet/preview-components/MultiStepWithIntro.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
  packages/ibm-products/src/global/js/hooks/useFocus.js
Labels: v1

#4307 fix: use flex-start instead of start and update `DatagridSlug` return
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/FilterSummary/_filter-summary.scss
  packages/ibm-products-styles/src/components/ProductiveCard/_productive-card.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Slug/DatagridSlug.js
Labels: v2

#4317 fix(Datagrid): ssr fix in `useSelectAllToggle` hook (v1)
  packages/ibm-products/src/components/Datagrid/useSelectAllToggle.js
Labels: component: Datagrid, v1

#4316 fix(Datagrid): ssr fix in `useSelectAllToggle` hook
  packages/ibm-products/src/components/Datagrid/useSelectAllToggle.js
Labels: component: Datagrid, v2

#4207 fix(Datagrid): filtering bug with table refresh
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/FullPageError/FullPageError.stories.js
Labels: component: Datagrid, v2, component: filter

#4213 fix(Datagrid): filtering bug with table refresh (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: component: Datagrid, v1, component: filter

#4328 feat: add isomorphic hook to address ssr issues (v1)
  packages/ibm-products/src/components/Datagrid/useSelectAllToggle.js
  packages/ibm-products/src/global/js/hooks/index.js
  packages/ibm-products/src/global/js/hooks/useIsomorphicEffect.js
Labels: v1

#4324 feat: add isomorphic hook to address ssr issues
  packages/ibm-products/src/components/Datagrid/useSelectAllToggle.js
  packages/ibm-products/src/global/js/hooks/index.js
  packages/ibm-products/src/global/js/hooks/useIsomorphicEffect.js
Labels: v2

#4330 chore: fix compliance footer and add common.js
  cspell.packages.txt
  packages/core/.storybook/manager-head.html
Labels: v2

#4331 chore: fix compliance footer and add common.js
  cspell.packages.txt
  packages/core/.storybook/manager-head.html
Labels: v1

#4325 fix(Datagrid): fixes selectedRowData updating on cancel/unselecting
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/stateReducer.js
Labels: component: Datagrid, v2

#4341 fix(Datagrid): disable resizing during fetching state
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
Labels: component: Datagrid, v2

#4342 fix(Datagrid): disable resizing during fetching state (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
Labels: component: Datagrid, v1

#4249 feat(StringFormatter): new component StringFormatter
  examples/carbon-for-ibm-products/StringFormatter/README.md
  examples/carbon-for-ibm-products/StringFormatter/gallery.config.json
  examples/carbon-for-ibm-products/StringFormatter/index.html
  examples/carbon-for-ibm-products/StringFormatter/package.json
  examples/carbon-for-ibm-products/StringFormatter/src/App.jsx
  examples/carbon-for-ibm-products/StringFormatter/src/Example/Example.jsx
  examples/carbon-for-ibm-products/StringFormatter/src/Example/_example.scss
  examples/carbon-for-ibm-products/StringFormatter/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/StringFormatter/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/StringFormatter/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/StringFormatter/src/config.js
  examples/carbon-for-ibm-products/StringFormatter/src/favicon.svg
  examples/carbon-for-ibm-products/StringFormatter/src/index.scss
  examples/carbon-for-ibm-products/StringFormatter/src/main.jsx
  examples/carbon-for-ibm-products/StringFormatter/thumbnail.png
  examples/carbon-for-ibm-products/StringFormatter/vite.config.js
  examples/carbon-for-ibm-products/StringFormatter/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/StringFormatter--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/StringFormatter/_carbon-imports.scss
  packages/ibm-products-styles/src/components/StringFormatter/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/StringFormatter/_index.scss
  packages/ibm-products-styles/src/components/StringFormatter/_string-formatter.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/StringFormatter/StringFormatter.js
  packages/ibm-products/src/components/StringFormatter/StringFormatter.mdx
  packages/ibm-products/src/components/StringFormatter/StringFormatter.stories.js
  packages/ibm-products/src/components/StringFormatter/StringFormatter.test.js
  packages/ibm-products/src/components/StringFormatter/_storybook-styles.scss
  packages/ibm-products/src/components/StringFormatter/index.js
  packages/ibm-products/src/components/StringFormatter/utils/enums.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: waiting for reviewer 💬, area: migration ➡️

#4318 feat(SidePanel): initial reduced motion work for side panel opacity
  packages/ibm-products-styles/src/components/SidePanel/_side-panel.scss
  packages/ibm-products/src/components/SidePanel/SidePanel.js
  packages/ibm-products/src/components/SidePanel/motion/variants.js
Labels: component: SidePanel, v2

#4174 feat(BigNumbers): new component BigNumbers
  examples/carbon-for-ibm-products/BigNumbers/README.md
  examples/carbon-for-ibm-products/BigNumbers/gallery.config.json
  examples/carbon-for-ibm-products/BigNumbers/index.html
  examples/carbon-for-ibm-products/BigNumbers/package.json
  examples/carbon-for-ibm-products/BigNumbers/src/App.jsx
  examples/carbon-for-ibm-products/BigNumbers/src/Example/Example.jsx
  examples/carbon-for-ibm-products/BigNumbers/src/Example/_example.scss
  examples/carbon-for-ibm-products/BigNumbers/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/BigNumbers/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/BigNumbers/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/BigNumbers/src/config.js
  examples/carbon-for-ibm-products/BigNumbers/src/favicon.svg
  examples/carbon-for-ibm-products/BigNumbers/src/index.scss
  examples/carbon-for-ibm-products/BigNumbers/src/main.jsx
  examples/carbon-for-ibm-products/BigNumbers/thumbnail.png
  examples/carbon-for-ibm-products/BigNumbers/vite.config.js
  examples/carbon-for-ibm-products/BigNumbers/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/BigNumbers--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/BigNumbers/_big-numbers.scss
  packages/ibm-products-styles/src/components/BigNumbers/_carbon-imports.scss
  packages/ibm-products-styles/src/components/BigNumbers/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/BigNumbers/_index.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/BigNumbers/BigNumbers.js
  packages/ibm-products/src/components/BigNumbers/BigNumbers.mdx
  packages/ibm-products/src/components/BigNumbers/BigNumbers.stories.js
  packages/ibm-products/src/components/BigNumbers/BigNumbers.test.js
  packages/ibm-products/src/components/BigNumbers/_storybook-styles.scss
  packages/ibm-products/src/components/BigNumbers/constants.js
  packages/ibm-products/src/components/BigNumbers/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: waiting for reviewer 💬, area: migration ➡️

#4312 feat(UserAvatar): implementation of name,size props
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/UserAvatar/_user-avatar.scss
  packages/ibm-products/src/components/UserAvatar/UserAvatar.js
  packages/ibm-products/src/components/UserAvatar/UserAvatar.mdx
  packages/ibm-products/src/components/UserAvatar/UserAvatar.stories.js
  packages/ibm-products/src/components/UserAvatar/UserAvatar.test.js
Labels: component: UserAvatar

#4215 feat: Tearsheet ai
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Tearsheet/_tearsheet.scss
  packages/ibm-products/src/components/Tearsheet/Tearsheet.stories.js
  packages/ibm-products/src/components/Tearsheet/TearsheetNarrow.stories.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.stories.js
  scripts/example-gallery-builder/update-example/templates-react-16/package.json
  scripts/example-gallery-builder/update-example/templates-react-17/package.json
Labels: area: AI

#4352 chore: add new example gallery action
  .github/workflows/ci.yml
  .github/workflows/update-example-gallery.yml
Labels: examples, github actions

#4360 fix(DataGrid): add support for selectrow and nestedrow V1
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: component: Datagrid, v1

#4354 fix(Datagrid): add support for selectrow and nestedrow
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/useSelectRows.js
Labels: component: Datagrid, v2

#4361 feat(Datagrid): add support for multi select filter type
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/utils.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
Labels: component: Datagrid, v2, component: filter

#4377 feat(Datagrid): apply latest ai gradients to Datagrid
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridExpandedRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
Labels: component: Datagrid, v2, area: AI

#4364 feat(Datagrid): add support for multi select filter type (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterProvider.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/constants.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/utils.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
Labels: component: Datagrid, v1, component: filter

#4347 feat: sort icon appear in the Actions column on Datagrid #4339
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v1

#4208 feat(DescriptionList): new component DescriptionList
  examples/carbon-for-ibm-products/DescriptionList/README.md
  examples/carbon-for-ibm-products/DescriptionList/gallery.config.json
  examples/carbon-for-ibm-products/DescriptionList/index.html
  examples/carbon-for-ibm-products/DescriptionList/package.json
  examples/carbon-for-ibm-products/DescriptionList/src/App.jsx
  examples/carbon-for-ibm-products/DescriptionList/src/Example/Example.jsx
  examples/carbon-for-ibm-products/DescriptionList/src/Example/_example.scss
  examples/carbon-for-ibm-products/DescriptionList/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/DescriptionList/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/DescriptionList/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/DescriptionList/src/config.js
  examples/carbon-for-ibm-products/DescriptionList/src/favicon.svg
  examples/carbon-for-ibm-products/DescriptionList/src/index.scss
  examples/carbon-for-ibm-products/DescriptionList/src/main.jsx
  examples/carbon-for-ibm-products/DescriptionList/thumbnail.png
  examples/carbon-for-ibm-products/DescriptionList/vite.config.js
  examples/carbon-for-ibm-products/DescriptionList/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/DescriptionList--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/DescriptionList/_carbon-imports.scss
  packages/ibm-products-styles/src/components/DescriptionList/_description-list.scss
  packages/ibm-products-styles/src/components/DescriptionList/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/DescriptionList/_index.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/DescriptionList/DescriptionList.js
  packages/ibm-products/src/components/DescriptionList/DescriptionList.mdx
  packages/ibm-products/src/components/DescriptionList/DescriptionList.stories.js
  packages/ibm-products/src/components/DescriptionList/DescriptionList.test.js
  packages/ibm-products/src/components/DescriptionList/_storybook-styles.scss
  packages/ibm-products/src/components/DescriptionList/constants.js
  packages/ibm-products/src/components/DescriptionList/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: status: waiting for reviewer 💬, area: migration ➡️

#4386 chore(deps): bump ip to 2.0.1
  examples/carbon-for-ibm-products/DescriptionList/yarn.lock
  examples/carbon-for-ibm-products/TruncatedList/yarn.lock
  examples/carbon-for-ibm-products/UserAvatar/yarn.lock
  examples/carbon-for-ibm-products/UserProfileImage/.yarn/install-state.gz
  examples/carbon-for-ibm-products/UserProfileImage/yarn.lock
  examples/carbon-for-ibm-products/WebTerminal/.yarn/install-state.gz
  examples/carbon-for-ibm-products/WebTerminal/yarn.lock
  examples/carbon-for-ibm-products/prefix-example/.yarn/install-state.gz
  examples/carbon-for-ibm-products/prefix-example/yarn.lock
  examples/carbon-for-ibm-products/react-16-example/.yarn/install-state.gz
  examples/carbon-for-ibm-products/react-16-example/yarn.lock
  examples/carbon-for-ibm-products/react-17-example/.yarn/install-state.gz
  examples/carbon-for-ibm-products/react-17-example/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-16/.yarn/install-state.gz
  scripts/example-gallery-builder/update-example/templates-react-16/yarn.lock
  scripts/example-gallery-builder/update-example/templates-react-17/.yarn/install-state.gz
  scripts/example-gallery-builder/update-example/templates-react-17/yarn.lock
  scripts/example-gallery-builder/update-example/templates/.yarn/install-state.gz
  scripts/example-gallery-builder/update-example/templates/yarn.lock
  yarn.lock
Labels: dependencies

#4336 feat(APIKeyModal): add typescript types
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.tsx
  packages/ibm-products/src/components/APIKeyModal/APIKeyModal.types.ts
  packages/ibm-products/src/custom-typings/index.d.ts
Labels: v2, area: typescript

#4401 chore(deps): bump ip to 2.0.1
  examples/carbon-for-ibm-products/PageHeader/.yarn/install-state.gz
  examples/carbon-for-ibm-products/PageHeader/yarn.lock
  examples/carbon-for-ibm-products/ProductiveCard/.yarn/install-state.gz
  examples/carbon-for-ibm-products/ProductiveCard/yarn.lock
  examples/carbon-for-ibm-products/RemoveModal/.yarn/install-state.gz
  examples/carbon-for-ibm-products/RemoveModal/yarn.lock
  examples/carbon-for-ibm-products/Saving/.yarn/install-state.gz
  examples/carbon-for-ibm-products/Saving/yarn.lock
  examples/carbon-for-ibm-products/SearchBar/yarn.lock
  examples/carbon-for-ibm-products/SidePanel/.yarn/install-state.gz
  examples/carbon-for-ibm-products/SidePanel/yarn.lock
  examples/carbon-for-ibm-products/StatusIcon/.yarn/install-state.gz
  examples/carbon-for-ibm-products/StatusIcon/yarn.lock
  examples/carbon-for-ibm-products/StringFormatter/yarn.lock
  examples/carbon-for-ibm-products/TagSet/.yarn/install-state.gz
  examples/carbon-for-ibm-products/TagSet/yarn.lock
  examples/carbon-for-ibm-products/Tearsheet/.yarn/install-state.gz
  examples/carbon-for-ibm-products/Tearsheet/yarn.lock
Labels: dependencies

#4422 chore: update chromedriver resolutions
  yarn.lock
Labels: type: infrastructure 🤖

#4424 feat(Datagrid): add option to specify an initial sortable column (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.mdx
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/useInitialColumnSort.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v1

#4423 feat(Datagrid): add option to specify an initial sortable column
  packages/ibm-products/src/components/Datagrid/Datagrid.docs-page.js
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/useInitialColumnSort.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v2

#4428 test: include avt pr check
  .github/workflows/ci.yml
  actions/wait-for-it/Dockerfile
  actions/wait-for-it/action.yml
  actions/wait-for-it/package.json
  actions/wait-for-it/src/index.js
  config/jest-config-ibm-cloud-cognitive/index.js
  config/jest-config-ibm-cloud-cognitive/jest-preset.js
  config/jest-config-ibm-cloud-cognitive/package.json
  config/jest-config-ibm-cloud-cognitive/transform/css.js
  cspell.json
  e2e/components/Cascade/Cascade-test.avt.e2e.js
  jest.e2e.config.js
  package.json
  playwright.config.js
  yarn.lock
Labels: UX: accessibility, type: infrastructure 🤖

#4170 feat(Decorator): new component Decorator
  examples/carbon-for-ibm-products/Decorator/README.md
  examples/carbon-for-ibm-products/Decorator/gallery.config.json
  examples/carbon-for-ibm-products/Decorator/index.html
  examples/carbon-for-ibm-products/Decorator/package.json
  examples/carbon-for-ibm-products/Decorator/src/App.jsx
  examples/carbon-for-ibm-products/Decorator/src/Example/Example.jsx
  examples/carbon-for-ibm-products/Decorator/src/Example/_example.scss
  examples/carbon-for-ibm-products/Decorator/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/Decorator/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/Decorator/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/Decorator/src/config.js
  examples/carbon-for-ibm-products/Decorator/src/favicon.svg
  examples/carbon-for-ibm-products/Decorator/src/index.scss
  examples/carbon-for-ibm-products/Decorator/src/main.jsx
  examples/carbon-for-ibm-products/Decorator/thumbnail.png
  examples/carbon-for-ibm-products/Decorator/vite.config.js
  examples/carbon-for-ibm-products/Decorator/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/Decorator--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/Decorator/_carbon-imports.scss
  packages/ibm-products-styles/src/components/Decorator/_decorator.scss
  packages/ibm-products-styles/src/components/Decorator/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/Decorator/_index.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/Decorator/Decorator.js
  packages/ibm-products/src/components/Decorator/Decorator.mdx
  packages/ibm-products/src/components/Decorator/Decorator.stories.js
  packages/ibm-products/src/components/Decorator/Decorator.test.js
  packages/ibm-products/src/components/Decorator/DecoratorIcon.js
  packages/ibm-products/src/components/Decorator/_storybook-styles.scss
  packages/ibm-products/src/components/Decorator/index.js
  packages/ibm-products/src/components/Decorator/utils.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: package: security, v2, status: waiting for reviewer 💬, area: migration ➡️

#4378 fix: add aria-label to datagrid toolbar v1
  packages/ibm-products/src/components/Datagrid/Datagrid.stories.js
  packages/ibm-products/src/components/Datagrid/Datagrid/Datagrid.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridToolbar.js
Labels: component: Datagrid, v1

#4320 feat(AboutModal): add typescript types
  packages/ibm-products/src/components/AboutModal/AboutModal.tsx
Labels: v2, area: typescript

#4438 fix: remove false role from datagrid
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridEmptyBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRefBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridSimpleBody.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridVirtualBody.js
Labels: v1

#4440 refactor: convert ToolbarButton to typescript
  .github/CONTRIBUTING.md
  packages/ibm-products/src/components/Toolbar/ToolbarButton.tsx
Labels: component: Toolbar, v2, area: typescript

#4442 fix(Datagrid): add safety checks for saved filters logic
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
Labels: component: Datagrid, v2, component: filter

#4388 fix(Datagrid): align nested/expanded row borders with text content
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/Datagrid/styles/_useExpandedRow.scss
  packages/ibm-products-styles/src/components/Datagrid/styles/_useNestedRows.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridRow.js
Labels: component: Datagrid, v2

#4449 fix(TagSet): address color contrast issue in overflow link button
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/TagSet/_tag-set.scss
Labels: v2, UX: accessibility

#4454 fix: about modal layout
  packages/core/package.json
  packages/ibm-products-community/package.json
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/AboutModal/_about-modal.scss
  packages/ibm-products/package.json
  packages/ibm-products/src/components/AboutModal/AboutModal.stories.js
  packages/ibm-products/src/components/AboutModal/AboutModal.tsx
  scripts/example-gallery-builder/update-example/templates-react-16/package.json
  scripts/example-gallery-builder/update-example/templates-react-17/package.json
  scripts/example-gallery-builder/update-example/templates/package.json
  yarn.lock
Labels: component: modal, v2
