Repository carbon-design-system/ibm-products, pull requests merged in 2024-01, with the labels that each got.

#3996 feat(Datagrid): add reduced motion support to filter panel (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/motion/variants.js
Labels: component: Datagrid, v1

#3994 feat(Datagrid): add reduced motion support to filter panel
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/motion/variants.js
Labels: component: Datagrid, v2

#3999 fix(SidePanel): action buttons layout at 2xl (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/SidePanel/_side-panel.scss
Labels: component: SidePanel, v1, status: waiting for reviewer 💬

#4000 fix(SidePanel): action buttons layout at 2xl (v2)
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/SidePanel/_side-panel.scss
Labels: component: SidePanel, v2, status: waiting for reviewer 💬

#3989 fix(Tearsheet): stop trying to focus closed tearsheets
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.js
Labels: component: Tearsheet

#4010 fix(Datagrid): use correct motion specs for reduced motion filter panel
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/motion/variants.js
Labels: component: Datagrid, v2, component: filter

#4024 fix(Datagrid): use correct motion specs for reduced motion filter panel (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/motion/variants.js
Labels: component: Datagrid, v1, component: filter

#4001 feat(Datagrid): add responsive updates to filter flyout
  packages/ibm-products-styles/src/components/Datagrid/styles/addons/_FilterFlyout.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
Labels: component: Datagrid, v2, component: filter

#4002 feat(Datagrid): add responsive updates to filter flyout (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/styles/addons/_FilterFlyout.scss
Labels: component: Datagrid, v1, component: filter

#4034 fix(SidePanel): check for element before proceeding, add warning
  packages/ibm-products/src/components/SidePanel/SidePanel.js
Labels: component: SidePanel, v2

#4048 test(Datagrid): beginning of filtering test coverage
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useShouldDisableButtons.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/utils/filterPropsForTesting.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.test.js
Labels: component: Datagrid, v2, status: needs v1 PR, component: filter, component: FilterSummary

#4067 fix(DataGrid): nested rows on click on child row v1
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useOnRowClick.js
Labels: component: Datagrid, v1

#4054 fix(TagSet): margin fix for overflow items
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/TagSet/_tag-set.scss
Labels: component: TagSet

#4077 chore(Datagrid): use browser locale to avoid confusion in formatting (v1)
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
Labels: component: Datagrid, v1, component: filter

#4076 chore(Datagrid): use browser locale to avoid confusion in formatting
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Panel.stories.js
Labels: component: Datagrid, v2, component: filter

#4088 feat(Datagrid): add support for initially expanded nested rows
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/useNestedRows.js
Labels: component: Datagrid, v2

#4089 feat(Datagrid): add support for initially expanded nested rows (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Extensions/NestedRows/NestedRows.stories.js
  packages/ibm-products/src/components/Datagrid/useNestedRows.js
Labels: component: Datagrid, v1

#4070 test(Datagrid): increases filtering test coverage part 2
  cspell.json
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/utils.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
  packages/ibm-products/src/components/Datagrid/utils/filterPropsForTesting.js
Labels: component: Datagrid, v2, component: filter

#4134 fix(ButtonMenu): export as canary
  packages/ibm-products/carbon.yml
  packages/ibm-products/src/components/index.js
Labels: v1

#4069 feat(DelimitedList): new component DelimitedList
  examples/carbon-for-ibm-products/DelimitedList/README.md
  examples/carbon-for-ibm-products/DelimitedList/gallery.config.json
  examples/carbon-for-ibm-products/DelimitedList/index.html
  examples/carbon-for-ibm-products/DelimitedList/package.json
  examples/carbon-for-ibm-products/DelimitedList/src/App.jsx
  examples/carbon-for-ibm-products/DelimitedList/src/Example/Example.jsx
  examples/carbon-for-ibm-products/DelimitedList/src/Example/_example.scss
  examples/carbon-for-ibm-products/DelimitedList/src/ThemeSelector/ThemeContext.jsx
  examples/carbon-for-ibm-products/DelimitedList/src/ThemeSelector/ThemeDropdown.jsx
  examples/carbon-for-ibm-products/DelimitedList/src/ThemeSelector/_theme-dropdown.scss
  examples/carbon-for-ibm-products/DelimitedList/src/config.js
  examples/carbon-for-ibm-products/DelimitedList/src/favicon.svg
  examples/carbon-for-ibm-products/DelimitedList/src/index.scss
  examples/carbon-for-ibm-products/DelimitedList/src/main.jsx
  examples/carbon-for-ibm-products/DelimitedList/thumbnail.png
  examples/carbon-for-ibm-products/DelimitedList/vite.config.js
  examples/carbon-for-ibm-products/DelimitedList/yarn.lock
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/DelimitedList--thumbnail.png
  examples/carbon-for-ibm-products/example-gallery/src/gallery-config/index.js
  examples/carbon-for-ibm-products/gallery-examples.test.js
  packages/core/story-structure.js
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/DelimitedList/_carbon-imports.scss
  packages/ibm-products-styles/src/components/DelimitedList/_delimited-list.scss
  packages/ibm-products-styles/src/components/DelimitedList/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/DelimitedList/_index.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/_index.scss
  packages/ibm-products/src/components/DelimitedList/DelimitedList.docs-page.js
  packages/ibm-products/src/components/DelimitedList/DelimitedList.js
  packages/ibm-products/src/components/DelimitedList/DelimitedList.mdx
  packages/ibm-products/src/components/DelimitedList/DelimitedList.stories.js
  packages/ibm-products/src/components/DelimitedList/DelimitedList.test.js
  packages/ibm-products/src/components/DelimitedList/_storybook-styles.scss
  packages/ibm-products/src/components/DelimitedList/index.js
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: package: security, v2

#3997 fix(TagSet): close tag set overflow upon displayed tag `onClose` being called
  packages/ibm-products/src/components/TagSet/TagSet.js
  packages/ibm-products/src/components/TagSet/TagSetOverflow.js
Labels: component: TagSet, component: Datagrid, v2, component: FilterSummary

#4155 feat(ButtonMenu): export button menu item component (v1)
  packages/ibm-products/src/components/index.js
  packages/ibm-products/src/global/js/package-settings.js
Labels: v1

#4127 fix(InterstitialScreen): bugfix/changes from adding component
  packages/ibm-products/src/components/InterstitialScreen/InterstitialScreen.js
  packages/ibm-products/src/components/InterstitialScreen/_interstitial-screen.scss
Labels: area: Novice to pro ✨, v1

#4143 test(Datagrid): increase filtering test coverage (v1)
  cspell.json
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterFlyout.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useFilters.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/hooks/useShouldDisableButtons.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/utils.js
  packages/ibm-products/src/components/Datagrid/Extensions/Filtering/Flyout.stories.js
  packages/ibm-products/src/components/Datagrid/useFiltering.js
  packages/ibm-products/src/components/Datagrid/utils/filterPropsForTesting.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/FilterSummary/FilterSummary.test.js
Labels: component: Datagrid, v1, component: filter

#4160 test(Datagrid): always set a locale to prevent date format changes in `renderDateLabel` test (v1)
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
Labels: component: Datagrid, v1

#4159 test(Datagrid): always set a locale to prevent date format changes in `renderDateLabel` test
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
Labels: component: Datagrid, v2

#4158 fix(sidePanel): adjust title spacing when there is no subtitle v1
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/SidePanel/_side-panel.scss
Labels: v1

#4152 fix(Datagrid): fix placement of pagination when used with filter panel
  packages/ibm-products-styles/src/components/Datagrid/_datagrid.scss
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
Labels: component: Datagrid, v2, component: filter

#4173 fix(DataGrid): use action column use isdelete prop V1
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
  yarn.lock
Labels: component: Datagrid, v1

#4163 feat(Datagrid): add ai slug support to col headers
  packages/core/story-structure.js
  packages/ibm-products-styles/src/components/Datagrid/styles/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridHeaderRow.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Slug/ColumnHeaderSlug.js
  packages/ibm-products/src/components/Datagrid/Extensions/Slug/Slug.stories.js
  packages/ibm-products/src/components/Datagrid/useDefaultStringRenderer.js
  packages/ibm-products/src/components/Datagrid/useSortableColumns.js
Labels: component: Datagrid, v2, area: AI

#4030 feat(Datagrid): add expand icon button in filter summary
  README.md
  packages/ibm-products-styles/src/components/FilterSummary/_filter-summary.scss
  packages/ibm-products/README.md
  packages/ibm-products/src/components/FilterSummary/FilterSummary.js
  packages/ibm-products/src/components/TagSet/TagSet.js
Labels: component: Datagrid, v2, component: filter

#4161 fix(DataGrid): use action column use isdelete prop
  packages/ibm-products/src/components/Datagrid/Datagrid.test.js
  packages/ibm-products/src/components/Datagrid/useActionsColumn.js
Labels: component: Datagrid, v2

#4153 fix(Datagrid): fix placement of pagination when used with filter panel (v1)
  packages/ibm-products/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products/src/components/Datagrid/Datagrid/DatagridContent.js
  packages/ibm-products/src/components/Datagrid/Datagrid/addons/Filtering/FilterPanel.js
  packages/ibm-products/src/components/Datagrid/_datagrid.scss
  packages/ibm-products/src/components/Datagrid/styles/_datagrid.scss
Labels: component: Datagrid, v1, component: filter
