Repository carbon-design-system/ibm-products, pull requests merged in 2025-01, with the labels that each got.

#6675 fix(web-components): addresses issues in wc build script
  packages/ibm-products-web-components/package.json
  packages/ibm-products-web-components/tasks/build.js
  packages/ibm-products-web-components/tools/svg-result-carbon-icon-loader.js
  packages/ibm-products-web-components/tools/svg-result-carbon-icon.js
  packages/ibm-products-web-components/tools/vite-svg-result-carbon-icon-loader.ts
  packages/ibm-products-web-components/vite.config.ts
  yarn.lock
Labels: web component

#6658 fix(conditionbuilder): property text in each condition should be bold
  packages/ibm-products-styles/src/components/ConditionBuilder/styles/_conditionBuilderItem.scss
Labels: status: one more review 👀

#6340 fix(Pageheader,Tearsheet,Notifications): resolves CSP violations
  packages/ibm-products/src/components/ConditionBuilder/ConditionBuilder.types.ts
  packages/ibm-products/src/components/DataSpreadsheet/DataSpreadsheetBody.tsx
  packages/ibm-products/src/components/NotificationsPanel/NotificationsPanel.tsx
  packages/ibm-products/src/components/PageHeader/PageHeader.test.js
  packages/ibm-products/src/components/PageHeader/PageHeader.tsx
  packages/ibm-products/src/components/Tearsheet/TearsheetShell.tsx
  packages/ibm-products/src/custom-typings/index.d.ts
Labels: hacktoberfest

#6346 fix(scrollgradient, stringformatter, truncatedlist, webterminal): csp
  packages/ibm-products/src/components/ScrollGradient/ScrollGradient.js
  packages/ibm-products/src/components/StringFormatter/StringFormatter.js
  packages/ibm-products/src/components/TruncatedList/TruncatedList.tsx
  packages/ibm-products/src/components/WebTerminal/WebTerminal.tsx
Labels: hacktoberfest, status: percy 🦔

#6699 fix(actions): gen new token inside `triage-labeled-issues` action
  .github/workflows/triage-labeled-issues.yml
Labels: github actions

#6710 fix: component token style import
  packages/ibm-products-styles/src/__tests__/__snapshots__/styles.test.js.snap
  packages/ibm-products-styles/src/components/ConditionBuilder/styles/_conditionBuilderCondition.scss
  packages/ibm-products-styles/src/components/ConditionBuilder/styles/_conditionBuilderItem.scss
  packages/ibm-products-styles/src/components/EditTearsheet/_carbon-imports.scss
  packages/ibm-products-styles/src/components/EditTearsheet/_edit-tearsheet.scss
  packages/ibm-products-styles/src/components/EditTearsheet/_index-with-carbon.scss
  packages/ibm-products-styles/src/components/UserAvatar/_user-avatar.scss
  packages/ibm-products-styles/src/components/_index-released-only-with-carbon.scss
  packages/ibm-products-styles/src/components/_index-with-carbon.scss
Labels: status: one more review 👀
